.row {
    width: 100%;
}
#footerImage {
    background-image: url('/assets/images/footer.png');
    height: 278px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.footer {
    bottom: 0;
    left: 0;
    position: relative;
}
.container-fluid {
    padding: 0;
}
.footerImage {
    padding: 0;
}
.footerImage .komunaPrishtines {
    padding-top: 25%;
    padding-left: 0;
}
.footerImage .komunaPrishtines a {
       padding-left: 38%; 
}
.footerImage .komunaPrishtines h5 {
       padding-left: 0;
       text-align: center; 
}
.footerImage .komunaPrishtines img {
    padding-left: 0;
}
.footerImage .reservedRights {
    padding-top: 80px;
    padding-left: 3%; 
}
.footerImage .reservedRights p:nth-of-type(1) {
    margin-bottom: 0px;
    text-align: center;
}
.footerImage .reservedRights p:nth-of-type(2) {
    text-align: center 
}
.footerImage .dashboard {
    padding-top: 27%;
    padding-right: 23%;
}
.footerImage .dashboard img {
    padding-left: 32%; 
}
.text {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
    font-size: 13px;
}
img {
    padding-top: 20px;
    height: 100px;
}
#techstitution-logo {
    height: 90px;
    padding-top: 10px;
    margin-top: 9px;
}
#copyright {
    padding-top: 3%;
}
.social-media {
    padding-top: 8%;
    padding-left: 0;
    padding-right: 0;
}
.social-media a {
    color: #fff;
}
.social-media a:hover {
   text-decoration: none;
}
.social-media ul {
    list-style: none;
    padding-left: 0;
}
.social-media li {
    margin-bottom: 2px;
}
.social-media p {
    text-align: left;
    margin-bottom: 10px;
}
#footer-div {
    padding-left: 5%;
    margin: 0;
}
#municipality {
    padding-right: 0;
}
#developers {
    padding-left: 35px;
    padding-right: 0;
}
#facebook {
    margin-left: 2%;
    font-size: 13px;
}
#facebook-icon {
    padding-left: 2px;
}
#twitter {
    margin-left: 1%;
    font-size: 13px;
}
#information {
    font-size: 13px;
    padding-left: 0;
    padding-top: 8%;
}
#information ul {
    list-style: none;
    padding-left: 0;
    color: #fff;
}
#information p {
    text-align: left;
    margin-bottom: 10px;
}
#information li {
    margin-bottom: 2px;
}
@media(max-width: 1200px) {
    .text {
        font-size: 17px;
    }
    .footerImage .komunaPrishtines {
        padding-left: 80px;
    }
    .footerImage .reservedRights {
        padding-left: 45px;
    }
    .footerImage .dashboard {
        padding-left: 50px
    }
    .footerImage .dashboard img {
        padding-left:23px; 
    }
}
@media(max-width: 824px) {
    .text {
        width: 200px;
    }
}
@media(max-width: 767px) {
     #footerImage {
        height: 555px;
     }
     .footerImage .komunaPrishtines {
        padding-top: 90px;
        padding-left: 0;
        text-align: center;
     }
     .footerImage .komunaPrishtines img {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 10px;
    }
     .footerImage .reservedRights {
        padding-top: 30px;
        padding-left: 8px;
        text-align: center;
    }
    .footerImage .reservedRights p:nth-of-type(2) {
        padding-left:5px; 
        padding-top: 0;
    }
    .footerImage .dashboard {
        padding-top: 43px;
        padding-left: 0;
        text-align: center;
    }
    .footerImage .dashboard img {
        padding-left: 5px;
        padding-top: 5px; 
        padding-bottom: 20px;
    }
    img {
        padding-top: 20px;
        height: 85px;
    }
    .text {
        width: auto;
    }
 }