<footer>
  <div class="container-fluid">
    <div id="footerImage" class="col-md-12 footerImage">
      <div class="row">
        <div class="col-md-4">
          <div class="komunaPrishtines">
            <h5 class="text">{{ 'footer.municipality' | translate }}</h5>
            <a href="https://kk.rks-gov.net/prishtine/" target="_blank">
              <img src="../assets/images/prishtina-logo.svg">
            </a>
          </div>
        </div>
        <div class="col-md-4 reservedRights">
          <div class="reservedRights">
            <p class="text">{{ 'footer.copyright' | translate }}</p>
            <p class="text">
              <span id="year"></span>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dashboard">
            <h5 class="text">{{ 'footer.developers' | translate }}</h5>
            <a href="http://techstitution.org/" target="_blank">
              <img id="odk-logo" src="../assets/images/techstitution -logo.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>