<footer>
  <div class="container-fluid">
    <div id="footerImage" class="col-md-12 footerImage">
      <div class="row" id="footer-div">
        <div class="col-md-3 social-media">
          <p class="text">{{ 'footer.followUs' | translate }}</p>
          <ul>
            <li>
              <a href="https://www.facebook.com/komunaprishtine/" target="_blank">
                <i class="fa fa-facebook" id="facebook-icon" aria-hidden="true"></i>
                <span id="facebook">Facebook</span>
              </a>
            </li>
            <li id="twitter-li">
              <a href="https://twitter.com/kprishtines" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <span id="twitter">Twitter</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3" id="information">
          <p class="text">{{ 'footer.address' | translate}}</p>
          <ul>
            <li>038/230 900</li>
            <li>{{ 'footer.exactAddress' | translate }}</li>
          </ul>
        </div>
        <div class="col-md-3" id="municipality">
          <div class="komunaPrishtines">
            <h5 class="text">{{ 'footer.municipality' | translate }}</h5>
            <a href="http://prishtinaonline.com/" target="_blank">
              <img src="../assets/images/prishtina-logo.svg">
            </a>
          </div>
        </div>
        <div class="col-md-3" id="developers">
          <div class="dashboard">
            <h5 class="text">{{ 'footer.developers' | translate }}</h5>
            <a href="http://techstitution.org/" target="_blank">
              <img id="techstitution-logo" src="../assets/images/techstitution -logo.png">
            </a>
          </div>
        </div>
      </div>
      <div class="row" id="copyright">
        <div class="col-md-12">
          <div>
            <p class="text">Copyright © ODK
              <span id="year"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>