#footerImage {
    background-image: url('/assets/images/footer.png');
    height: 377px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.footerImage {
    padding: 0;
}
.footerImage .komunaPrishtines {
    float:  left;
    padding-top: 110px;
    padding-left: 130px; 
    
}
.footerImage .komunaPrishtines img {
    padding-left: 70px;
}
.footerImage .reservedRights {
    float: left;
    padding-top: 200px;
    padding-left: 150px; 
}
.footerImage .reservedRights p:nth-of-type(1) {
    margin-bottom: 0px;
}
.footerImage .reservedRights p:nth-of-type(2) {
    padding-left:50px; 
}
.footerImage .dashboard {
    float: left;
    padding-top: 110px;
    padding-left: 70px;
}
.footerImage .dashboard img {
    padding-left:45px; 
}
.text {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
img {
    padding-top: 20px;
    height: 105px;
}
.container-fluid {
    width: 100%
}