<footer class="page-footer">
  <div class="containe">
      <div class="row">
        <div id="footerImage" class="col-md-12 footerImage">
          <div class="col-md-4">
            <div class="komunaPrishtines">
              <h5 class="text">Komuna e Prishtinës</h5>
              <img src="../assets/images/prishtina-logo.svg">
            </div>
          </div>
        <div class="col-md-4 reservedRights">
          <div class="reservedRights">
            <p class="text">All rights reserved</p>
            <p class="text">2018</p>
          </div>
        </div>
          <div class="col-md-4">
            <div class="dashboard">
            <h5 class="text">Designed & Developed by:</h5>
            <img src="../assets/images/dashboard.png">
          </div>
        </div>
      </div>
      </div>
  </div>
</footer>
