<app-header></app-header>
<div class="background-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>
          <b>404</b>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p> {{'pageNotFound.pageNotFound' | translate}}</p>
        <p>
          <a [routerLink]="['']"><span><b>{{ 'pageNotFound.return' | translate }}</b></span></a> {{ 'pageNotFound.to' | translate}}</p>
      </div>
    </div>
  </div>
</div>