 <div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Shto përdoruesin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" class="form-i" novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="modal-body">
            <div class="form-group">
                <label for="newPassword">Fjalëkalimi i ri:</label>
                <input type="password" class="form-control" id="newpassword" name="newpassword">
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary cncl-button" data-dismiss="modal">Anulo</button>
              <input type='submit' value="Ruaj" class="btn btn-primary cnfrm-button" [disabled]="!f.valid">
          </div>
        </form>
      </div>
    </div>
  </div>