<div class="row mt-4">
    <div class="col-10 offset-1">
        <table class="table profile table-hover">
            <thead>
                <th id="profileHeader" colspan="2"><span id="tableHeadText">Të dhënat e profilit</span>
                    <span data-toggle="modal" data-target="#editAdmin">
                        <i data-toggle="tooltip" title="Ndrysho profilin" class="fa float-right fa-pencil-square-o actions" id="editAdminProfile" aria-hidden="true"></i>                    
                    </span>
                </th>
            </thead>
            <tbody>
                <tr>
                    <th>Emri</th>
                    <td>{{user.firstName}}</td>
                </tr>
                <tr>
                    <th>Mbiemri</th>
                    <td>{{user.lastName}}</td>
                </tr>
                <tr>
                    <th>Gjinia</th>
                    <td>{{user.gender}}</td>
                </tr>
                <tr>
                    <th>Email Adresa</th>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <th>Roli</th>
                    <td>{{user.role}}</td>
                </tr>
                <tr>
                    <th>Drejtoria</th>
                    <td>{{user.department}}</td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-12 change-btns">
            <button class='btn btn-primary' id="changePasswordBtn" data-toggle="modal" style='margin-top: 10px;' data-target="#changePasswordModal">
                Ndrysho fjalëkalimin
            </button>
        </div>
    </div>
</div>

<app-edit-profile></app-edit-profile>
<app-change-password></app-change-password>