#profileHeader {
    background-color: #32a6bd;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
#changePasswordBtn {
    background: #32a6bd;
    color: white;
    border-color: #32a6bd;
    margin-bottom: 75px;
}
.change-btns {
    padding-left: 0px;
}
tr {
    height: 65px;
}  
th , td {
    padding-top: 20px;
}
th#profileHeader {
    padding-bottom: 20px;
}
.modal-header {
    font-weight: bold;
    font-family: 'Robot', sans-serif;
    color: white;
    background: #39a6bd;
}
#save {
    background: #32a6bd;
    color: white;
    border-color:#32a6bd;
}
.error-msg {
    color: red;
}
#save-changes {
    background-color: #39a6bd;
    border-color: #39a6bd;
}
