#table {
    padding-left: 30px;
    padding-bottom: 10%;
    padding-right: 30px;
} 
.column-header {
    font-weight: 500;
    margin-bottom: 0;
}
#per-page {
    border: none;
    background-color: rgb(66, 66, 66);
    color: #fff;
}
.sort-icons {
    position: absolute;
    bottom: 3%;
}
#sort {
    font-size: 16px;
}