<div>
  <ngx-datatable class="bootstrap" columnMode="'force'" [rows]="this.contracts" [headerHeight]="'auto'" [summaryRow]="false"
    [summaryPosition]="'bottom'" [footerHeight]="50" [limit]="10" [rowHeight]="'auto'" [messages]="messages" [scrollbarH]="true">
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="column-header">Titulli i aktivitetit të prokurimit</p>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <p *ngIf="row.activityTitle == ''">
          Nuk ka të dhëna!
        </p>
        <p *ngIf="row.activityTitle != ''">
          {{ row.activityTitle }}
        </p>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="column-header">Data e publikimit të njoftimit për kontratë</p>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <p *ngIf="row.contract.publicationDate == null">
          Nuk ka të dhëna!
        </p>
        <p *ngIf="row.contract.publicationDate != null">
          {{ row.contract.publicationDate | date: 'dd/MM/yyyy' }}
        </p>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="column-header">Nr. i OE që kanë shkarkuar dosjen e tenderit</p>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <p *ngIf="row.noOfCompaniesWhoDownloadedTenderDoc == null">
          Nuk ka të dhëna!
        </p>
        <p *ngIf="row.noOfCompaniesWhoDownloadedTenderDoc != null">
          {{ row.noOfCompaniesWhoDownloadedTenderDoc }}
        </p>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="column-header">Data e publikimit të njoftimit për dhënie të kontratës</p>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <p *ngIf="row.contract.publicationDateOfGivenContract == null">
          Nuk ka të dhëna!
        </p>
        <p *ngIf="row.contract.publicationDateOfGivenContract != null">
          {{ row.contract.publicationDateOfGivenContract | date: 'dd/MM/yyyy' }}
        </p>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="column-header">Data e publikimit të anulimit të njoftimit</p>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <p *ngIf="row.cancellationNoticeDate == null">
          Nuk ka të dhëna!
        </p>
        <p *ngIf="row.cancellationNoticeDate != null">
          {{ row.cancellationNoticeDate | date: 'dd/MM/yyyy' }}
        </p>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="column-header">Vlera e parashikuar e kontratës</p>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <p *ngIf="row.contract.predictedValue == ''">
          Nuk ka të dhëna!
        </p>
        <p *ngIf="row.contract.predictedValue != ''">
          {{ row.contract.predictedValue }}
        </p>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="column-header">Emri i OE të cilit i është dhënë kontrata</p>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <p *ngIf="row.company.name == ''">
          Nuk ka të dhëna!
        </p>
        <p *ngIf="row.company.name != ''">
          {{ row.company.name }}
        </p>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="column-header">Data e nënshkrimit të kontratës</p>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <p *ngIf="row.contract.signingDate == null">
          Nuk ka të dhëna!
        </p>
        <p *ngIf="row.contract.signingDate != null">
          {{ row.contract.signingDate | date: 'dd/MM/yyyy' }}
        </p>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="column-header">Data e fillimit të implementimit të kontratës</p>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <p *ngIf="row.contract.implementationDeadlineStartingDate == null">
          Nuk ka të dhëna!
        </p>
        <p *ngIf="row.contract.implementationDeadlineStartingDate != null">
          {{ row.contract.implementationDeadlineStartingDate | date: 'dd/MM/yyyy' }}
        </p>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="column-header">Data e mbylljes se kontrates</p>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <p *ngIf="row.contract.closingDate == null">
          Nuk ka të dhëna!
        </p>
        <p *ngIf="row.contract.closingDate != null">
          {{ row.contract.closingDate | date: 'dd/MM/yyyy' }}
        </p>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="column-header">Vlera totale e kontratës, duke përfshirë të gjitha taksat</p>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <p *ngIf="row.contract.totalAmountOfContractsIncludingTaxes == ''">
          Nuk ka të dhëna!
        </p>
        <p *ngIf="row.contract.totalAmountOfContractsIncludingTaxes != ''">
          {{ row.contract.totalAmountOfContractsIncludingTaxes }}
        </p>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        <p class="column-header">Drejtoria</p>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <p *ngIf="row.directorates == null">
          Nuk ka të dhëna!
        </p>
        <p *ngIf="row.directorates != null">
          {{ row.directorates }}
        </p>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>