<!-- Cover Image/Description-->
<div class="col-md-12 header" id="bg-img">
  <div class="row">
    <div class="col-12 company-header">
      <div class="row">
        <h1 id="title">{{ 'aboutUs.title' | translate }}</h1>
      </div>
      <div class="row" id="descriptions">
        <div class="col-md-6">
          <p class="company-description">
            {{ 'aboutUs.description1' | translate }}
          </p>
        </div>
        <div class="col-md-6">
          <p class="company-description">
            {{ 'aboutUs.description2' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Project Description -->
<div class="col-md-12 project-header">
  <h5 id="project-title">{{ 'aboutUs.projectTitle' | translate }}</h5>
</div>

<div class="col-md-12 row project-details">
  <div class="col-md-6">
    <img id="project-img" src="/assets/images/hands-on-laptop.jpg" class="img-fluid">
  </div>
  <div class="col-md-6 justify-content-center">
    <p id="project-description">
      {{ 'aboutUs.projectDescription' | translate }}
    </p>
    <div class="row">
      <div class="col-md-6">
        <img class="technologies img-fluid" style="margin-top: 2%" src="/assets/images/mongo.png" >
        <img class="technologies img-fluid" style="margin-top: 6%" src="/assets/images/express.png" >        
      </div>

      <div class="col-md-6">
        <img class="technologies img-fluid" style="margin-top: 2%" src="/assets/images/node.png">
        <img class="technologies img-fluid" style="margin-top: 5%" src="/assets/images/angular.png">        
      </div>
    </div>
  </div>
</div>