/* About Us Header Style */
#bg-img {
    background-image:url("/assets/images/about-us-header.png");
    /* Full height */
    height: 851px; 
    max-height: 851px;
   
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    margin-left:0;
    margin-right:0;
    width: 100%;
    max-width: 100%;
    height: 760px;
}
.company-header {
   font-family: 'Roboto', sans-serif;
   color:white;
   margin-left:65px;
   width: 434px;
   max-width: 100%;
   top: 27%;
}
.company-header #title {
   width: 201px;
   margin-bottom: 48px;
   font-weight: 600;
   font-size: 3.5rem;
}

/* About Project Style */
#project-img {
    margin-left: 52px;
    margin-right: 0;
    width: 81%;
    max-width: 81%;
    height: 406px;
}
.project-header-title {
    font-family: 'Roboto', sans-serif;
}
#project-title {
    text-align: center;
    color:#32a6bd;
    margin-top: 50px;
    margin-bottom: 33px;
    font-weight: 600;
}
.project-details {
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    margin: auto;
    padding: 0;
    text-align: center;
}
#project-description {
    text-align: left;
    color:black;
    width: 80%;
    max-width: 80%;
    height: 405px;
    margin-bottom: 0;
    bottom: 1px;
    top: 56px;
    font-family: 'Roboto', sans-serif;
}
/* Technologies Style */
#technologies-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    color:#32a6bd;
    padding-top:84px;
    padding-bottom: 33px;
}
.technologies-imgs {
    text-align: center;
    margin: auto;
    width: 87%;
    max-width: 87%;
    padding-bottom: 124px;
} 
.node-js {
    text-align: left;
}
.angular-js {
    top: 9px;
    padding-left: 42px;
}
.express-js {
    top: 29px;
}
