body.sticky-footer {
    margin-bottom: 56px;
  }

body.sticky-footer .content-wrapper {
    min-height: calc(100vh - 56px - 56px);
}

.smaller {
    font-size: 0.7rem;
}

footer.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: #e9ecef;
  line-height: 55px;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 992px) {
  footer.sticky-footer {
    width: calc(100% - 250px);
  }
} 

@media (min-width: 992px) {
  footer.sticky-footer {
    width: calc(100% - 55px);
  }
}
