<div class="modal fade" id="user-profile-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
            <table class="table profile table-hover" >
                <thead>
                    <th id="profileHeader" colspan="2">
                        <span id="tableHeadText">Të dhënat e profilit</span>
                    </th>
                </thead>
                <tbody id="profile-information" *ng>
                    <tr>
                        <th class="data-information">Emri:</th>
                        <td class="data-information">John</td>
                    </tr>
                    <tr>
                        <th class="data-information">Mbiemri:</th>
                        <td class="data-information">Doe</td>
                    </tr>
                    <tr>
                        <th class="data-information">Gjinia:</th>
                        <td class="data-information">Male</td>
                    </tr>
                    <tr>
                        <th class="data-information">Email Adresa:</th>
                        <td class="data-information">johnDoe@gmail.com</td>
                    </tr>
                    <tr>
                        <th class="data-information">Roli:</th>
                        <td class="data-information">Administrator</td>
                    </tr>
                </tbody>
            </table>
            <div class="change-btns">
                <button class='btn btn-primary' id="change-password-btn" data-toggle="modal" style='margin-top: 10px;' data-target="#change-password-modal">
                    Ndrysho fjalëkalimin
                </button>
            </div>
        </div>   
    </div>
</div>