
.navbar{
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.nav-item.active .underline{
    border-bottom: 3px solid #32a6bd;
    margin-top: 0;
    margin-left: 14px;
}
.nav-item.active .nav-link{
    color:#32a6bd;
}
.nav-item{
    color:black;
}
.nav-item.active {
    margin-bottom: 0;
}
.nav-link {
    font-size: 19px;
    color:black;
    padding-bottom: 0;
}
