.title {
    font-size: 26px;
    color: black;
    padding-left: 25px;
    padding-top: 25px;
}
.file-upload {
    margin-left: 30px;
    margin-right: 10px;
}

.my-col-2 {
    padding-left: 0;
}

#name-area:disabled {
    background-color: #fff
}

.error-msg {
    color: red
}

