<div class="container-fluid">
  <div>
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary title">
          Ndrysho kontratën
        </h1>
      </div>
      <div class="col-md-6">
        <a style="float:right" class="btn btn-outline-primary buttons" id="contracts-buttons" [routerLink]="['/dashboard/contracts']">Kthehu tek kontratat</a>
      </div>
    </div>
    <form action="" [formGroup]="form" #contractForm="ngForm" (submit)="updateContract($event)" class="form-i" enctype="multipart/form-data">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="activityTitle">Titulli i aktivitetit të prokurimit</label>
            <input type="text" name="activityTitle" id="activityTitle" class="form-control" [ngClass]="{'errInput': !form.controls.activityTitle.valid && (form.controls.activityTitle.touched || contractForm.submitted) }"
              formControlName="activityTitle" [(ngModel)]="contract.activityTitle" required>
            <div [hidden]="form.controls.activityTitle.valid || (!form.controls.activityTitle.touched && !contractForm.submitted)" class="error-msg">Titulli i aktivitetit të prokurimit duhet plotësuar</div>
          </div>
          <div class="col-md-6" style="padding-top:22px;">
            <div class="radioButtons">
              <label class="radioButtonLabel">Statusi:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flagStatus" formControlName="flagStatus" [(ngModel)]="contract.flagStatus" id="pending"
                  value="1">
                <label class="form-check-label" for="pending">
                  Pezull
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flagStatus" formControlName="flagStatus" [(ngModel)]="contract.flagStatus" id="success"
                  value="2">
                <label class="form-check-label" for="success">
                  Suksesshëm
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flagStatus" formControlName="flagStatus" [(ngModel)]="contract.flagStatus" id="canceled"
                  value="3">
                <label class="form-check-label" for="canceled">
                  Anuluar
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 form-group">
            <label>Nr. rendor i prokurimit</label>
            <input type="number" name="procurementNo" id="procurementNo" formControlName="procurementNo" [ngClass]="{'errInput': !form.controls.procurementNo.valid && (form.controls.procurementNo.touched || contractForm.submitted) }"
              [(ngModel)]="contract.procurementNo" class="form-control" required>
            <div [hidden]="form.controls.procurementNo.valid || (!form.controls.procurementNo.touched && !contractForm.submitted)" class="error-msg">Nr. rendor i prokurimit duhet plotësuar</div>
          </div>
          <div class="col-md-3 form-group">
            <div class="form-group">
              <label>Lloji i prokurimit</label>
              <select name="procurementType" id="procurementType" placeholder="Zgjedh" class="form-control" formControlName="procurementType"
                [(ngModel)]="contract.procurementType">
                <option value="" selected>Zgjedh llojin</option>
                <option value="Furnizim">Furnizim</option>
                <option value="Shërbime">Shërbime</option>
                <option value="Shërbime këshillimi">Shërbime këshillimi</option>
                <option value="Konkurs projektimi">Konkurs projektimi</option>
                <option value="Punë">Punë</option>
                <option value="Punë me koncesion">Punë me koncesion</option>
                <option value="Pronë e palujtshme">Pronë e palujtshme</option>
              </select>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label>Vlera e prokurimit</label>
            <select name="procurementValue" id="procurementValue" placeholder="Zgjedh" class="form-control" formControlName="procurementValue"
              [(ngModel)]="contract.procurementValue">
              <option value="" selected>Zgjedh vlerën</option>
              <option value="Vlerë e madhe">Vlerë e madhe</option>
              <option value="Vlerë e mesme">Vlerë e mesme</option>
              <option value="Vlerë e vogël">Vlerë e vogël</option>
              <option value="Vlerë minimale">Vlerë minimale</option>
            </select>
          </div>
          <div class="col-md-3 form-group">
            <label>Procedura prokurimit</label>
            <select name="procurementProcedure" id="procurementProcedure" placeholder="Zgjedh" class="form-control" formControlName="procurementProcedure"
              [(ngModel)]="contract.procurementProcedure">
              <option value="" selected>Zgjedh procedurën</option>
              <option value="Procedura e hapur">Procedura e hapur</option>
              <option value="Procedura e kufizuar">Procedura e kufizuar</option>
              <option value="Konkurs projektimi">Konkurs projektimi</option>
              <option value="Procedura e negociuar pas publikimit të njoftimit të kontratës">Procedura e negociuar pas publikimit të njoftimit të kontratës</option>
              <option value="Procedura e negociuar pa publikim të njoftimit të kontratës">Procedura e negociuar pa publikim të njoftimit të kontratës</option>
              <option value="Procedura e kuotimit të Çmimeve">Procedura e kuotimit të Çmimeve</option>
              <option value="Procedura vlerës minimale">Procedura vlerës minimale</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group">
            <label for="fppClassification">Klasifikimi (2 shifrat e para të FPP)</label>
            <input type="number" name="fppClassification" id="fppClassification" class="form-control" formControlName="fppClassification"
              [ngClass]="{'errInput': !form.controls.fppClassification.valid && (form.controls.fppClassification.touched || contractForm.submitted) }"
              [(ngModel)]="contract.fppClassification">
            <div [hidden]="form.controls.fppClassification.valid || (!form.controls.fppClassification.touched && !contractForm.submitted)"
              class="error-msg">Klasifikimi duhet të përbëhet prej dy karaktereve</div>
          </div>
          <div class="col-md-2 form-group">
            <div class="radioButtons">
              <label class="radioButtonLabel">Planifikuar:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="planned" [(ngModel)]="contract.planned" name="planned" id="yes"
                  value="1" checked>
                <label class="form-check-label" for="yes">
                  Po
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="planned" formControlName="planned" [(ngModel)]="contract.planned" id="no"
                  value="2">
                <label class="form-check-label" for="no">
                  Jo
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <div class="checkbox-buttons">
              <label class="checkbox-label">Buxheti</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" forname="budget" (click)="addBudgetValue($event)" id="ownSources" value="Të hyra vetanake">
                <label class="form-check-label" for="ownSources">
                  Të hyra vetanake
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="budget" (click)="addBudgetValue($event)" id="kosovoBudget" value="Buxheti i Kosovës">
                <label class="form-check-label" for="kosovoBudget">
                  Buxh. i Kons. i Kosovës
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" (click)="addBudgetValue($event)" name="budget" id="donation" value="Donacion">
                <label class="form-check-label" for="donation">
                  Donacion
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="initiationDate">Data e inicimit të aktivitetit të prokurimit (data e pranimit të kërkesës)</label>
            <input [(bsValue)]="contract.initiationDate" bsDatepicker placeholder="Zgjedhni datën" [bsConfig]="bsConfig" class="form-control"
              type="text" name="initiationDate" id="initiationDate" formControlName="initiationDate" [(ngModel)]="contract.initiationDate">
          </div>
          <div class="col-md-6 form-group">
            <label>Data e aprovimit të deklaratës së nevojave dhe disponueshmërisë së mjeteve</label>
            <input [(bsValue)]="contract.approvalDateOfFunds" bsDatepicker placeholder="Zgjedhni datën" [bsConfig]="bsConfig" name="approvalDateOfFunds"
              id="approvalDateOfFunds" formControlName="approvalDateOfFunds" [(ngModel)]="contract.approvalDateOfFunds" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label>Data e pranimit të specifikimit teknik (TOR)</label>
            <input [(bsValue)]="contract.torDate" bsDatepicker placeholder="Zgjedhni datën" [bsConfig]="bsConfig" name="torDate" id="torDate"
              formControlName="torDate" [(ngModel)]="contract.torDate" class="form-control">
          </div>
          <div class="col-md-6 form-group">
            <label for="contractPublicationDate">Data e publikimit të njoftimit për kontratë</label>
            <input [(bsValue)]="contract.contract.publicationDate" bsDatepicker placeholder="Zgjedhni datën" [bsConfig]="bsConfig" name="publicationDate"
              id="publicationDate" value="" class="form-control" formControlName="publicationDate" [(ngModel)]="contract.contract.publicationDate">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Ankesat në autoritet:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToAuthority1" formControlName='complaintsToAuthority1' [(ngModel)]="contract.complaintsToAuthority1"
                  id="negative" value="1">
                <label class="form-check-label" for="negative">
                  Negative
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToAuthority1" formControlName='complaintsToAuthority1' [(ngModel)]="contract.complaintsToAuthority1"
                  id="positive" value="2">
                <label class="form-check-label" for="positive">
                  Pozitive
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Ankesat në OSHP:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToOshp1" formControlName="complaintsToOshp1" [(ngModel)]="contract.complaintsToOshp1"
                  id="negativeOshp" value="1">
                <label class="form-check-label" for="negativeOshp">
                  Negative
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToOshp1" formControlName="complaintsToOshp1" [(ngModel)]="contract.complaintsToOshp1"
                  id="positiveOshp" value="2">
                <label class="form-check-label" for="positiveOshp">
                  Pozitive
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <br>
            <label>Data e hapjes së ofertave</label>
            <input [(bsValue)]="contract.bidOpeningDate" bsDatepicker placeholder="Zgjedhni datën" [bsConfig]="bsConfig" name="bidOpeningDate"
              id="bidOpeningDate" formControlName='bidOpeningDate' [(ngModel)]="contract.bidOpeningDate" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <br>
            <label for="noOfCompaniesWhoDownloadedTenderDoc">Nr. i OE që kanë shkarkuar dosjen e tenderit</label>
            <input type="number" name="noOfCompaniesWhoDownloadedTenderDoc" id="noOfCompaniesWhoDownloadedTenderDoc" formControlName="noOfCompaniesWhoDownloadedTenderDoc"
              [(ngModel)]='contract.noOfCompaniesWhoDownloadedTenderDoc' class="form-control">
          </div>
          <div class="col-6 form-group">
            <br>
            <label for="noOfCompaniesWhoSubmited">Nr. i OE që kanë dorëzuar ofertat</label>
            <input type="number" name="noOfCompaniesWhoSubmited" id="noOfCompaniesWhoSubmited" class="form-control" formControlName="noOfCompaniesWhoSubmited"
              [(ngModel)]="contract.noOfCompaniesWhoSubmited">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="startOfEvaluationDate" style="width:270px">Data e fillimit dhe përfundimit të vlersimit</label>
            <input [(bsValue)]="contract.startingOfEvaluationDate" bsDatepicker placeholder="Zgjedhni datën fillimit" [bsConfig]="bsConfig"
              name="startingOfEvaluationDate" id="startingOfEvaluationDate" formControlName='startingOfEvaluationDate' [(ngModel)]="contract.startingOfEvaluationDate"
              class="form-control" placeholder="Zgjedhni datën e fillimit">
          </div>
          <div class="col-md-3" style="padding-top: 29px;">
            <input [(bsValue)]="contract.endingOfEvaluationDate" bsDatepicker placeholder="Zgjedhni datën përfundimit" [bsConfig]="bsConfig"
              name="endingOfEvaluationDate" id="endingOfEvaluationDate" formControlName="endingOfEvaluationDate" [(ngModel)]="contract.endingOfEvaluationDate"
              class="form-control" placeholder="Zgjedhni datën e përfundimit">
          </div>
          <div class="col-md-6">
            <label for="noOfRefusedBids">Numri i ofertave të refuzuara</label>
            <input type="number" name="noOfRefusedBids" id="noOfRefusedBids" formControlName='noOfRefusedBids' [(ngModel)]="contract.noOfRefusedBids"
              class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <br>
            <label>Data e aprovimit të Deklaratës së nevojave dhe disponueshmërisë së mjeteve - rikonfirmimi</label>
            <input [(bsValue)]="contract.reapprovalDate" bsDatepicker placeholder="Zgjedhni datën" [bsConfig]="bsConfig" name="reapprovalDate"
              id="reapprovalDate" formControlName="reapprovalDate" [(ngModel)]="contract.reapprovalDate" #contractReapprovalDate
              class="form-control">
          </div>
          <div class="col-md-6">
            <br>
            <label for="standardDocuments">Letrat Standarde për OE</label>
            <input [(bsValue)]="contract.company.standardDocuments" bsDatepicker placeholder="Zgjedhni datën" [bsConfig]="bsConfig" name="standardDocuments"
              id="standardDocuments" formControlName='standardDocuments' [(ngModel)]="contract.company.standardDocuments" #contractStandardDocuments
              class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <label for="publicationDateOfGivenContract">Data e publikimit të njoftimit për dhënie të kontratës</label>
            <input [(bsValue)]="contract.contract.publicationDateOfGivenContract" bsDatepicker placeholder="Zgjedhni datën" [bsConfig]="bsConfig"
              name="publicationDateOfGivenContract" id="publicationDateOfGivenContract" formControlName="publicationDateOfGivenContract"
              [(ngModel)]="contract.contract.publicationDateOfGivenContract" class="form-control">
          </div>
          <div class="col-6 form-group">
            <label for="cancellationNoticeDate">Data e publikimit të anulimit të njoftimit</label>
            <input [(bsValue)]="contract.cancellationNoticeDate" bsDatepicker placeholder="Zgjedhni datën" [bsConfig]="bsConfig" name="cancellationNoticeDate"
              id="cancellationNoticeDate" class="form-control" formControlName='cancellationNoticeDate' [(ngModel)]="contract.cancellationNoticeDate">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Ankesat në autoritet:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToAuthority2" formControlName="complaintsToAuthority2" [(ngModel)]="contract.complaintsToAuthority2"
                  id="none" value="0" checked>
                <label class="form-check-label" for="none">
                  Nuk ka
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToAuthority2" formControlName="complaintsToAuthority2" [(ngModel)]="contract.complaintsToAuthority2"
                  id="negative1" value="1">
                <label class="form-check-label" for="negative1">
                  Negative
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToAuthority2" formControlName="complaintsToAuthority2" [(ngModel)]="contract.complaintsToAuthority2"
                  id="positive1" value="2">
                <label class="form-check-label" for="positive1">
                  Pozitive
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Ankesat në OSHP:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToOshp2" formControlName="complaintsToOshp2" [(ngModel)]="contract.complaintsToOshp2"
                  id="noneOshp" value="0" checked>
                <label class="form-check-label" for="noneOshp">
                  Nuk ka
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToOshp2" formControlName="complaintsToOshp2" [(ngModel)]="contract.complaintsToOshp2"
                  id="negativeOshp1" value="1">
                <label class="form-check-label" for="negativeOshp1">
                  Negative
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToOshp2" formControlName="complaintsToOshp2" [(ngModel)]="contract.complaintsToOshp2"
                  id="positiveOshp1" value="2">
                <label class="form-check-label" for="positiveOshp1">
                  Pozitive
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <br>
            <label for="predictedValue">Vlera e parashikuar e kontratës</label>
            <input type="text" name="predictedValue" id="predictedValue" formControlName='predictedValue' [(ngModel)]="contract.contract.predictedValue"
              class="form-control">
          </div>
          <div class="col-md-6" style="padding-top: 21px;">
            <div class="radioButtons">
              <label class="radioButtonLabel">OE:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="type" formControlName="type" [(ngModel)]="contract.company.type" id="local"
                  value="Vendore" checked>
                <label class="form-check-label" for="local">
                  Vendore
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="type" formControlName="type" [(ngModel)]="contract.company.type" id="notLocal"
                  value="notLocal">
                <label class="form-check-label" for="notLocal">
                  Jo vendore
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Afati kohor për pranimin e tenderëve:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="applicationDeadlineType" formControlName="applicationDeadlineType" [(ngModel)]="contract.applicationDeadlineType"
                  id="normal" value="1" checked>
                <label class="form-check-label" for="normal">
                  Afati kohor normal
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="applicationDeadlineType" formControlName="applicationDeadlineType" [(ngModel)]="contract.applicationDeadlineType"
                  id="shortened" value="2">
                <label class="form-check-label" for="shortened">
                  Afati kohor i shkurtuar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Kriteret për dhënie të kontratës:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="criteria" formControlName="criteria" [(ngModel)]="contract.contract.criteria"
                  id="lowPrice" value="Çmimi më i ulët" checked>
                <label class="form-check-label" for="lowPrice">
                  Çmimi më i ulët
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="criteria" formControlName="criteria" [(ngModel)]="contract.contract.criteria"
                  id="economicallyFavorable" value="Tenderi ekonomikisht më i favorshëm">
                <label class="form-check-label" for="economicallyFavorable">
                  Tenderi ekonomikisht më i favorshëm
                </label>
              </div>
              <div class="form-check">
                <br>
                <input class="form-check-input" type="radio" name="criteria" formControlName="criteria" [(ngModel)]="contract.contract.criteria"
                  id="pointPriceLower" value="Çmimi më i ulët me poentim">
                <label class="form-check-label" for="pointPriceLower">
                  Çmimi më i ulët me poentim
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <br>
            <label for="retender">Re-tenderimi</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="retender" formControlName="retender" [(ngModel)]="contract.retender" id="po"
                value="Po" >
              <label class="form-check-label" for="po">
                Po
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="retender" formControlName="retender" [(ngModel)]="contract.retender" id="jo"
                value="jo" >
              <label class="form-check-label" for="jo">
                Jo
              </label>
            </div>
          </div>
          <div class="col-md-6" style="padding-top:22px;">
            <div class="radioButtons">
              <label class="radioButtonLabel">Statusi:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="status" formControlName="status" [(ngModel)]="contract.status" id="published"
                  value="1" >
                <label class="form-check-label" for="published">
                  Publikuar
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="status" formControlName="status" [(ngModel)]="contract.status" id="evaluation"
                  value="2">
                <label class="form-check-label" for="evaluation">
                  Vlerësim
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="status" formControlName="status" [(ngModel)]="contract.status" id="cancelled"
                  value="3">
                <label class="form-check-label" for="cancelled">
                  Anuluar
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="status" formControlName="status" [(ngModel)]="contract.status" id="contracted"
                  value="4">
                <label class="form-check-label" for="contracted">
                  Kontraktuar
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="oe-informations">
          <div class="col-6 form-group">
            <label for="nameOfContractedOe">Emri i OE të cilit i është dhënë kontrata</label>
            <input type="text" name="name" id="nameOfContractedOe" formControlName="companyName" [(ngModel)]="contract.company.name"
              class="form-control">
          </div>
          <div class="col-6 form-group">
            <label for="headquartersName">Selia e OE</label>
            <input type="text" name="headquartersName" id="headquartersName" formControlName='headquartersName' [(ngModel)]="contract.company.headquarters.name"
              class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-12 form-group">
            <label for="signingDate">Data e nënshkrimit të kontratës</label>
            <input [(bsValue)]="contract.contract.signingDate" bsDatepicker placeholder="Zgjedhni datën" [bsConfig]="bsConfig" name="signingDate"
              id="signingDate" class="form-control" formControlName="signingDate" [(ngModel)]="contract.contract.signingDate">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <label for="implementationDeadlineNumber" style="width:auto;">Afati për implementimin e kontratës</label>
            <br>
            <div style="display: flex">
              <input  type="text" name="implementationDeadlineNumber" id="implementationDeadlineNumber"
                style="width: 30%; margin: 0;" formControlName="implementationDeadlineNumber" [(ngModel)]="implementationDeadline[0]"
                class="form-control">
              <select placeholder="Afati kohor" name="implementationDeadlineDuration" formControlName="implementationDeadlineDuration" [(ngModel)]="implementationDeadline[1]"
                style="width: 70%; margin: 0px;" class="form-control">
                <option value="">Afati kohor</option>                
                <option value="Ditë">Ditë</option>
                <option value="Muaj">Muaj</option>
                <option value="Vite">Vite</option>
              </select>
            </div>
          </div>
          <div class="col-6 form-group">
            <label for="closingDate">Data e mbylljes së kontratës</label>
            <input [(bsValue)]="contract.contract.closingDate" bsDatepicker placeholder="Zgjedhni datën" [bsConfig]="bsConfig" name="closingDate"
              id="closingDate" class="form-control" formControlName="closingDate" [(ngModel)]="contract.contract.closingDate">
          </div>
        </div>
        <div class="row">
          <div class="col-12 form-group">
            <label for="noOfPaymentInstallments">Numri i përgjithshëm i situacioneve për pagesë, sipas kontratës</label>
            <input type="number" name="noOfPaymentInstallments" id="noOfPaymentInstallments" formControlName="noOfPaymentInstallments"
              [(ngModel)]="contract.noOfPaymentInstallments" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-12 form-group">
            <label for="totalAmountOfContractsIncludingTaxes">Vlera totale e kontratës, duke përfshirë të gjitha taksat etj.</label>
            <input type="text" name="totalAmountOfContractsIncludingTaxes" id="totalAmountOfContractsIncludingTaxes" formControlName='totalAmountOfContractsIncludingTaxes'
              [(ngModel)]="contract.contract.totalAmountOfContractsIncludingTaxes" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-1" id="title">
            <h4>Anekset</h4>
          </div>
          <div class="col-md-10" id="line"></div>
          <div class="col-md-1" id="button">
            <button type="button" data-toggle="tooltip" title="Shto aneksin" class="btn btn-outline-primary buttons button-exec" (click)="addNewAnnex()">
              <span class="fa fa-plus"></span>
            </button>
          </div>
        </div>
        <div formArrayName="annexes">
          <div [formGroupName]='i' *ngFor="let annex of formArrayAnnexes.controls; let i = index">
            <div class="row">
              <div class="col-md-6">
                <label for="noOfPaymentInstallments{{i}}">
                  <span class="nrOf">{{i+1}})</span> Vlera totale e Aneks kontratës duke përfshirë të gjitha taksat</label>
                <input type="text" formControlName="totalValueOfAnnexContract1" id="noOfPaymentInstallments{{i}}" class="form-control" [(ngModel)]="contract.contract.annexes[i].totalValueOfAnnexContract1">
              </div>
              <div class="col-md-5">
                <label for="annexContractSigningDate{{i}}">
                  Data e nënshkrimit të Aneks kontratës</label>
                <input [(bsValue)]="contract.contract.annexes[i].annexContractSigningDate1" bsDatepicker id="annexContractSigningDate{{i}}"
                  placeholder="Zgjedhni datën" [bsConfig]="bsConfig" class="form-control" formControlName="annexContractSigningDate1"
                  [(ngModel)]="contract.contract.annexes[i].annexContractSigningDate1">
              </div>
              <div class="col-md-1">
                <button type="button" data-toggle="tooltip" [attr.data-annexDeleteId]="i" title="Fshi aneksin" class="btn btn-outline-primary
                      buttons button-exec button-del" (click)="removeAnnex(i) ">
                  <span class="fa fa-minus" [attr.data-annexDeleteId]="i"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1" id="title">
            <h4>Situacionet</h4>
          </div>
          <div class="col-md-10">
            <div id="line2"></div>
          </div>
          <div class="col-md-1" id="button">
            <button type="button" data-toggle="tooltip" title="Shto situacionit" class="btn btn-outline-primary buttons button-exec"
              (click)="addNewInstallment()">
              <span class="fa fa-plus"></span>
            </button>
          </div>
        </div>
        <div formArrayName="installments">
          <div [formGroupName]="i" *ngFor="let installment of formArrayInstallments.controls; let i = index">
            <div class="row">
              <div class="col-md-6">
                <label for="installmentAmount1{{i+1}}">
                  <span class="nrOf">{{i+1}})</span> Shuma e pagesës së situacionit</label>
                <input type="text" formControlName="installmentAmount1" name="installmentAmount1{{i+1}}" id="installmentAmount1{{i+1}}" class="form-control"
                  [(ngModel)]="contract.installments[i].installmentAmount1">
              </div>
              <div class="col-md-5">
                <label for="installmentPayDate{{i}}">Data e pagesës së situacionit</label>
                <input [(bsValue)]="contract.installments[i].installmentPayDate1" bsDatepicker placeholder="Zgjedhni datën" [bsConfig]="bsConfig"
                  name="installmentPayDate{{i+1}}}" id="installmentPayDate{{i}}" class="form-control" formControlName="installmentPayDate1"
                  [(ngModel)]="contract.installments[i].installmentPayDate1">
              </div>
              <div class="col-md-1">
                <button type="button" data-toggle="tooltip" [attr.data-annexDeleteId]="i" title="Fshi aneksin" class="btn btn-outline-primary
                        buttons button-exec button-del" (click)="removeInstallment(i) ">
                  <span class="fa fa-minus" [attr.data-annexDeleteId]="i"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <h4>Situacioni i fundit</h4>
        <div class="row">
          <div class="col-md-6">
            <label for="lastInstallmentPayDate">Data e pagesës së situacionit të fundit</label>
            <input [(bsValue)]="contract.lastInstallmentPayDate" bsDatepicker placeholder="Zgjedhni datën" [bsConfig]="bsConfig" name="lastInstallmentPayDate"
              id="lastInstallmentPayDate" formControlName="lastInstallmentPayDate" (bsValueChange)="dateChange($event)" [(ngModel)]="contract.lastInstallmentPayDate"
              class="form-control">
          </div>
          <div class="col-md-6">
            <label for="lastInstallmentAmount">Shuma e pagesës së situacionit të fundit</label>
            <input type="number" name="lastInstallmentAmount" id="lastInstallmentAmount" formControlName="lastInstallmentAmount" [(ngModel)]="contract.lastInstallmentAmount"
              class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Shuma e zbritjes nga kontrata për shkaqe të ndalesave</label>
            <input type="text" name="discountAmountFromContract" id="discountAmountFromContract" formControlName="discountAmountFromContract"
              formControlName="discountAmountFromContract" [(ngModel)]="contract.contract.discountAmountFromContract" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="year">Viti</label>
            <input type="text" name="year" id="year" formControlName="year" [(ngModel)]="contract.year" class="form-control" required>
          </div>
          <div class="col-md-6 form-group">
            <div class="form-group">
              <label for="directorates">Drejtoritë</label>
              <select name="directorates" id="directorates" placeholder="Zgjedh" class="form-control" formControlName="directorate" [(ngModel)]="contract.directorates">
                <option value="" selected>Zgjedh drejtorinë</option>
                <option *ngFor="let directorate of directorates" value="{{directorate.directorateName}}"> {{directorate.directorateName}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" id="upload-contract">
              <input type="file" name="contractFile" id="contractFile" #fileInput (change)="fileChangeEvent($event)" style="display: none">
              <div class="input-group mb-3">
                <div class="input-group-prepend" id="button-addon3">
                  <button *ngIf="filesToUpload !== null || hasFileToDelete !=false" class="btn btn-outline-secondary" type="button" (click)="removeFile()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                  <button (click)="bringBackFile()" *ngIf="hasFileToDelete == false && contract.contract.file !== ''" class="btn btn-outline-secondary"
                    type="button">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </button>
                </div>
                <input type="text" class="form-control" placeholder="Bashkangjit dokumentin" id="name-area" aria-label="upload file" aria-describedby="basic-addon2"
                  [style.border-color]="!valid && touched ? 'red' : '#ced4da'" disabled>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="onClick()">Bashkangjit</button>
                </div>
              </div>
              <div *ngIf=" !valid && touched" class="error-msg">{{message}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="nameOfProcurementOffical">Emri i zyrtarit të prokurimit</label>
            <input type="text" name="nameOfProcurementOffical" id="nameOfProcurementOffical" formControlName="nameOfProcurementOffical"
              [(ngModel)]="contract.nameOfProcurementOffical" class="form-control">
          </div>
        </div>
      </div>
      <div class="row" id="buttons">
        <div class="col-md-12">
          <button type="submit" class="btn btn-outline-primary buttons" id="add-contract-button">Ndrysho</button>
        </div>
      </div>
    </form>
  </div>