<div class="container-fluid">
  <div>
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary title">
          Ndrysho Kontratën
        </h1>
      </div>
      <div class="col-md-6">
        <a style="float:right" class="btn btn-outline-primary buttons" id="contracts-buttons" [routerLink]="['/dashboard/contracts']">Kthehu tek kontratat</a>
      </div>
    </div>
    <form action="" class="form-i" novalidate #contractForm="ngForm" enctype="multipart/form-data">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 form-group">
            <label for="activityTitle">Titulli i aktivitetit të prokurimit</label>
            <input type="text" name="activityTitle" id="activityTitle" class="form-control" [(ngModel)]="contract.activityTitle" #contractActivityTitle="ngModel"
              required [style.border-color]="!contractActivityTitle.valid && (contractActivityTitle.touched || contractForm.submitted)
              ? 'red' : '#ced4da'">
            <div [hidden]="contractActivityTitle.valid || (!contractActivityTitle.touched && !contractForm.submitted)">
              <small class="text-danger">Duhet plotësuar!</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 form-group">
            <label>Nr. rendor i prokurimit</label>
            <input type="number" name="procurementNo" id="procurementNo" placeholder="Nuk ka të dhëna" [(ngModel)]="contract.procurementNo"
              #contractProcurementNo="ngModel" class="form-control" required [style.border-color]="contractProcurementNo?.value == 0 && (contractProcurementNo.touched || contractForm.submitted) || !contractProcurementNo.valid && (contractProcurementNo.touched || contractForm.submitted)
              ? 'red' : '#ced4da'">
            <div [hidden]="(contractProcurementNo?.value !== 0 || !contractProcurementNo.touched && !contractForm.submitted) && contractProcurementNo.valid || (!contractProcurementNo.touched && !contractForm.submitted)">
              <small class="text-danger">Duhet plotësuar dhe nuk duhet të jetë zero!</small>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <div class="form-group">
              <label>Lloji i prokurimit</label>
              <select name="procurementType" id="procurementType" placeholder="Zgjedh" class="form-control" [(ngModel)]="contract.procurementType"
                #contractProcurementType="ngModel" required [style.border-color]="!contractProcurementType.valid && (contractProcurementType.touched || contractForm.submitted) ?
                'red' : '#ced4da'">
                <option value="" selected>Zgjedh llojin</option>
                <option value="Furnizim">Furnizim</option>
                <option value="Shërbime">Shërbime</option>
                <option value="Shërbime këshillimi">Shërbime këshillimi</option>
                <option value="Konkurs projektimi">Konkurs projektimi</option>
                <option value="Punë">Punë</option>
                <option value="Punë me koncesion">Punë me koncesion</option>
                <option value="Pronë e palujtshme">Pronë e palujtshme</option>
              </select>
              <div [hidden]="contractProcurementType.valid || (!contractProcurementType.touched && !contractForm.submitted)">
                <small class="text-danger">Duhet zgjedhur!</small>
              </div>
            </div>

          </div>
          <div class="col-md-3 form-group">
            <label>Vlera e prokurimit</label>
            <select name="procurementValue" id="procurementValue" placeholder="Zgjedh" class="form-control" [(ngModel)]="contract.procurementValue"
              #contractProcurementValue="ngModel" required [style.border-color]="!contractProcurementValue.valid && (contractProcurementValue.touched || contractForm.submitted) ? 'red' : '#ced4da'">
              <option value="" selected>Zgjedh vlerën</option>
              <option value="Vlerë e madhe">Vlerë e madhe</option>
              <option value="Vlerë e mesme">Vlerë e mesme</option>
              <option value="Vlerë e vogël">Vlerë e vogël</option>
              <option value="Vlerë minimale">Vlerë minimale</option>
            </select>
            <div [hidden]="contractProcurementValue.valid || (!contractProcurementValue.touched && !contractForm.submitted)">
              <small class="text-danger">Duhet zgjedhur!</small>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label>Procedura prokurimit</label>
            <select name="procurementProcedure" id="procurementProcedure" placeholder="Zgjedh" class="form-control" [(ngModel)]="contract.procurementProcedure"
              #contractProcurementProcedure="ngModel" required [style.border-color]="!contractProcurementProcedure.valid && (contractProcurementProcedure.touched || contractForm.submitted) ? 'red' : '#ced4da'">
              <option value="" selected>Zgjedh procedurën</option>
              <option value="Procedura e hapur">Procedura e hapur</option>
              <option value="Procedura e kufizuar">Procedura e kufizuar</option>
              <option value="Konkurs projektimi">Konkurs projektimi</option>
              <option value="Procedura e negociuar pas publikimit të njoftimit të kontratës">Procedura e negociuar pas publikimit të njoftimit të kontratës</option>
              <option value="Procedura e negociuar pa publikim të njoftimit të kontratës">Procedura e negociuar pa publikim të njoftimit të kontratës</option>
              <option value="Procedura e kuotimit të Çmimeve">Procedura e kuotimit të Çmimeve</option>
              <option value="Procedura vlerës minimale">Procedura vlerës minimale</option>
            </select>
            <div [hidden]="contractProcurementProcedure.valid || (!contractProcurementProcedure.touched && !contractForm.submitted)">
              <small class="text-danger">Duhet zgjedhur!</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group">
            <label for="fppClassification">Klasifikimi (2 shifrat e para të FPP)</label>
            <!-- Dorron duhesh me konvertu tekstin ne numer ne databaz -->
            <input type="text" name="fppClassification" placeholder="Nuk ka të dhëna" id="fppClassification" class="form-control" [(ngModel)]="contract.fppClassification"
              #contractFppClassification="ngModel" minlength="2" maxlength="2" [style.border-color]="!contractFppClassification.valid && contractFppClassification.touched
              ? 'red' : '#ced4da'">
            <div [hidden]="contractFppClassification.valid || !contractFppClassification.touched">
              <small class="text-danger">Klasifikimi duhet të permbajë 2 shifra!</small>
            </div>
          </div>
          <div class="col-md-2 form-group">
            <div class="radioButtons">
              <label class="radioButtonLabel">Planifikuar:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="contract.planned" name="planned" id="yes" value="Po" checked>
                <label class="form-check-label" for="yes">
                  Po
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="planned" [(ngModel)]="contract.planned" id="no" value="Jo">
                <label class="form-check-label" for="no">
                  Jo
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <div class="checkbox-buttons">
              <label class="checkbox-label">Buxheti</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="budget" id="ownSources" [(ngModel)]="contract.budget[0]" value="Të hyra vetanake">
                <label class="form-check-label" for="ownSources">
                  Të hyra vetanake
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="budget" id="kosovoBudget" [(ngModel)]="contract.budget[1]" value="Buxheti i Kosovës">
                <label class="form-check-label" for="kosovoBudget">
                  Buxh. i Kons. i Kosovës
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="budget" id="donation" [(ngModel)]="contract.budget[2]" value="Donacion">
                <label class="form-check-label" for="donation">
                  Donacion
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="initiationDate">Data e inicimit të aktivitetit të prokurimit (data e pranimit të kërkesës)</label>
            <input type="date" name="initiationDate" id="initiationDate" [(ngModel)]="contract.initiationDate" class="form-control">
          </div>
          <div class="col-md-6 form-group">
            <label>Data e aprovimit të deklaratës së nevojave dhe disponueshmërisë së mjeteve</label>
            <input type="date" name="approvalDateOfFunds" id="approvalDateOfFunds" [(ngModel)]="contract.approvalDateOfFunds" [(ngModel)]="contract.approvalDateOfFunds"
              class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label>Data e pranimit të specifikimit teknik (TOR)</label>
            <input type="date" name="torDate" id="torDate" [(ngModel)]="contract.torDate" class="form-control">
          </div>
          <div class="col-md-6 form-group">
            <label for="contractPublicationDate">Data e publikimit të njoftimit për kontratë</label>
            <input type="date" name="publicationDate" id="publicationDate" value="" class="form-control" [(ngModel)]="contract.contract.publicationDate">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Ankesat në autoritet:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToAuthority1" [(ngModel)]="contract.complaintsToAuthority1"
                  id="negative" value="1">
                <label class="form-check-label" for="negative">
                  Negative
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToAuthority1" [(ngModel)]="contract.complaintsToAuthority1"
                  id="positive" value="2">
                <label class="form-check-label" for="positive">
                  Pozitive
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Ankesat në OSHP:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToOshp1" [(ngModel)]="contract.complaintsToOshp1" id="negativeOshp"
                  value="1">
                <label class="form-check-label" for="negativeOshp">
                  Negative
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToOshp1" [(ngModel)]="contract.complaintsToOshp1" id="positiveOshp"
                  value="2">
                <label class="form-check-label" for="positiveOshp">
                  Pozitive
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <br>
            <label>Data e hapjes së ofertave</label>
            <input type="date" name="bidOpeningDate" id="bidOpeningDate" [(ngModel)]="contract.bidOpeningDate" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <br>
            <label for="noOfCompaniesWhoDownloadedTenderDoc">Nr. i OE që kanë shkarkuar dosjen e tenderit</label>
            <input type="number" name="noOfCompaniesWhoDownloadedTenderDoc" id="noOfCompaniesWhoDownloadedTenderDoc" placeholder="Nuk ka të dhëna"
              class="form-control" [(ngModel)]="contract.noOfCompaniesWhoDownloadedTenderDoc" #contractNoOfCompaniesWhoDownloadedTenderDoc="ngModel"
              [style.border-color]="contractNoOfCompaniesWhoDownloadedTenderDoc.value == 0  && (contractNoOfCompaniesWhoDownloadedTenderDoc.touched || contractForm.submitted) ? 'red' : '#ced4da'">
            <div [hidden]="contractNoOfCompaniesWhoDownloadedTenderDoc.value !== 0 || contractNoOfCompaniesWhoDownloadedTenderDoc.value == undefined || (!contractNoOfCompaniesWhoDownloadedTenderDoc.touched && !contractForm.submitted)">
              <small class="text-danger">Nuk duhet të jetë zero!</small>
            </div>
          </div>
          <div class="col-6 form-group">
            <br>
            <label for="noOfCompaniesWhoSubmited">Nr. i OE që kanë dorëzuar ofertat</label>
            <input type="number" name="noOfCompaniesWhoSubmited" id="noOfCompaniesWhoSubmited" placeholder="Nuk ka të dhëna" class="form-control"
              [(ngModel)]="contract.noOfCompaniesWhoSubmited" #contractNoOfCompaniesWhoSubmited="ngModel" [style.border-color]="contractNoOfCompaniesWhoSubmited.value == 0 && (contractNoOfCompaniesWhoSubmited.touched || contractForm.submitted)
              ? 'red' : '#ced4da'">
            <div [hidden]="contractNoOfCompaniesWhoSubmited.value !== 0 || contractNoOfCompaniesWhoSubmited.value == undefined
            || (!contractNoOfCompaniesWhoSubmited.touched && !contractForm.submitted)">
              <small class="text-danger">Nuk duhet të jetë zero!</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="startOfEvaluationDate" style="width:270px">Data e fillimit dhe përfundimit të vlersimit</label>
            <input type="date" name="startingOfEvaluationDate" id="startingOfEvaluationDate" [(ngModel)]="contract.startingOfEvaluationDate"
              class="form-control" placeholder="Data e fillimit">
          </div>
          <div class="col-md-3" style="padding-top: 29px;">
            <input type="date" name="endingOfEvaluationDate" id="endingOfEvaluationDate" [(ngModel)]="contract.endingOfEvaluationDate"
              class="form-control" placeholder="Data e përfundimit">
          </div>
          <div class="col-md-6">
            <label for="noOfRefusedBids">Numri i ofertave të refuzuara</label>
            <input type="number" name="noOfRefusedBids" id="noOfRefusedBids" placeholder="Nuk ka të dhëna" [(ngModel)]="contract.noOfRefusedBids"
              class="form-control" #contractNoOfRefusedBids="ngModel" [style.border-color]="contractNoOfRefusedBids.value == 0 && (contractNoOfRefusedBids.touched || contractForm.submitted)
              ? 'red' : '#ced4da'">
            <div [hidden]="contractNoOfRefusedBids.value !== 0 || contractNoOfRefusedBids.value == undefined || (!contractNoOfRefusedBids.touched && !contractForm.submitted)">
              <small class="text-danger">Nuk duhet të jetë zero!</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <br>
            <label>Data e aprovimit të Deklaratës së nevojave dhe disponueshmërisë së mjeteve - rikonfirmimi</label>
            <input type="date" name="reapprovalDate" id="reapprovalDate" [(ngModel)]="contract.reapprovalDate" #contractReapprovalDate
              class="form-control">
          </div>
          <div class="col-md-6">
            <br>
            <label for="standardDocuments">Letrat Standarde për OE</label>
            <input type="date" name="standardDocuments" id="standardDocuments" [(ngModel)]="contract.company.standardDocuments" #contractStandardDocuments
              class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <label for="publicationDateOfGivenContract">Data e publikimit të njoftimit për dhënie të kontratës</label>
            <input type="date" name="publicationDateOfGivenContract" id="publicationDateOfGivenContract" [(ngModel)]="contract.contract.publicationDateOfGivenContract"
              #contractPublicationDateOfGivenContract class="form-control">
          </div>
          <div class="col-6 form-group">
            <label for="cancellationNoticeDate">Data e publikimit të anulimit të njoftimit</label>
            <input type="date" name="cancellationNoticeDate" id="cancellationNoticeDate" class="form-control" [(ngModel)]="contract.cancellationNoticeDate"
              #contractCancellationNoticeDate>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Ankesat në autoritet:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToAuthority2" [(ngModel)]="contract.complaintsToAuthority2"
                  id="none" value="0" checked>
                <label class="form-check-label" for="none">
                  Nuk ka
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToAuthority2" [(ngModel)]="contract.complaintsToAuthority2"
                  id="negative1" value="1">
                <label class="form-check-label" for="negative1">
                  Negative
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToAuthority2" [(ngModel)]="contract.complaintsToAuthority2"
                  id="positive1" value="2">
                <label class="form-check-label" for="positive1">
                  Pozitive
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Ankesat në OSHP:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToOshp2" [(ngModel)]="contract.complaintsToOshp2" id="noneOshp"
                  value="0" checked>
                <label class="form-check-label" for="noneOshp">
                  Nuk ka
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToOshp2" [(ngModel)]="contract.complaintsToOshp2" id="negativeOshp1"
                  value="1">
                <label class="form-check-label" for="negativeOshp1">
                  Negative
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToOshp2" [(ngModel)]="contract.complaintsToOshp2" id="positiveOshp1"
                  value="2">
                <label class="form-check-label" for="positiveOshp1">
                  Pozitive
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <br>
            <label for="predictedValue">Vlera e parashikuar e kontratës</label>
            <input type="text" name="predictedValue" id="predictedValue" placeholder="Nuk ka të dhëna" [(ngModel)]="contract.contract.predictedValue"
              class="form-control" #contractPredictedValue="ngModel" [style.border-color]="contractPredictedValue.value == '0' && (contractPredictedValue.touched || contractForm.submitted)
              ? 'red' : '#ced4da'">
            <div [hidden]="contractPredictedValue.value !== '0' || contractPredictedValue.value == undefined || (!contractPredictedValue.touched && !contractForm.submitted)">
              <small class="text-danger">Nuk duhet të jetë zero!</small>
            </div>
          </div>
          <div class="col-md-6" style="padding-top: 21px;">
            <div class="radioButtons">
              <label class="radioButtonLabel">OE:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="type" [(ngModel)]="contract.company.type" id="local" value="OE Vendor"
                  checked>
                <label class="form-check-label" for="local">
                  Vendore
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="type" [(ngModel)]="contract.company.type" id="Jo vendore" value="notLocal">
                <label class="form-check-label" for="notLocal">
                  Jo vendore
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Afati kohor për pranimin e tenderëve:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="applicationDeadlineType" [(ngModel)]="contract.applicationDeadlineType"
                  id="normal" value="1" checked>
                <label class="form-check-label" for="normal">
                  Afati kohor normal
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="applicationDeadlineType" [(ngModel)]="contract.applicationDeadlineType"
                  id="shortened" value="2">
                <label class="form-check-label" for="shortened">
                  Afati kohor i shkurtuar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Kriteret për dhënie të kontratës:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="criteria" [(ngModel)]="contract.contract.criteria" id="lowPrice" value="Çmimi më i ulët"
                  checked>
                <label class="form-check-label" for="lowPrice">
                  Çmimi më i ulët
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="criteria" [(ngModel)]="contract.contract.criteria" id="economicallyFavorable"
                  value="Tenderi ekonomikisht më i favorshëm">
                <label class="form-check-label" for="economicallyFavorable">
                  Tenderi ekonomikisht më i favorshëm
                </label>
              </div>
              <div class="form-check">
                <br>
                <input class="form-check-input" type="radio" name="criteria" [(ngModel)]="contract.contract.criteria" id="pointPriceLower"
                  value="Çmimi më i ulët me poentim">
                <label class="form-check-label" for="pointPriceLower">
                  Çmimi më i ulët me poentim
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <br>
            <label for="retender">Re-tenderimi</label>
            <input type="text" name="retender" id="retender" placeholder="Nuk ka të dhëna" [(ngModel)]="contract.retender" class="form-control">
          </div>
          <div class="col-md-6" style="padding-top:22px;">
            <div class="radioButtons">
              <label class="radioButtonLabel">Statusi:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="status" [(ngModel)]="contract.status" id="published" value="1" checked>
                <label class="form-check-label" for="published">
                  Publikuar
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="status" [(ngModel)]="contract.status" id="evaluation" value="2">
                <label class="form-check-label" for="evaluation">
                  Vlerësim
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="status" [(ngModel)]="contract.status" id="cancelled" value="3">
                <label class="form-check-label" for="cancelled">
                  Anuluar
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="status" [(ngModel)]="contract.status" id="contracted" value="4">
                <label class="form-check-label" for="contracted">
                  Kontraktuar
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="oe-informations">
          <div class="col-6 form-group">
            <label for="nameOfContractedOe">Emri i OE të cilit i është dhënë kontrata</label>
            <input type="text" name="name" id="nameOfContractedOe" placeholder="Nuk ka të dhëna" [(ngModel)]="contract.company.name"
              class="form-control">
          </div>
          <div class="col-6 form-group">
            <label for="headquartersName">Selia e OE</label>
            <input type="text" name="headquartersName" id="headquartersName" placeholder="Nuk ka të dhëna" [(ngModel)]="contract.company.headquarters.name"
              class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-12 form-group">
            <label for="signingDate">Data e nënshkrimit të kontratës</label>
            <input type="date" name="signingDate" id="signingDate" class="form-control" [(ngModel)]="contract.contract.signingDate">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 form-group">
            <label for="implementationDeadlineStartingDate" style="width:270px;">Afatet për implementimin e kontratës</label>
            <input type="date" name="implementationDeadlineStartingDate" id="implementationDeadlineStartingDate" [(ngModel)]="contract.contract.implementationDeadlineStartingDate"
              class="form-control">
          </div>
          <div class="col-sm-3 form-group" style="padding-top: 29px;">
            <input type="date" name="implementationDeadlineEndingDate" id="implementationDeadlineEndingDate" [(ngModel)]="contract.contract.implementationDeadlineEndingDate"
              class="form-control">
          </div>
          <div class="col-6 form-group">
            <label for="closingDate">Data e mbylljes së kontratës</label>
            <input type="date" name="closingDate" id="closingDate" class="form-control" [(ngModel)]="contract.contract.closingDate">
          </div>
        </div>
        <div class="row">
          <div class="col-12 form-group">
            <label for="noOfPaymentInstallments">Numri i përgjithshëm i situacioneve për pagesë, sipas kontratës</label>
            <input type="number" name="noOfPaymentInstallments" id="noOfPaymentInstallments" placeholder="Nuk ka të dhëna" [(ngModel)]="contract.noOfPaymentInstallments"
              class="form-control" #contractNoOfPaymentInstallments="ngModel" [style.border-color]="contractNoOfPaymentInstallments.value == 0 && (contractNoOfPaymentInstallments.touched || contractForm.submitted)
              ? 'red' : '#ced4da'">
            <div [hidden]="contractNoOfPaymentInstallments.value !== 0 || contractNoOfPaymentInstallments.value == undefined || (!contractNoOfPaymentInstallments.touched && !contractForm.submitted)">
              <small class="text-danger">Nuk duhet të jetë zero!</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <label for="totalAmountOfContractsIncludingTaxes">Vlera totale e kontratës, duke përfshirë të gjitha taksat etj.</label>
            <input type="text" name="totalAmountOfContractsIncludingTaxes" id="totalAmountOfContractsIncludingTaxes" placeholder="Nuk ka të dhëna"
              [(ngModel)]="contract.contract.totalAmountOfContractsIncludingTaxes" class="form-control" #contractTotalAmountOfContractsIncludingTaxes="ngModel"
              [style.border-color]="contractTotalAmountOfContractsIncludingTaxes.value == '0' && (contractTotalAmountOfContractsIncludingTaxes.touched || contractForm.submitted) ? 'red' : '#ced4da'">
            <div [hidden]="contractTotalAmountOfContractsIncludingTaxes.value !== '0' || contractTotalAmountOfContractsIncludingTaxes.value == undefined || (!contractTotalAmountOfContractsIncludingTaxes.touched && !contractForm.submitted)">
              <small class="text-danger">Nuk duhet të jetë zero!</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="totalAmountOfAllAnnexContractsIncludingTaxes">Vlera totale e kontratës, duke përfshirë të gjitha anekset dhe të gjitha taksat etj.</label>
            <input type="text" name="totalAmountOfAllAnnexContractsIncludingTaxes" id="totalAmountOfAllAnnexContractsIncludingTaxes"
              placeholder="Nuk ka të dhëna" [(ngModel)]="contract.contract.totalAmountOfAllAnnexContractsIncludingTaxes" class="form-control"
              #contractTotalAmountOfAllAnnexContractsIncludingTaxes="ngModel" [style.border-color]="contractTotalAmountOfAllAnnexContractsIncludingTaxes.value == '0' && (contractTotalAmountOfAllAnnexContractsIncludingTaxes.touched || contractForm.submitted)
              ? 'red' : '#ced4da'">
            <div [hidden]="contractTotalAmountOfAllAnnexContractsIncludingTaxes.value !== '0' || contractTotalAmountOfAllAnnexContractsIncludingTaxes.value == undefined || (!contractTotalAmountOfAllAnnexContractsIncludingTaxes.touched && !contractForm.submitted)">
              <small class="text-danger">Nuk duhet të jetë zero!</small>
            </div>
          </div>
        </div>
        <div *ngIf="contract.contract.annexes.length > 0">
          <div class="row">
            <div class="col-md-6">
              <label for="totalValueOfAnnexContract1">Vlera totale e Aneks kontratës duke përfshirë të gjitha taksat (1)</label>
              <input type="text" name="totalValueOfAnnexContract1" id="totalValueOfAnnexContract1" class="form-control" placeholder="Nuk ka të dhëna"
                [(ngModel)]="contract.contract.annexes[0].totalValueOfAnnexContract1" #contractTotalValueOfAnnexContract1="ngModel"
                [style.border-color]="contractTotalValueOfAnnexContract1.value == '0' && (contractTotalValueOfAnnexContract1.touched
              || contractForm.submitted) ? 'red' : '#ced4da'">
              <div [hidden]="contractTotalValueOfAnnexContract1.value !== '0' || contractTotalValueOfAnnexContract1.value == undefined || (!contractTotalValueOfAnnexContract1.touched && !contractForm.submitted)">
                <small class="text-danger">Nuk duhet të jetë zero!</small>
              </div>
            </div>
            <div class="col-md-6">
              <label for="annexContractSigningDate1">Data e nënshkrimit të Aneks kontratës (1)</label>
              <input type="date" name="annexContractSigningDate1" id="annexContractSigningDate1" class="form-control" [(ngModel)]="contract.contract.annexes[0].annexContractSigningDate1">
            </div>
          </div>
        </div>
        <div *ngIf="contract.contract.annexes.length == 0">
          <div class="row">
            <div class="col-md-6">
              <label for="totalValueOfAnnexContract1">Vlera totale e Aneks kontratës duke përfshirë të gjitha taksat (1)</label>
              <input type="number" placeholder="Nuk ka të dhëna" name="totalValueOfAnnexContract1" id="totalValueOfAnnexContract1" class="form-control"
                [(ngModel)]="contract.contract.annexes[0].totalValueOfAnnexContract1" #contractTotalValueOfAnnexContract1="ngModel"
                [style.border-color]="contractTotalValueOfAnnexContract1.value == 0 && (contractTotalValueOfAnnexContract1.touched
              || contractForm.submitted) ? 'red' : '#ced4da'">
              <div [hidden]="contractTotalValueOfAnnexContract1.value !== 0 || contractTotalValueOfAnnexContract1.value == undefined || (!contractTotalValueOfAnnexContract1.touched && !contractForm.submitted)">
                <small class="text-danger">Nuk duhet të jetë zero!</small>
              </div>
            </div>
            <div class="col-md-6">
              <label for="annexContractSigningDate1">Data e nënshkrimit të Aneks kontratës (1)</label>
              <input type="date" name="annexContractSigningDate1" id="annexContractSigningDate1" class="form-control" [(ngModel)]="contract.contract.annexes[0].annexContractSigningDate1">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <br>
            <button type="button" data-toggle="tooltip" title="Shto Aneks Kontratë" class="btn btn-outline-primary buttons" (click)="addAnnex()">
              <span class="fa fa-plus"></span>
            </button>
            <button type="button" data-toggle="tooltip" title="Fshij Aneks Kontratë" class="btn btn-outline-primary buttons" (click)="removeAnnex()"
              *ngIf="countAnnex>1">
              <span class="fa fa-minus"></span>
            </button>
          </div>
          <div class="col-md-6"></div>
        </div>
        <div *ngFor="let annex of annexArray; let i = index">
          <div class="row">
            <div class="col-md-6">
              <label for="noOfPaymentInstallments{{i+2}}">Vlera totale e Aneks kontratës duke përfshirë të gjitha taksat ({{i+2}})</label>
              <input type="number" name="noOfPaymentInstallments{{i+1}}" id="noOfPaymentInstallments{{i+1}}" class="form-control" placeholder="Nuk ka të dhëna"
                [(ngModel)]="contract.contract.annexes[i+1].totalValueOfAnnexContract1" #contractTotalValueOfAnnexContract1="ngModel"
                [style.border-color]="contractTotalValueOfAnnexContract1.value == 0 && (contractTotalValueOfAnnexContract1.touched ||
              contractForm.submitted) ? 'red' : '#ced4da'">
              <div [hidden]="contractTotalValueOfAnnexContract1.value !== 0 || contractTotalValueOfAnnexContract1.value == undefined || (!contractTotalValueOfAnnexContract1.touched && !contractForm.submitted)">
                <small class="text-danger">Nuk duhet të jetë zero!</small>
              </div>
            </div>
            <div class="col-md-6">
              <label for="annexContractSigningDate{{i+2}}">Data e nënshkrimit të Aneks kontratës ({{i+2}})</label>
              <input type="date" name="annexContractSigningDate{{i}}" id="annexContractSigningDate{{i}}" class="form-control" [(ngModel)]="contract.contract.annexes[i+1].annexContractSigningDate1">
            </div>
          </div>
        </div>
        <h4>Situacionet</h4>
        <div *ngIf="contract.installments.length > 0">
          <div class="row">
            <div class="col-md-6">
              <label for="installmentPayDate1">Data e pagesës së situacionit (1)</label>
              <input type="date" name="installmentPayDate1" id="installmentPayDate1" class="form-control" [(ngModel)]="contract.installments[0].installmentPayDate1">
            </div>
            <div class="col-md-6">
              <label for="installmentAmount1">Shuma e pagesës së situacionit (1)</label>
              <input type="number" name="installmentAmount1" id="installmentAmount1" class="form-control" placeholder="Nuk ka të dhëna"
                [(ngModel)]="contract.installments[0].installmentAmount1" #contractInstallmentAmount1="ngModel" [style.border-color]="contractInstallmentAmount1.value == 0 && (contractInstallmentAmount1.touched ||
              contractForm.submitted) ? 'red' : '#ced4da'">
              <div [hidden]="contractInstallmentAmount1.value !== 0 || contractInstallmentAmount1.value == undefined || (!contractInstallmentAmount1.touched && !contractForm.submitted)">
                <small class="text-danger">Nuk duhet të jetë zero!</small>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="contract.installments.length == 0">
          <div class="row">
            <div class="col-md-6">
              <label for="installmentPayDate1">Data e pagesës së situacionit (1)</label>
              <input type="date" name="installmentPayDate1" id="installmentPayDate1" class="form-control" [(ngModel)]="contract.installments[0].installmentPayDate1">
            </div>
            <div class="col-md-6">
              <label for="installmentAmount1">Shuma e pagesës së situacionit (1)</label>
              <input type="number" placeholder="Nuk ka të dhëna" name="installmentAmount1" id="installmentAmount1" class="form-control"
                placeholder="Nuk ka të dhëna" [(ngModel)]="contract.installments[0].installmentAmount1" #contractInstallmentAmount1="ngModel"
                [style.border-color]="contractInstallmentAmount1.value == 0 && (contractInstallmentAmount1.touched ||
              contractForm.submitted) ? 'red' : '#ced4da'">
              <div [hidden]="contractInstallmentAmount1.value !== 0 || contractInstallmentAmount1.value == undefined || (!contractInstallmentAmount1.touched && !contractForm.submitted)">
                <small class="text-danger">Nuk duhet të jetë zero!</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <br>
            <button type="button" data-toggle="tooltip" title="Shto Situacion" class="btn btn-outline-primary buttons" (click)="addInstallments()">
              <span class="fa fa-plus"></span>
            </button>
            <button type="button" data-toggle="tooltip" title="Fshij Situacion" class="btn btn-outline-primary buttons" (click)="removeInstallment()"
              *ngIf="countInstallment>1">
              <span class="fa fa-minus"></span>
            </button>
          </div>
          <div class="col-md-6"></div>
        </div>
        <div *ngFor="let installment of arrayInstallments; let i = index">
          <div class="row">
            <div class="col-md-6">
              <label for="installmentPayDate{{i+1}}">Data e pagesës së situacionit ({{i+2}})</label>
              <input type="date" name="installmentPayDate{{i+1}}}" id="installmentPayDate{{i+1}}" class="form-control" [(ngModel)]="contract.installments[i+1].installmentPayDate1">
            </div>
            <div class="col-md-6">
              <label for="installmentAmount1{{i+1}}">Shuma e pagesës së situacionit ({{i+2}})</label>
              <input type="number" name="installmentAmount1{{i+1}}" id="installmentAmount1{{i+1}}" class="form-control" placeholder="Nuk ka të dhëna"
                [(ngModel)]="contract.installments[i+1].installmentAmount1" #contractInstallmentAmount1="ngModel" [style.border-color]="contractInstallmentAmount1.value == 0 && (contractInstallmentAmount1.touched
              || contractForm.submitted) ? 'red' : '#ced4da'">
              <div [hidden]="contractInstallmentAmount1.value !== 0 || contractInstallmentAmount1.value == undefined || (!contractInstallmentAmount1.touched && !contractForm.submitted)">
                <small class="text-danger">Nuk duhet të jetë zero!</small>
              </div>
            </div>
          </div>
        </div>
        <h4>Situacioni i fundit</h4>
        <div class="row">
          <div class="col-md-6">
            <label for="lastInstallmentPayDate">Data e pagesës së situacionit të fundit</label>
            <input type="date" name="lastInstallmentPayDate" id="lastInstallmentPayDate" [(ngModel)]="contract.lastInstallmentPayDate"
              class="form-control">
          </div>
          <div class="col-md-6">
            <label for="lastInstallmentAmount">Shuma e pagesës së situacionit të fundit</label>
            <input type="number" name="lastInstallmentAmount" id="lastInstallmentAmount" placeholder="Nuk ka të dhëna" [(ngModel)]="contract.lastInstallmentAmount"
              class="form-control" #contractLastInstallmentAmount="ngModel" [style.border-color]="contractLastInstallmentAmount.value == 0 && (contractLastInstallmentAmount.touched || contractForm.submitted)
              ? 'red' : '#ced4da'">
            <div [hidden]="contractLastInstallmentAmount.value !== 0 || contractLastInstallmentAmount.value == undefined || (!contractLastInstallmentAmount.touched && !contractForm.submitted)">
              <small class="text-danger">Nuk duhet të jetë zero!</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Shuma e zbritjes nga kontrata për shkaqe të ndalesave</label>
            <input type="text" name="discountAmount" id="discountAmount" placeholder="Nuk ka të dhëna" [(ngModel)]="contract.contract.discountAmount"
              class="form-control" #contractDiscountAmount="ngModel" [style.border-color]="contractDiscountAmount.value == 0 && (contractDiscountAmount.touched || contractForm.submitted)
            ? 'red' : '#ced4da'">
            <div [hidden]="contractDiscountAmount.value !== 0 || contractDiscountAmount.value == undefined || (!contractDiscountAmount.touched && !contractForm.submitted)">
              <small class="text-danger">Nuk duhet të jetë zero!</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="totalPayedPriceForContract">Çmimi total i paguar për kontratën</label>
            <input type="number" name="totalPayedPriceForContract" id="totalPayedPriceForContract" placeholder="Nuk ka të dhëna" [(ngModel)]="contract.contract.totalPayedPriceForContract"
              class="form-control" #contractTotalPayedPriceForContract="ngModel" [style.border-color]="contractTotalPayedPriceForContract.value == 0 && (contractTotalPayedPriceForContract.touched || contractForm.submitted)
            ? 'red' : '#ced4da'">
            <div [hidden]="contractTotalPayedPriceForContract.value !== 0 || contractTotalPayedPriceForContract.value == undefined || (!contractTotalPayedPriceForContract.touched && !contractForm.submitted)">
              <small class="text-danger">Nuk duhet të jetë zero!</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="year">Viti</label>
            <input type="text" name="year" id="year" placeholder="Nuk ka të dhëna" [(ngModel)]="contract.year" class="form-control" #contractYear="ngModel"
              minlength="4" maxlength="4" required [style.border-color]="!contractYear.valid && (contractYear.touched || contractForm.submitted) ?
            'red' : '#ced4da'">
            <div [hidden]="contractYear.valid || (!contractYear.touched && !contractForm.submitted)">
              <small class="text-danger">Viti duhet plotësuar dhe duhet të jetë valid!</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <div class="form-group">
              <label for="directorates">Drejtoritë</label>
              <select name="directorates" id="directorates" placeholder="Zgjedh" class="form-control" [(ngModel)]="contract.directorates"
                #contractDirectorates="ngModel" required [style.border-color]="!contractDirectorates.valid && (contractDirectorates.touched || contractForm.submitted)
                ? 'red' : '#ced4da'">
                <option value="" selected>Zgjedh drejtorinë</option>
                <option *ngFor="let directorate of directorates"> {{directorate.directorateName}}</option>
              </select>
              <div [hidden]="contractDirectorates.valid || (!contractDirectorates.touched && !contractForm.submitted)">
                <small class="text-danger">Duhet zgjedhur!</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Statusi:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flagStatus" [(ngModel)]="contract.flagStatus" id="successful" value="1">
                <label class="form-check-label" for="successful">
                  Suksesshëm
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flagStatus" [(ngModel)]="contract.flagStatus" id="pending" value="2">
                <label class="form-check-label" for="pending">
                  Pezull
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flagStatus" [(ngModel)]="contract.flagStatus" id="failed" value="3">
                <label class="form-check-label" for="failed">
                  Dështuar
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" id="upload-contract">
              <input type="file" name="contractFile" id="contractFile" class="filestyle my-style" (change)="fileChangeEvent($event)">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="nameOfProcurementOffical">Emri i zyrtarit të prokurimit</label>
            <input type="text" name="nameOfProcurementOffical" id="nameOfProcurementOffical" placeholder="Nuk ka të dhëna" [(ngModel)]="contract.nameOfProcurementOffical"
              #contractNameOfProcurementOffical="ngModel" class="form-control" required [style.border-color]="!contractNameOfProcurementOffical.valid && (contractNameOfProcurementOffical.touched || contractForm.submitted) ? 'red'
              : '#ced4da'">
            <div [hidden]="contractNameOfProcurementOffical.valid || (!contractNameOfProcurementOffical.touched && !contractForm.submitted)">
              <small class="text-danger">Duhet plotësuar!</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="buttons">
        <div class="col-md-12">
          <button type="submit" value="Submit" class="btn btn-outline-primary buttons" id="edit-contract-button">Ndrysho</button>
        </div>
      </div>
    </form>
  </div>