.margins {
    margin-top: 55px;
    margin-bottom: 55px;
    border-color: #32a6bd3b;
}
#bg-img {
    background-image:url("/assets/images/visualizations.jpg");
    /* Full height */
    height: 446px; 
    max-height: 446px;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    margin-left:0;
    margin-right:0;
    width: 100%;
    max-width: 100%;
    height: 760px;
}
.visualisation-header {
    font-family: 'Roboto', sans-serif;
    color:white;
    margin-left: 5%;
    margin-right: 5%;   
    width: 94%;
    max-width: 94%;
    top: 27%;
 }
 .visualisation-header #title {
    width: auto;
    margin-top: 5%; 
    margin-bottom: 0;
    font-weight: 600;
    font-size: 3.5rem;
    float: left;
 }
 .visualisation-description {
    white-space: pre-line;
    float: left;
    font-family: 'Roboto', sans-serif;
    color:white;
    text-align: justify;
}
#visualisation {
    padding-left: 0;
}
#subtitle {
    width: auto;
    margin-bottom: 0;
    font-weight: 400;
    float: left;
}