<div class="container mt-5">
    <div class="row">
        <div class="col-12 mt-5">
            <app-contracts-count-by-years-chart></app-contracts-count-by-years-chart>
        </div>
        <div class="col-12 mt-5">
            <app-top-ten-contractors-chart></app-top-ten-contractors-chart>
        </div>
        <div class="col-12 mt-5">
            <app-contract-by-signing-date-publication-date-chart></app-contract-by-signing-date-publication-date-chart>
        </div>
        <div class="col-12 mt-5">
            <app-contract-by-year-with-predicted-value-total-amount></app-contract-by-year-with-predicted-value-total-amount>
        </div>
    </div>
</div>