<div class="container mt-5">
    <div class="row">
        <div class="col-12 mt-10">
            <app-contracts-count-by-years-chart></app-contracts-count-by-years-chart>
        </div>
        <div class="col-12 mt-10">
            <hr class="margins">
            <app-top-ten-contractors-chart></app-top-ten-contractors-chart>
        </div>
        <div class="col-12 mt-10">
            <hr class="margins">
            <app-contract-by-signing-date-publication-date-chart></app-contract-by-signing-date-publication-date-chart>
        </div>
        <div class="col-12 mt-10">
            <hr class="margins">
            <app-directorates-chart></app-directorates-chart>
        </div>

        <div class="col-12 mt-10">
            <hr class="margins">
            <app-contract-by-year-with-predicted-value-total-amount></app-contract-by-year-with-predicted-value-total-amount>
        </div>
        <div class="col-12 mt-10">
            <hr class="margins">
            <app-directorates-table></app-directorates-table>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">

    </div>
</div>