<div class="container-fluid">
    <!-- Breadcrumbs-->
    <div class="row">
      <div class="col-6">
        <h1 class="title">Përdoruesit</h1>
      </div>
      <div class="col-6" id="add-user-btn">
        <button  data-toggle="modal" data-target="#add-user-modal" class="float-right btn btn-outline-primary add-btn"><i class="fa fa-plus">   </i>   Shto përdorues</button>
      </div>
    </div>
    <div class="row col-12" id="table-row">
        <table class="table" *ngFor="let user of users">
            <tbody>
              <tr>
                <td class="img-col">
                    <img src="/assets/images/zyrtari.png" class="img-fluid"> 
                </td>
                <td class="user-info">
                  <p class="name">{{ user.firstName }} {{ user.lastName }} </p>
                  <p class="position">Pozita</p>
                </td>
                <td class="view-ico">
                  <span><a data-toggle="modal" data-target="#exampleModal"><i class="fa fa-user" aria-hidden="true"></i></a></span>
                </td>
                <td class="edit-ico">
                  <span><a data-toggle="modal" data-target="#change-password-modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
                </td>
                <td class="delete-ico">
                    <span><a data-toggle="modal" data-target="#exampleModal"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12 change-btns">
            <button class='btn btn-primary' id="change-password-btn" data-toggle="modal" style='margin-top: 10px;' data-target="#change-password-modal">
                Ndrysho fjalëkalimin
            </button>
          </div>
    </div>

    <app-registration-form></app-registration-form>
    <app-change-password-form></app-change-password-form>
   <!-- /Modal for adding a user or admin -->
  </div>