.error-msg {
    color: red;
}
#change-password-modal {
    border: none;
}
#change-password-modal .modal-header {
    background-color: #39a6bd;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
#change-password-modal .modal-footer {
    background-color: #e9ecef;
}
#add-user-btn {
    padding-right: 67px;
}
.form-i {
    margin-bottom: 0;
}
.my-form-control {
    margin: 10px 0;
}