.navbar {
    background-color: white;
    padding:  15px 100px 15px 100px;
    box-shadow: 0 8px 20px -15px black;
    transition: 0.5s
}
.fa {
    color: #32a6bd;
}
.scroll {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    transition: 0.5s !important;
}
.nav-item.active .underline {
    border-bottom: 3px solid #32a6bd;
    margin-top: 0;
    margin-left: 25px;
}
.nav-item {
    color:black;
}

.nav-link {
    font-size: 17px;
    color: #333;
    padding-bottom: 0;
}
.nav-item.active .nav-link {
    color:#32a6bd;
    font-weight: 500;
}
#lang-select {
    display: inherit;
}
#mainNav .navbar-collapse {
    top: 0;
    left: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 56px;
    overflow: visible;
}
a {
    font-family: 'Roboto', sans-serif;
}
.navbar-brand {
    font-size: 30px;
    color:#32a6bd;
    font-weight: 600;
}
#dropdownMenu {
    list-style-type: none;
    display: inherit;
}
#underlineHome {
    width:36px;
}
#underlineVisualizations {
    width:80px;
}
#underlineDataSet {
    width:116px;
}
#underlineAbout {
    width:69px;
}
#horizontalLine {
    margin-top:7px ;
    color:#333;
}
#lang-select {
    background-color: white;
    color: rgba(0,0,0,.5);
    padding-left: 0;
    border:none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500
}
.dropdown-toggle::after {
    margin-top: 11px;
}
.dropdown-menu a.nav-link {
    padding-left: 6px;
    padding-top: 1px;
    padding-bottom: 3px;
}
.dropdown-menu a.nav-link:hover {
    background-color: #f2f2f2 !important;
    cursor:pointer;
    
}
@media (max-width: 1485px) {
    .nav-link {
        font-size: 15px;   
    }
    #underlineHome {
        width:32px;
    }
    #underlineVisualizations {
        width:72px;
    }
    #underlineDataSet {
        width:107px;
    }
    #underlineAbout {
        width:61px;
    }
 }
 @media (max-width: 1480px){
    .nav-item.active .underline {
        margin-left: 18px;
    }
    .navbar {
        padding:  14px 100px 14px 100px;
    }
    #underlineHome {
        width:33px;
    }
    #underlineVisualizations {
        width:71px;
    }
    #underlineDataSet {
        width:104px;
    }
    #underlineAbout {
        width:59px;
    }
 }
 @media(max-width:1280px) {
    .nav-item.active .underline {
        margin-left: 24px;
    }
    .navbar {
        padding:  13px 100px 13px 100px;
    }
     .nav-link {
        font-size: 15px;
     }
     #underlineVisualizations {
        width:62px;
    }
   
 }
 
 @media (max-width: 1111px) {
    .navbar {
        padding:  12px 100px 12px 100px;
    }
    #underlineHome {
        width:28px;
    }
    #underlineVisualizations {
        width:66px;
    }
    #underlineDataSet {
        width:98px;
    }
    #underlineAbout {
        width:55px;
    } 
 }
 
@media (max-width: 1040px) {
   .nav-link {
    font-size: 14px
    }
    #lang-select{
        font-size: 14px
    }
    .nav-item.active .underline {
        margin-left: 22px;
    }
    #underlineDataSet {
        width:92px;
    }
    #underlineVisualizations {
        width:62px;
    }
    #underlineAbout {
        width:52px;
    }
 }
 @media(max-width:1010px) {
    .nav-link {
        font-size: 13.5px;
    }
    #lang-select{
        font-size: 13.5px
    }

 }
 @media(max-width: 992px) {
   
    .nav-item.active .underline {
        margin-left: 11px;
    }
    #underlineHome {
        width:34px;
    }
    #underlineVisualizations {
        width:67px;
    }   
    #underlineDataSet {
        width:97px;
    }
    #underlineAbout {
        width:58px;
    }
}

 @media(max-width: 781px) {
    .nav-item.active .underline {
        margin-left: 9px;
    }
 }
@media (max-width: 380px) { 
   .navbar-brand {
       font-size: 20px 
   }
   .nav-link {
        font-size: 14px;
    }
    #lang-select{
        font-size: 14px
    }
   .nav-item.active .underline {
        margin-left: 10px;
    }
    #underlineHome {
        width:35px;
    }
    #underlineVisualizations {
        width:72px;
    }
    #underlineDataSet {
        width:100px;
    }
    #underlineAbout {
        width:65px;
    }
}
@media (max-width: 336px) {
    .navbar-brand {
        font-size: 15px 
    }
    .nav-link {
        font-size: 12px;
    }
    #lang-select{
        font-size: 12px
    }
    .nav-item.active .underline {
        margin-left: 5px;
    }
    #underlineHome {
        width:35px;
    }
    #underlineVisualizations {
        width:67px;
    }
    #underlineDataSet {
        width:92px;
    }
    #underlineAbout {
        width:58px;
    }
    
 }
/* ---- /Responsiveness ---- */