
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto navbar-left">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['']" >BALLINA</a>
        <div class="underline" id="underlineHome" routerLinkActive="active"></div>
      </li>
      <li class="nav-item"routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link " [routerLink]="['/visualisations']" >VIZUALIZIMET</a>
        <div class="underline" [ngStyle]="{'width':'85px'}" routerLinkActive="active"></div>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/data-set']">SETI I TË DHËNAVE</a>
        <div class="underline" [ngStyle]="{'width':'126px'}"routerLinkActive="active"></div>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/about-us']">RRETH NESH</a>
        <div class="underline" [ngStyle]="{'width':'75px'}" routerLinkActive="active"></div>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" href="http://biznesetehapura.com/sq" target="_blank">BIZNESET E HAPURA</a>
    
      </li>
    </ul>
    <div>
      <ul class="navbar-nav navbar-right text-dark">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/albanian']">SHQ</a> 
        </li>
        <span>|</span>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/serbian']" >SRB</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
