#table {
    padding-left: 30px;
    padding-bottom: 10%;
    padding-right: 30px;
}
.view-icon {
    padding-left: 10px;
}
.edit-icon {
    padding-left: 17px;
}
.delete-icon {
    padding-left: 9px;
}
.column-header {
    font-weight: 500;
    margin-bottom: 0;
}
a {
    color: rgb(33, 37, 41);
}
i {
    color: rgb(33, 37, 41);
}
.contract-status-pending-icon {
    padding-left: 12px;
    color: orange;
    padding-top: 5px;
}
.contract-status-successful-icon {
    color: green;
    padding-left: 12px;
    padding-top: 5px;
}
.contract-status-failed-icon {
    color: red;
    padding-left: 12px;
    padding-top: 5px;
}
/* Delete user style */
.delete-modal-header {
    background-color: #39a6bd;
    color: white;
    padding-bottom: 4%;
    padding-left: 3%; 
}
#delete-contract-modal {
    padding: 0 !important;
}
.my-modal-footer {
    padding-bottom: 0;
}
.modal-body {
    padding-left: 2%;
    padding-bottom: 2%;
}
.ngx-datatable.bootstrap .empty-row {
    height: 50px;
    text-align: center;
    padding: .5rem 1.2rem;
    vertical-align: top;
    border-top: 0; 
    color: rgb(66, 66, 66);
    font-size: 15px;
    margin-bottom: 20px; 
}
#per-page {
    border: none;
    background-color: rgb(66, 66, 66);
    color: #fff;
}
.sort-icons {
    position: absolute;
    bottom: 3%;
    padding-left: 2%;
}
#sort {
    font-size: 16px;
}
#sort i {
    color: #fff !important;
}
.search {
    width: 100%;
}
.contracts-filter-form {
    margin-top: 40px;
    margin-left: 0;
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
}
.contracts-filter-form .form-input {
    margin-right: 20px;
    border: 1px #32a6bd solid;
    width: 22%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
    height: 50px;

}

.contracts-filter-form .form-input:focus {
    font-weight: 400;
    color: #32a6bd;
    outline: none;
}
.contracts-filter-form .form-input:focus::placeholder {
    font-weight: 400;
    color: #32a6bd;
    outline: none;
}

.contracts-filter-form .form-select {
    margin-right: 20px;
    border: 1px #32a6bd solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 23%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
    background: url('/assets/images/down-arrow-black.png') white no-repeat calc(100% - 10px) !important; 
    padding-top: 6px;
    padding-bottom: 6px;
    height: 50px;
}

.contracts-filter-form .form-select:focus {
    font-weight: 400;
    color: #32a6bd;
    outline: none;
    background: url('/assets/images/down-arrow-blue.png') white no-repeat calc(100% - 10px) !important; 
}