<!-- Cover image-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 cover-col">
      <div id="bg-img" class="cover">
        <div class="info-text">
          <h1 class="title">Kontratat e nënshkurara publike</h1>
          <h4 class="subtitle">- Komuna e Prishtinës</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- / Cover image -->
<!-- Public contracts -->
<div class="container-fluid">
  <div class="row" id="public-contracts-row  ">
    <div class="col-md-12 public-contracts">
      <h1 class="text-center title">KONTRATAT PUBLIKE</h1>
    </div>
  </div>

  <div class="row h-100 justify-content-center align-items-center">
    <div class="">
      <div class="contracts-filter-form">
        <form action="" class="form-inline">
          <input type="text" class="form-control form-input" placeholder="Kërko kontratën">
          <select name="" id="" class="form-control form-select">
            <option value="">Drejtoria</option>
          </select>
          <select name="" id="" class="form-control form-select">
            <option value="">Kompania</option>
          </select>
          <select name="" id="" class="form-control form-select">
            <option value="">Vlera</option>
          </select>
          <button class="btn btn-primary form-button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
  </div>


 <div class="row">
    <div class="col-md-12">
      <h1 class="text-center table">Table Placeholder</h1>
    </div>
 </div>
</div>
<!-- /Public contracts -->
<div class="container-fluid data-set" id="cover-image">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title text-center">SETI I TË DHËNAVE</h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="">
      <div class="data-set-form">
        <form action="" class="form-inline">
          <select name="" id="" class="form-control form-select">
            <option value="">Formati</option>
          </select>
          <select name="" id="" class="form-control form-select">
            <option value="">Viti</option>
          </select>
          <select name="" id="" class="form-control form-select">
            <option value="">Lloji</option>
          </select>
          <button class="btn btn-primary form-button">
            Shkarko <i class="fa fa-download" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>