<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Ndrysho fjalëkalimin</h5>
  <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form id="changePassword" novalidate #f="ngForm" (submit)="changePassword($event)">
  <div class="modal-body">
    <div class="form-group">
      <label for="currentpassword">Fjalëkalimi aktual:</label>
      <input type="password" class="form-control" id="currentpassword" name="currentpassword" [(ngModel)]='user.currentPassword'
        #currentPassword="ngModel" required [style.border-color]="currentPassword.errors?.required && currentPassword.touched  || currentPassword.value == newPassword.value && currentPassword.touched || currentPassword.errors?.minlength && currentPassword.touched  ? 'red' : '#ced4da'"
        minlength="6">
      <div *ngIf="currentPassword.errors?.required && currentPassword.touched; else errorCurrentPassword" class="error-message">
        Fjalëkalimi aktual duhet plotësuar!
      </div>
      <ng-template #errorCurrentPassword>
        <div *ngIf="currentPassword.errors?.minlength && currentPassword.touched" class="error-message">Fjalëkalimi aktual duhet të jetë më i gjatë se 6 karaktere!</div>
        <div *ngIf="currentPassword.value == newPassword.value && currentPassword.touched" class="error-message">Fjalëkalimi aktual është i njejt me fjalëkalimin e ri!</div>
      </ng-template>
    </div>
    <div class="form-group">
      <label for="newPassword">Fjalëkalimi i ri:</label>
      <input type="password" class="form-control" id="newpassword" name="newpassword" [(ngModel)]='user.newPassword' #newPassword="ngModel"
        required [style.border-color]="newPassword.errors?.required && newPassword.touched  || currentPassword.value == newPassword.value && newPassword.touched || newPassword.errors?.minlength && newPassword.touched || newPassword.value != newPasswordConfirm.value && newPassword.touched    ? 'red' : '#ced4da'"
        minlength="6">
      <div *ngIf="newPassword.errors?.required && newPassword.touched; else errorNewPassword" class="error-message">
        Fjalëkalimi i ri duhet plotësuar!
      </div>
      <ng-template #errorNewPassword>
        <div *ngIf="newPassword.errors?.minlength && newPassword.touched" class="error-message">Fjalëkalimi aktual duhet të jetë më i gjatë se 6 karaktere!</div>
        <div *ngIf="currentPassword.value == newPassword.value && currentPassword.touched" class="error-message">Fjalëkalimi aktual është i njejt me fjalëkalimin e ri!</div>
      </ng-template>
    </div>
    <div class="form-group">
      <label for="newpasswordconfirm">Konfirmo fjalëkalimin e ri:</label>
      <input type="password" class="form-control" id="newpasswordconfirm" name="newpasswordconfirm" [(ngModel)]="user.newPasswordConfirm"
        #newPasswordConfirm="ngModel" required [style.border-color]="newPasswordConfirm.errors?.required && newPasswordConfirm.touched  || newPassword.errors?.minlength && newPassword.touched || newPassword.value != newPasswordConfirm.value && newPassword.touched    ? 'red' : '#ced4da'"
        minlength="6">
      <div *ngIf="newPassword.errors?.required && newPassword.touched; else errorNewPasswordConfirm" class="error-message">
        Fjalëkalimi i ri duhet plotësuar!
      </div>
      <ng-template #errorNewPasswordConfirm>
        <div *ngIf="newPasswordConfirm.errors?.minlength && newPasswordConfirm.touched" class="error-message">Fjalëkalimi aktual duhet të jetë më i gjatë se 6 karaktere!</div>
        <div *ngIf="newPassword.value != newPasswordConfirm.value && newPassword.touched" class="error-message">Fjalëkalimet nuk përputhen !</div>
      </ng-template>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Mbyll</button>
    <button type="submit" class="btn btn-primary" id="change" [disabled]="!f.valid || newPassword.value != newPasswordConfirm.value || currentPassword.value == newPassword.value || newPassword.value != newPasswordConfirm.value &&  currentPassword.value == newPassword.value || currentPassword.value == newPassword.value && !f.valid || newPassword.value != newPasswordConfirm.value && !f.valid || currentPassword.value == newPassword.value && !f.valid && newPassword.value != newPasswordConfirm.value">Ruaj</button>
  </div>
</form>