<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="changePassword">
                <div class="form-group">
                    <label for="currentpassword">Fjalëkalimi aktual:</label>
                    <input type="password" class="form-control" id="currentpassword" name="currentpassword">
                </div>
                <div class="form-group">
                    <label for="newPassword">Fjalëkalimi i ri:</label>
                    <input type="password" class="form-control" id="newpassword" name="newpassword">
                </div>
                <div class="form-group">
                    <label for="newpasswordconfirm">Konfirmo fjalëkalimin e ri:</label>
                    <input type="password" class="form-control" id="newpasswordconfirm" name="newpasswordconfirm">
                </div>
              </form>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Mbyll</button>
          <button type="button" class="btn btn-primary" id="change">Ruaj</button>
        </div>
      </div>
    </div>
  </div>