.modal-header {
    font-weight: bold;
    font-family: 'Robot', sans-serif;
    color: white;
    background: #39a6bd;
}
#change {
    background: #32a6bd;
    color: white;
    border-color:#32a6bd;
}

.error-message{
    color: red;
}