.login-box {
    font-family: 'Robot', sans-serif;
    width: 402px;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
}
.form-control {
    border: 1px solid #e6e5e5;
}
#login-form {   
    box-shadow: 15px 15px 94px -6px hsl(0, 0%, 87%);
}
.vertical-middle-align {
    min-height: 100%;  /*Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
.login-header {   
    font-weight: bold;
    font-family: 'Robot', sans-serif;
    color: #fff;
    background: #39a6bd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 41px;
    margin-left: -12px;
    margin-right: -13px;
    margin-top: -6px;
}
.login-header h4 {
    margin-left: 12px;
    line-height: 41px;  
    font-size: 17px;
}
#login-button {
    background: #32a6bd;
    border: none;
    width: 375px;
    height: 34px;
}
.login-box label {
    margin-top: 17px;
}
.remember {
    margin-top: 17px;
    margin-bottom: 17px;
}
#password-changer {
    font-size: 14px;
    color: #32a6bd;
    text-decoration: none;
}
.password-link {
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
    width: 346px;
}
#password {
    border: 1px solid #e8e8e8;
}
#username{
    border: 1px solid #e8e8e8;
}
label {
    color:black;
}
.modal-header {
    font-weight: bold;
    font-family: 'Robot', sans-serif;
    color: #fff;
    background: #39a6bd;
}
.modal-body {
    color: black;
    font-family: 'Robot', sans-serif;
    font-size: 20px;
}
.error-msg {
    color: red;
}
#contracts-buttons {
    margin-top: 10px;
    margin-right: 15px;
}
.buttons {
    border-color: #39a6bd !important;
    color: #39a6bd !important;
    margin-bottom: 10px;
    background-color: #fff !important;
}
.buttons:hover:enabled {
    background-color: #39a6bd !important; 
    color: white !important;
    border-color: #39a6bd !important;  
}

.error-msg {
    font-size: 14px;
    color: red;
}