<div class="container col-md-12 login-box vertical-middle-align">
  <form (submit)="onLoginSubmit()" class="form-control" id="login-form" >
    <div class="login-header">
      <h4>Kyçu</h4>
    </div>
    <label for="username">Përdoruesi</label>
    <input type="text" [(ngModel)]="email" name="email" class="form-control" id="username" placeholder="Përdoruesi" required/>
    <label for="password">Fjalëkalimi</label>
    <input type="password" class="form-control" [(ngModel)]="password" name="password" id="password" placeholder="Fjalëkalimi" required/>
    <br/>
    <button type="submit" class="btn btn-primary" id="login-button">Kyçu</button>

    <div class="password-link">
        <a data-toggle="modal" data-target="#passwordRecovery" id="password-changer">Keni harruar fjalëkalimin?</a>
        <!-- Modal -->
        <div class="modal fade" id="passwordRecovery" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Rigjenerimi i fjalëkalimit</h5>
                <button style="background-color: #39a6bd"type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                Kontaktoni administratorin në  <i class="text-info"><u>someone@example.com</u></i> për rigjenerim të fjalëkalimit të ri!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </form>
</div>
