<div class="row">
  <div id="year-input" class="offset-10 col-2 mb-3 float-right">
    <div class="form-group">
      <label for="yearInput">{{ 'dataset.year' | translate }}:</label>
      <select (change)="onChange($event)" class="form-control my-form-control">
        <option value="any">{{ 'visualisations.allYears' | translate }}</option>
        <option id="year" *ngFor="let year of years" value="{{year.year}}">{{year.year}}</option>
      </select>
    </div>
  </div>
</div>
<div [chart]="chartt" id="target" class="mb-5"></div>