<div class="row mb-3">
  <div class="col-12">
    <h1 class="text-info bg-light" style="margin-top: 50px">Komentet</h1>
     <div style="margin: 15px;" class="custom-control custom-checkbox">
      <input #enableEmailNotification (change)="checkEmailNotification(enableEmailNotification.checked)" type="checkbox" class="custom-control-input" [(ngModel)]="enableEmailNotificationStatus" id="enable-email-nofitication">
      <label class="custom-control-label" for="enable-email-nofitication">Lejo njoftimin me email në rastin e komentimit.</label>
    </div>
    <div style="margin-left: 50px!important" *ngIf="enableEmailNotificationStatus">
      <div style="margin-left: -10px" class="alert alert-info alert-dismissible fade show" role="alert">
          <b>Vëmendje:</b> Pas lejimit të njoftimit, të gjithë administratorët do të njoftohen me email automatikisht!
      </div>
      <div style="margin-left: -10px;margin-bottom: 1rem;">Zgjedh përgjegjësit të cilëve do i'u dërgohet njoftimi:</div>
      <div class="col-md-12" style='margin-bottom: 10px;' *ngFor="let option of simpleActiveUsers">
        <div class="custom-checkbox">
            <input (change)="updateSelectedEmailsState()" type="checkbox" value="{{option.value}}" class="custom-control-input" [(ngModel)]="option.checked" id="{{option.value}}">
            <label class="custom-control-label" for="{{option.value}}">{{option.name}}</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div *ngFor="let user of users; let i = index" class="container">
    <div class="row border-top" @fade>
      <div class="img-col col-md-1" id="image-col">
        <div *ngIf="user.role == 'user' && user.isActive == true">
          <img src="/assets/images/zyrtari.png" class="img-fluid">
        </div>
        <div *ngIf="user.role == 'admin' || user.role == 'superadmin' && user.isActive == true">
          <img src="/assets/images/administratori.png" class="img-fluid">
        </div>
        <div *ngIf="user.role == 'user' && user.isActive == false">
          <img src="/assets/images/zyrtariInactive.png" class="img-fluid">
        </div>
        <div *ngIf="user.role == 'admin' || user.role == 'superadmin' && user.isActive == false">
          <img src="/assets/images/administratorInactive.png" class="img-fluid">
        </div>
      </div>
      <div class="user-info col-md-2">
        <div *ngIf="user.isActive == false">
          <p class="name-is-false">{{ user.firstName }} {{ user.lastName }}</p>
        </div>
        <div *ngIf="user.isActive == true">
          <p class="name">
            <a>{{ user.firstName }} {{ user.lastName }}</a>
          </p>
        </div>
        <div *ngIf="user.role == 'user'">
          <p class="position"> Përdorues </p>
        </div>
        <div *ngIf="user.role == 'admin'">
          <p class="position">Administrator</p>
        </div>
      </div>
      <div class="col-md-8">
        <p id="comment">
          {{user.comment}}
          <span style="color: #868e96; margin-left: 10px"> |</span>
          <span id="delete" data-toggle="tooltip" title="Fshije komentin" (click)="commentDeleteModal(deleteCommentModal)">
            <u>Fshije</u>
          </span>
        </p>
        <p class="dateTime">
          <i>{{user.dateTime}}</i>
        </p>
      </div>
      <div class="col-md-1 float right" id="reply-icon">
        <span data-toggle="tooltip" title="Përgjigju">
          <i class="fa fa-reply" aria-hidden="true" (click)="show(i)"></i>
        </span>
      </div>
      <div class="col-12" style="padding-right: 0px">
        <div>
          <div>
            <div>
              <div class="row" *ngFor="let replyUser of user.reply">
                <div class="col-md-1"></div>
                <div class="col-md-2"></div>
                <div class="col-md-9 replies">
                  <div class="user-info">
                    <p class="name" @fade>{{ replyUser.firstName }} {{ replyUser.lastName }}
                      <span *ngIf="user.role == 'user'" class="position"> (Përdorues) </span>
                      <span *ngIf="user.role == 'admin'" class="position"> (Administrator) </span>
                      <span *ngIf="user.role == 'superadmin'" class="position"> (Superadmin) </span>
                    </p>
                  </div>
                  <div style="padding-left: 0">
                    <p class="reply" @fade>{{ replyUser.replyComment}}
                      <span style="color: #868e96; margin-left: 10px"> |</span>
                      <span id="delete" data-toggle="tooltip" title="Fshije komentin" (click)="replyDeleteModal(deleteReplyModal)">
                        <u>Fshije</u>
                      </span>
                    </p>
                    <p class="dateTime" @fade>
                      <i>{{ replyUser.replyDateTime}}</i>
                    </p>
                  </div>
                </div>
                <!-- Modal for deleting a reply -->
                <ng-template #deleteReplyModal>
                  <div id="delete-reply-modal">
                    <div class="modal-header add-comment-modal-header">
                      <h4 class="modal-title">Fshij komentin</h4>
                      <button type="button" class="close" (click)="modalRef.hide()" aria-hidden="true">&times;</button>
                    </div>
                    <form action="" id="modal-form">
                      <div class="modal-body">
                        <p class="text-info">A jeni të sigurt që doni të fshini komentin?</p>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-info" (click)="modalRef.hide()">Anuloje</button>
                          <button type="button" class="btn btn-danger delete-btn" id="delete-button" [attr.data-id]="user._id" [attr.data-replyid]="replyUser._id"
                            (click)="deleteReply($event)">Fshij</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </ng-template>

              </div>
            </div>
          </div>
        </div>
        <div class="col-12" *ngIf="isShown[i]" style="padding-right: 0px">
          <div>
            <div class="container">
              <div class="row">
                <div class="col-md-1" style="padding: 0"></div>
                <div class="col-md-2"></div>
                <div class="col-md-9 border-bottom replies" style="margin-left: -25px;" *ngIf="replyIsActive">
                  <div>
                    <p id="name-reply">
                      {{ currentUser.firstName }} {{ currentUser.lastName }}
                      <span *ngIf="currentUser.role == 'user'" class="position"> (Përdorues) </span>
                      <span *ngIf="currentUser.role == 'admin'" class="position"> (Administrator) </span>
                      <span *ngIf="currentUser.role == 'superadmin'" class="position"> (Superadmin) </span>
                    </p>
                  </div>
                  <form #commentReplyForm="ngForm" novalidate (submit)="addReply($event, commentReply.valid)" [attr.data-id]="user._id">
                    <input class="form-control" name="commentReply" [(ngModel)]="replyComment" type="text" id="text" #commentReply="ngModel"
                      required [style.border-color]="commentReply.errors?.required &&  commentReplyForm.submitted ? 'red': '#ced4da'">
                    <button class="btn btn-info" type="submit" id="submit" [style.border-color]="commentReply.errors?.required && commentReplyForm.submitted ? 'red': '#ced4da'">Dërgo</button>
                  </form>
                  <div *ngIf="commentReply.errors?.required && commentReplyForm.submitted" class="text-danger">Duhet shtypur një mesazh!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #deleteCommentModal>
        <div id="delete-comment-modal">
          <div class="modal-header add-comment-modal-header">
            <h4 class="modal-title">Fshij komentin</h4>
            <button type="button" class="close" (click)="modalRef.hide()" aria-hidden="true">&times;</button>
          </div>
          <form action="" id="modal-form">
            <div class="modal-body">
              <p class="text-info">A jeni të sigurt që doni të fshini komentin?</p>
              <div class="modal-footer">
                <button type="button" class="btn btn-info" (click)="modalRef.hide()">Anuloje</button>
                <button type="button" class="btn btn-danger delete-btn" id="delete-button" [attr.data-id]="user._id" (click)="deleteComment($event)">Fshij</button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <div *ngIf="currentUser.role == 'user'">
          <img src="/assets/images/zyrtari.png" class="img-fluid">
        </div>
        <div *ngIf="currentUser.role == 'admin' || currentUser.role == 'superadmin'">
          <img src="/assets/images/administratori.png" class="img-fluid">
        </div>
      </div>
      <div class="user-info col-md-2">
        <div>
          <p class="name">
            <a>{{ currentUser.firstName }} {{ currentUser.lastName }}</a>
          </p>
        </div>
        <div *ngIf="currentUser.role == 'user'">
          <p class="position"> Përdorues </p>
        </div>
        <div *ngIf="currentUser.role == 'admin'">
          <p class="position">Administrator</p>
        </div>
      </div>
      <div class="col-md-9" *ngIf="commentIsActive">
        <form #commentForm="ngForm" (submit)="addComment($event, commentForm.valid)" [attr.data-id]="currentUser._id"
          novalidate >
          <input class="form-control" name="comment" [(ngModel)]="commentModal.comment" type="text" id="text" #comment="ngModel" required
            [style.border-color]="comment.errors?.required && commentForm.submitted ? 'red': '#ced4da'">
          <button class="btn btn-info" type="submit" value="submit" id="submit" [style.border-color]="comment.errors?.required && commentForm.submitted ? 'red': '#ced4da'">Dërgo</button>
        </form>
        <div *ngIf="comment.errors?.required && commentForm.submitted" class="text-danger">Duhet shtypur një mesazh!</div>
      </div>
    </div>
