
<div class="col-md-12 header header-img">    
  <div class="col-md-12 company-header">
    <h1 id="title">Rreth Nesh</h1>
    <p id="company-description">
      In elit justo qui, quo ut quas solet dignissim. Ad sint adipiscing vix. Id vel ancillae maluisset eloquentiam, est civibus vituperatoribus id, impetus laoreet constituto eum te. Utroque inermis atomorum mei ut. Per eu mentitum periculis intellegat, agam velit assum in mel, ei mel tempor vidisse intellegat.
    </p>
  </div>        
</div>
<div class="col-md-12 project-header">
  <h5 id="project-title">RRETH PROJEKTIT</h5>
</div>
<div class="row project-details">
  <div class="col-md-6">
    <img id="project-img" src="/assets/images/hands-on-laptop.jpg"> 
  </div>
  <div class="col-md-6">
    <p id="project-description">Lodrem ipsum dolor sit amet, an purto soleat convenire eum, quod elaboraret mel an, te eos amet elit discere. Eu oporteat ocurreret vis. Sea te dicunt meliore posidonium, his id vidit mentitum argumentum, no ridens erroribus nam. Sed tota primis latine in. Pri ad sonet quando splendide, modus facilis senserit eam an. Sint liber an pro, in est illud utinam tamquam.Qui nisl senserit an. Pro no modo dicit gubergren, utinam perpetua honestatis vim in, vis nobis luptatum gubergren at. Denique placerat qui id, eum te cetero consequat, aeque interesset ex nam. At eruditi dignissim qui. Ad nec solet argumentum quaerendum, ex quo eripuit dignissim. Clita civibus inimicus ea mei, sed ei meis nonumes, dolore gloriatur at per. Usu ad minim aperiam, ea eam dolore vocibus neglegentur.
    Fabulas epicurei scaevola qui ex. Te vel veri discere, odio debitis ex vix. Eos et mazim percipitur. Veritus salutatus his ei, an pro dico malis gubergren, vim assentior voluptatum an. Iudicabit mnesarchum no usu, eos nemore sanctus et.
    </p>
  </div>

</div>
<div class="col-md-12 technologies">
  <h5 id="technologies-title">TEKNOLOGJITE E PËRDORURA NË PROJEKT</h5>
</div>

<div class="row technologies-imgs">
  <div class="col-md-3 node-js">
    <a href="https://nodejs.org/"><img alt="Node-js" src="/assets/images/node.png"></a>     
  </div>
  <div class="col-md-3 express-js">
    <a href="https://expressjs.com/"><img alt="Express-js" src="/assets/images/express.png"></a>
  </div>
  <div class="col-md-3 mongo-db">
    <a href="https://www.mongodb.com/"><img alt="Mongo-db" src="/assets/images/mongo.png"></a>
  </div>
  <div class="col-md-3 angular-js">
    <a href="https://angularjs.org/"><img alt="Angular-js" src="/assets/images/angular.png"></a>
  </div>
</div> 

  
    

