/* About Us Header Style */
.header-img{
    background-image:url("/assets/images/about-us-header.jpg");
    background-size:cover;
    background-repeat: no-repeat;
 }
 .header{
    margin-left:0;
    margin-right:0;
    width: 100%;
    max-width: 100%;
    height: 760px;
}
.company-header {
   font-family: 'Roboto', sans-serif;
   color:white;
   margin-left:65px;
   width: 434px;
   top: 45%;
}
.company-header #title {
   width: 201px;
   margin-bottom: 48px;
   font-weight: 600;
   font-size: 3.5rem;
}

/* About Project Style */
.project-img{
    margin-left: 51px;
    margin-right: 0;
    width: 100%;
    max-width: 45%;
    height: 406px;
}
.project-header{
    font-family: 'Roboto', sans-serif;
}
#project-title {
    text-align: center;
    color:#32a6bd;
    margin-top: 50px;
    margin-bottom: 33px;
    font-weight: 600;
}
#project-description {
    color:black;
    width: 596px;
    height: 405px;
    margin-bottom: 0;
    bottom: 1px;
    top: 56px;
    font-family: 'Roboto', sans-serif;
}
.project-details{
    font-family: 'Roboto', sans-serif;
    width: 1252px;
    margin-left: 49px;
}

/* Technologies Style */
#technologies-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    color:#32a6bd;
    margin-top:84px;
    margin-bottom: 33px;
}
.technologies-imgs{
    margin-left: 51px;
    width: 1290px;
    margin-bottom: 124px;
} 
.angular-js{
    top: 9px;
}
.express-js{
    top: 29px;
}

