#addDirectoratesButton {
    background: #32a6bd !important;
    border: none;
    color: white !important;
    width: 66.15px;
    height: 38px;
}
.modal-header {
    background: #32a6bd;
}
.modal-title {
    color: white !important;
}