<div id="addDirectorates">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Shto drejtori të re</h5>
          <button type="button" (click)="bsModalRef.hide()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" class="form-i" id="addDirectorates" (submit)="addDirectorate($event)">
          <div class="modal-body">
            <div class="form-group">
                <label for="directorateName">Drejtoria</label>
                <input type="text" class="form-control" id="directorateName" name="directorateName" [(ngModel)]="directorate.directorateName">
            </div>
            <div class="form-group">
                <label for="thePersonInCharge">Përgjegjësi</label>
                <input type="text" class="form-control" id="thePersonInCharge" name="thePersonInCharge" [(ngModel)]="directorate.thePersonInCharge">
            </div>  
          </div>
        <div class="modal-footer">
          <button type="button" (click)="bsModalRef.hide()" class="btn btn-secondary" data-dismiss="modal">Mbyll</button>
          <button type="submit" class="btn btn-primary" id="addDirectoratesButton">Shto</button>
        </div>
      </form>
</div>