<div class="row">
  <div class="col-md-10">
    <h5>{{ 'datatable.visualisationsTitle' | translate }}</h5>
  </div>
  <div id="year-input" class="col-2 mb-3">
    <div class="form-group">
      <label style="margin-top: 7px;" for="yearInput">{{ 'dataset.year' | translate }}:</label>
      <select (change)="render($event)" class="float-right form-control my-form-control">
        <option value="any">{{ 'visualisations.allYears' | translate }}</option>
        <option *ngFor="let year of years" value="{{year.year}}">{{year.year}}</option>
      </select>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped myTable">
    <thead id="blla">
      <tr>
        <th scope="col">{{ 'datatable.procurementNumber' | translate }}</th>
        <th scope="col">{{ 'datatable.activityTitle' | translate }}</th>
        <th scope="col">{{ 'datatable.name' | translate }}</th>
        <th scope="col">{{ 'datatable.predictedValue' | translate }}</th>
        <th scope="col">{{ 'datatable.totalAmountOfContractsIncludingTaxes' | translate }}</th>
        <th scope="col">{{ 'datatable.amountOfDifferenceBetweenTheEstimatedValueAndtotalWithContractTax' | translate }}</th>
        <th scope="col">{{ 'datatable.publicationDateOfGivenContract' | translate }}</th>
        <th scope="col">{{ 'datatable.signingDate' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contract of contracts">
        <th scope="col">{{contract.procurementNo}}</th>
        <td>{{contract.activityTitle}}</td>
        <td>{{contract.companyName}}</td>
        <td>{{contract.predictedValue}} €</td>
        <td>{{contract.totalAmountOfContractsIncludingTaxes}}€</td>
        <td>{{contract.differenceAmountBetweenPredictedAndTotal}}€</td>
        <td>{{contract.publicationDateOfGivenContract == "-" ? contract.publicationDateOfGivenContract : contract.publicationDateOfGivenContract
          | date: 'dd/MM/yyyy'}}</td>
        <td>{{contract.signingDate == "Nuk ka të dhëna" ? contract.signingDate : contract.signingDate | date: 'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>
  </table>
</div>