.table {
    width:100%;
}
#table-row {
    text-align: center;
    padding-left: 81px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.img-fluid {
    max-width: 100%;
}
.img-col {
    width: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.name {
    font-weight: 500;
    color: #39a6bd;
    margin-bottom: 0;
    font-size: 17px;
}
.position {
    color: #868e96;
    font-size: 13px;
    margin-bottom: 0;
}
.edit-ico {
    color: #868e96;
    width: 17px;
    padding-right: 0;
    padding-top: 31px;
}
.directorate-info {
    padding-bottom: 0;
    padding-top: 28px;
}
#save {
    background: #32a6bd !important;
    color: white !important;  
}
.delete-ico {
    color: #868e96;
    width: 17px;
    padding-right: 20px;
    padding-top: 30px;
}
  