<div class="row col-12" id="table-row">
  <table class="table" *ngFor="let directorate of directorates">
    <tbody>
      <tr>                           
        <td class="directorate-info">
          <p class="name">{{ directorate.name }}</p>
        </td>
        <td class="edit-ico">
          <span><a data-toggle="modal" data-target="#exampleModal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
        </td>
        <td class="delete-ico">
              <span><a data-toggle="modal" data-target="#exampleModal"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
