<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" id="title-row">
      <h1 class="text-primary title">
        Të dhënat e kontratës
        <span data-toggle="tooltip" title="Ndrysho kontratën">
          <a class="edit-icon" [attr.data-id]="contract._id" [routerLink]="['/dashboard/contracts/edit-contract', contract._id]">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
        </span>
      </h1>
    </div>
  </div>
  <form action="" class="form-i">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <label>Titulli i aktivitetit të prokurimit</label>
          <p>{{ contract.activityTitle }}</p>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Statusi:</label>
            <div *ngIf="contract.flagStatus == 0">
              <p>-</p>
            </div>
            <div *ngIf="contract.flagStatus == 1">
              <p> Pezull</p>
            </div>
            <div *ngIf="contract.flagStatus == 2">
              <p> Anuluar</p>
            </div>
            <div *ngIf="contract.flagStatus == 3">
              <p> Sukses</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label>Nr. rendor i prokurimit</label>
          <p>{{ contract.procurementNo }}</p>
        </div>
        <div class="col-md-3">
          <label>Lloji i prokurimit</label>
          <div *ngIf="contract.procurementType == ''">
            <p> - </p>
          </div>
          <div *ngIf="contract.procurementType == 'Furnizim'">
            <p>Furnizim</p>
          </div>
          <div *ngIf="contract.procurementType == 'Shërbime'">
            <p>Shërbime</p>
          </div>
          <div *ngIf="contract.procurementType == 'Shërbime këshillimi'">
            <p>Shërbime këshillimi</p>
          </div>
          <div *ngIf="contract.procurementType == 'Konkurs projektimi'">
            <p>Konkurs projektimi</p>
          </div>
          <div *ngIf="contract.procurementType == 'Punë'">
            <p>Punë</p>
          </div>
          <div *ngIf="contract.procurementType == 'Punë me koncesion'">
            <p>Punë me koncesion</p>
          </div>
          <div *ngIf="contract.procurementType == 'Pronë e palujtshme'">
            <p>Pronë e palujtshme</p>
          </div>
        </div>
        <div class="col-md-3">
          <label>Vlera e prokurimit</label>
          <div *ngIf="contract.procurementValue == ''">
            <p>-</p>
          </div>
          <div *ngIf="contract.procurementValue == 'Vlerë e madhe'">
            <p>Vlerë e madhe</p>
          </div>
          <div *ngIf="contract.procurementValue == 'Vlerë e mesme'">
            <p>Vlerë e mesme</p>
          </div>
          <div *ngIf="contract.procurementValue == 'Vlerë e vogël'">
            <p>Vlerë e vogël</p>
          </div>
          <div *ngIf="contract.procurementValue == 'Vlerë minimale'">
            <p>Vlerë minimale</p>
          </div>
        </div>
        <div class="col-md-3">
          <label>Procedura prokurimit</label>
          <div *ngIf="contract.procurementProcedure == ''">
            <p>-</p>
          </div>
          <div *ngIf="contract.procurementProcedure == 'Procedura e hapur'">
            <p>Procedura e hapur</p>
          </div>
          <div *ngIf="contract.procurementProcedure == 'Procedura e kufizuar'">
            <p>Procedura e kufizuar</p>
          </div>
          <div *ngIf="contract.procurementProcedure == 'Konkurs projektimi'">
            <p>Konkurs projektimi</p>
          </div>
          <div *ngIf="contract.procurementProcedure == 'Procedura e negociuar pas publikimit të njoftimit të kontratës'">
            <p>Procedura e negociuar pas publikimit të njoftimit të kontratës</p>
          </div>
          <div *ngIf="contract.procurementProcedure == 'Procedura e negociuar pa publikim të njoftimit të kontratës'">
            <p>Procedura e negociuar pa publikim të njoftimit të kontratës</p>
          </div>
          <div *ngIf="contract.procurementProcedure == 'Procedura e kuotimit të Çmimeve'">
            <p>Procedura e kuotimit të Çmimeve</p>
          </div>
          <div *ngIf="contract.procurementProcedure == 'Procedura vlerës minimale'">
            <p>Procedura vlerës minimale</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-4">
          <label>Klasifikimi (2 shifrat e para të FPP)</label>
          <div *ngIf="!contract.fppClassification">
            <p>-</p>
          </div>
          <div *ngIf="contract.fppClassification">
            <p>{{ contract.fppClassification }}</p>
          </div>
        </div>
        <div class="col-md-2">
          <label>Planifikuar</label>
          <div *ngIf="contract.planned == '' || contract.planned == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.planned != ''">
            <p>{{ contract.planned }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Buxheti</label>
          <div *ngIf="contract.budget == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.budget != null">
            <div *ngFor="let budget of contract.budget">
              <p>{{ budget }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Data e inicimit të aktivitetit të prokurimit (data e pranimit të kërkesës)</label>
          <div *ngIf="contract.initiationDate == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.initiationDate != null">
            <p>{{ contract.initiationDate | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Data e aprovimit të deklaratës së nevojave dhe disponueshmërisë së mjeteve</label>
          <div *ngIf="contract.approvalDateOfFunds == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.approvalDateOfFunds != null">
            <p>{{ contract.approvalDateOfFunds | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Data e pranimit të specifikimit teknik (TOR)</label>
          <div *ngIf="contract.torDate == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.torDate != null">
            <p>{{ contract.torDate | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Data e publikimit të njoftimit për kontratë</label>
          <div *ngIf="contract.contract.publicationDate == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.contract.publicationDate != null">
            <p>{{ contract.contract.publicationDate | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Ankesat në autoritet</label>
          <div *ngIf="contract.complaintsToAuthority1 == '' || contract.complaintsToAuthority1 == 'n/a' || contract.complaintsToAuthority1 == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.complaintsToAuthority1 == '1'">
            <p>Negative</p>
          </div>
          <div *ngIf="contract.complaintsToAuthority1 == '2'">
            <p>Pozitive</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Ankesat në OSHP</label>
          <div *ngIf="contract.complaintsToOshp1 == '' || contract.complaintsToOshp1 == 'n/a' || contract.complaintsToOshp1 == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.complaintsToOshp1 == '1' || contract.complaintsToOshp1 == 'pozitiv'">
            <p>Negative</p>
          </div>
          <div *ngIf="contract.complaintsToOshp1 == '2' || contract.complaintsToOshp1 == 'negativ'">
            <p>Pozitive</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-12">
          <label>Data e hapjes së ofertave</label>
          <div *ngIf="contract.bidOpeningDate == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.bidOpeningDate != null">
            <p>{{ contract.bidOpeningDate | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <br>
        <div class="col-6">
          <label>Nr. i OE që kanë shkarkuar dosjen e tenderit</label>
          <div *ngIf="!contract.noOfCompaniesWhoDownloadedTenderDoc">
            <p>-</p>
          </div>
          <div *ngIf="contract.noOfCompaniesWhoDownloadedTenderDoc">
            <p>{{ contract.noOfCompaniesWhoDownloadedTenderDoc }}</p>
          </div>
        </div>
        <div class="col-6">
          <label>Nr. i OE që kanë dorëzuar ofertat</label>
          <div *ngIf="!contract.noOfCompaniesWhoSubmited">
            <p>-</p>
          </div>
          <div *ngIf="contract.noOfCompaniesWhoSubmited">
            <p>{{ contract.noOfCompaniesWhoSubmited }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Data e fillimit dhe përfundimit të vlersimit</label>
          <div *ngIf="contract.startingAndEndingEvaluationDate == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.startingAndEndingEvaluationDate != null">
            <p>{{ contract.startingAndEndingEvaluationDate }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Numri i ofertave të refuzuara</label>
          <div *ngIf="!contract.noOfRefusedBids">
            <p>-</p>
          </div>
          <div *ngIf="contract.noOfRefusedBids">
            <p>{{ contract.noOfRefusedBids }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Data e aprovimit të Deklaratës së nevojave dhe disponueshmërisë së mjeteve - rikonfirmimi</label>
          <div *ngIf="contract.reapprovalDate == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.reapprovalDate != null">
            <p>{{ contract.reapprovalDate | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Letrat Standarde për OE</label>
          <div *ngIf="contract.company.standardDocuments == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.company.standardDocuments != null">
            <p>{{ contract.company.standardDocuments | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-6">
          <label>Data e publikimit të njoftimit për dhënie të kontratës</label>
          <div *ngIf="contract.contract.publicationDateOfGivenContract == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.contract.publicationDateOfGivenContract != null">
            <p>{{ contract.contract.publicationDateOfGivenContract | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
        <div class="col-6">
          <label>Data e publikimit të anulimit të njoftimit</label>
          <div *ngIf="contract.cancellationNoticeDate == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.cancellationNoticeDate != null">
            <p>{{ contract.cancellationNoticeDate | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Ankesat në autoritet</label>
          <br>
          <div *ngIf="contract.complaintsToAuthority2 == '0' || contract.complaintsToAuthority2 == '' || contract.complaintsToAuthority2 == 'n/a' || contract.complaintsToAuthority2 == null">
            <p>Nuk ka</p>
          </div>
          <div *ngIf="contract.complaintsToAuthority2 == '1' || contract.complaintsToAuthority2 == 'negativ'">
            <p>Negative</p>
          </div>
          <div *ngIf="contract.complaintsToAuthority2 == '2' || contract.complaintsToAuthority2 == 'pozitiv'">
            <p>Pozitive</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Ankesat në OSHP</label>
          <div *ngIf="contract.complaintsToOshp2 == '0' || contract.complaintsToOshp2 == '' || contract.complaintsToOshp2 == 'n/a' || contract.complaintsToOshp2 == null">
            <p>Nuk ka</p>
          </div>
          <div *ngIf="contract.complaintsToOshp2 == '1' || contract.complaintsToOshp2 == 'negativ'">
            <p>Negative</p>
          </div>
          <div *ngIf="contract.complaintsToOshp2 == '2' || contract.complaintsToOshp2 == 'pozitiv'">
            <p>Pozitive</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-6">
          <label>Vlera e parashikuar e kontratës</label>
          <div *ngIf="!contract.contract.predictedValue">
            <p>-</p>
          </div>
          <div *ngIf="contract.contract.predictedValue">
            <p>{{ contract.contract.predictedValue }} &euro;</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>OE</label>
          <div *ngIf="contract.company.type == '' || contract.company.type == 'n/a'">
            <p>-</p>
          </div>
          <div *ngIf="contract.company.type == '1' || contract.company.type == 'OE Vendor' || contract.company.type == 'Vendore' || contract.company.type == 'vendor'">
            <p>Vendore</p>
          </div>
          <div *ngIf="contract.company.type == 'notLocal' || contract.company.type == 'jovendor' || contract.company.type == 'jo vendor'">
            <p>Jo vendore</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Afati kohor për pranimin e tenderëve</label>
          <div *ngIf="contract.applicationDeadlineType == '' || contract.applicationDeadlineType == 'n/a'">
            <p>-</p>
          </div>
          <div *ngIf="contract.applicationDeadlineType == '1' || contract.applicationDeadlineType == 'Afati kohor normal'">
            <p>Afati kohor normal</p>
          </div>
          <div *ngIf="contract.applicationDeadlineType == '2' || contract.applicationDeadlineType == 'Afati kohor i shkurtuar'">
            <p>Afati kohor i shkurtuar</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Kriteret për dhënie të kontratës</label>
          <div *ngIf="contract.contract.criteria == '' || contract.contract.criteria == 'n/a'">
            <p>-</p>
          </div>
          <div *ngIf="contract.contract.criteria != '' && contract.contract.criteria != 'n/a'">
            <p>{{ contract.contract.criteria }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Re-tenderimi</label>
          <div *ngIf="contract.retender == '' || contract.retender == 'n/a'">
            <p>-</p>
          </div>
          <div *ngIf="contract.retender != '' && contract.retender != 'n/a'">
            <p>{{ contract.retender }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Statusi</label>
          <div *ngIf="contract.status == ''">
            <p>-</p>
          </div>
          <div *ngIf="contract.status == '1'">
            <p>Publikuar</p>
          </div>
          <div *ngIf="contract.status == '2'">
            <p>Vlerësim</p>
          </div>
          <div *ngIf="contract.status == '3'">
            <p>Anuluar</p>
          </div>
          <div *ngIf="contract.status == '4'">
            <p>Kontraktuar</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-6">
          <label>Emri i OE të cilit i është dhënë kontrata</label>
          <div *ngIf="contract.company.name == ''">
            <p>-</p>
          </div>
          <div *ngIf="contract.company.name != ''">
            <p>{{ contract.company.name }}</p>
          </div>
        </div>
        <div class="col-6">
          <label>Selia e OE</label>
          <div *ngIf="contract.company.headquarters.name == '' || contract.company.headquarters.name == ' '">
            <p>-</p>
          </div>
          <div *ngIf="contract.company.headquarters.name != ''">
            <p>{{ contract.company.headquarters.name }}</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <br>
        <div class="col-12">
          <label>Data e nënshkrimit të kontratës</label>
          <div *ngIf="contract.contract.signingDate == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.contract.signingDate != null">
            <p>{{ contract.contract.signingDate | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-sm-6">
          <label>Afatet për implementimin e kontratës</label>
          <div *ngIf="contract.contract.implementationDeadline == null || contract.contract.implementationDeadline == ''">
            <p>-</p>
          </div>
          <div *ngIf="contract.contract.implementationDeadline != null">
            <p>{{ contract.contract.implementationDeadline }}</p>
          </div>
        </div>
        <div class="col-6">
          <label>Data e mbylljes se kontrates </label>
          <div *ngIf="contract.contract.closingDate == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.contract.closingDate != null">
            <p>{{ contract.contract.closingDate | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Numri i përgjithshëm i situacioneve për pagesë, sipas kontratës</label>
          <div *ngIf="!contract.noOfPaymentInstallments">
            <p>-</p>
          </div>
          <div *ngIf="contract.noOfPaymentInstallments">
            <p>{{ contract.noOfPaymentInstallments }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Vlera totale e kontratës, duke përfshirë të gjitha taksat etj.</label>
          <div *ngIf="!contract.contract.totalAmountOfContractsIncludingTaxes">
            <p>-</p>
          </div>
          <div *ngIf="contract.contract.totalAmountOfContractsIncludingTaxes">
            <p>{{ contract.contract.totalAmountOfContractsIncludingTaxes }} &euro;</p>
          </div>
        </div>
      </div>
      <div class="row" id="total-amount">
        <br>
        <div class="col-12">
          <label>Vlera totale e kontratës, duke përfshirë të gjitha anekset dhe të gjitha taksat etj.</label>
          <div *ngIf="contract.contract.totalAmountOfAllAnnexContractsIncludingTaxes == '' || contract.contract.totalAmountOfAllAnnexContractsIncludingTaxes == null">
            <p class="highlighted-values">-</p>
          </div>
          <div *ngIf="contract.contract.totalAmountOfAllAnnexContractsIncludingTaxes">
            <p class="highlighted-values">{{ contract.contract.totalAmountOfAllAnnexContractsIncludingTaxes }} &euro;</p>
          </div>
        </div>
      </div>
      <div *ngFor="let annex of contract.contract.annexes; let i = index" class="row">
        <br>
        <div class="col-md-6">
          <label>Vlera totale e Aneks kontratës duke përfshirë të gjitha taksat({{i+1}})</label>
          <div *ngIf="annex.totalValueOfAnnexContract1 == ''">
            <p>-</p>
          </div>
          <div *ngIf="annex.totalValueOfAnnexContract1 != ''">
            <p>{{ annex.totalValueOfAnnexContract1 }} &euro;</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Data e nënshkrimit të Aneks kontratës({{i+1}})</label>
          <div *ngIf="annex.annexContractSigningDate1 == null">
            <p>-</p>
          </div>
          <div *ngIf="annex.annexContractSigningDate1 != null">
            <p>{{ annex.annexContractSigningDate1 | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <hr>
      <h4 class="title-situations">Situacionet</h4>
      <div *ngIf="contract.installments.length > 1">
        <div *ngFor="let installment of contract.installments; let i = index" class="row">
          <br>
          <div class="col-md-6">
            <label>Data e pagesës së situacionit ({{i+1}})</label>
            <div *ngIf="installment.installmentPayDate1 == null">
              <p>-</p>
            </div>
            <div *ngIf="installment.installmentPayDate1 != null">
              <p>{{ installment.installmentPayDate1 | date: 'dd/MM/yyyy' }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <label>Shuma e pagesës së situacionit ({{i+1}})</label>
            <div *ngIf="installment.installmentAmount1 == null">
              <p>-</p>
            </div>
            <div *ngIf="installment.installmentAmount1 != null">
              <p>{{ installment.installmentAmount1 }} &euro;</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="contract.installments.length < 1">
        <div class="row">
          <br>
          <div class="col-md-6">
            <label>Data e pagesës së situacionit (1)</label>
            <p>-</p>
          </div>
          <div class="col-md-6">
            <label>Shuma e pagesës së situacionit (1)</label>
            <p>-</p>
          </div>
        </div>
      </div>
      <h4 class="title-situations">Situacioni i fundit</h4>
      <div class="row" id="last-situation">
        <br>
        <div class="col-md-6">
          <label>Data e pagesës së situacionit të fundit</label>
          <div *ngIf="contract.lastInstallmentPayDate == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.lastInstallmentPayDate != null">
            <p>{{ contract.lastInstallmentPayDate | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Shuma e pagesës së situacionit të fundit</label>
          <div *ngIf="!contract.lastInstallmentAmount">
            <p>-</p>
          </div>
          <div *ngIf="contract.lastInstallmentAmount">
            <p>{{ contract.lastInstallmentAmount }} &euro;</p>
          </div>
        </div>
      </div>
      <div class="row" id="total-payed-price">
        <br>
        <div class="col-md-6">
          <label>Shuma e zbritjes nga kontrata për shkaqe të ndalesave</label>
          <div *ngIf="!contract.contract.discountAmountFromContract">
            <p>-</p>
          </div>
          <div *ngIf="contract.contract.discountAmountFromContract">
            <p>{{ contract.contract.discountAmountFromContract }} &euro;</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Çmimi total i paguar për kontratën</label>
          <div *ngIf="!contract.contract.totalPayedPriceForContract || contract.contract.totalPayedPriceForContract == 'NaN'">
            <p class="highlighted-values">-</p>
          </div>
          <div *ngIf="contract.contract.totalPayedPriceForContract != 'NaN'">
            <p class="highlighted-values">{{ contract.contract.totalPayedPriceForContract}} &euro;</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Çmimi total i papaguar për kontratën (Në këtë çmim është përfshirë edhe shuma e zbritjes për shkak të ndalesave)</label>
          <div>
            <div *ngIf="total == 0">
              <p class="highlighted-values">-</p>
            </div>
            <div *ngIf="total != 0">
              <p class="highlighted-values">{{ total }} &euro;</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label>Viti</label>
          <div *ngIf="!contract.year">
            <p>-</p>
          </div>
          <div *ngIf="contract.year">
            <p>{{ contract.year }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-6">
          <div class="form-group">
            <label>Drejtoritë</label>
            <div *ngIf="contract.directorates == undefined || contract.directorates == ''">
              <p>-</p>
            </div>
            <div *ngIf="contract.directorates != ''">
              <p>{{ contract.directorates }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Kontrata</label>
            <div *ngIf="contract.contract.file == ''">
              <p>-</p>
            </div>
            <div *ngIf="contract.contract.file != ''">
              <a href="/uploads/{{contract.contract.file}}" target="_blank">{{ contract.contract.file }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-12" id="last-row">
          <label>Emri i zyrtarit të prokurimit</label>
          <div *ngIf="contract.nameOfProcurementOffical == ''">
            <p>-</p>
          </div>
          <div *ngIf="contract.nameOfProcurementOffical != ''">
            <p>{{ contract.nameOfProcurementOffical }}</p>
          </div>
          <app-contract-comments></app-contract-comments>
        </div>
      </div>
    </div>
  </form>
</div>