<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" id="title-row">
      <h1 class="text-primary title">
        Të dhënat e kontratës
        <span data-toggle="tooltip" title="Ndrysho kontratën">
          <a class="edit-icon" [attr.data-id]="contract._id" [routerLink]="['/dashboard/contracts/edit-contract', contract._id]">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
        </span>
      </h1>
    </div>
  </div>
  <form action="" class="form-i">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <label>Titulli i aktivitetit të prokurimit</label>
          <p>{{ contract.releases[0].tender.title }}</p>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Statusi:</label>
            <div *ngIf="contract.releases[0].contracts[0].status == ''">
              <p>-</p>
            </div>
            <div *ngIf="contract.releases[0].contracts[0].status == 'pending'">
              <p> Pezull</p>
            </div>
            <div *ngIf="contract.releases[0].contracts[0].status == 'cancelled'">
              <p> Anuluar</p>
            </div>
            <div *ngIf="contract.releases[0].contracts[0].status == 'active'">
              <p> Sukses</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label>Nr. rendor i prokurimit</label>
          <p>{{ contract.releases[0].tender.id }}</p>
        </div>
        <div class="col-md-3">
          <label>Lloji i prokurimit</label>
          <div *ngIf="contract.releases[0].tender.additionalProcurementCategories == ''">
            <p> - </p>
          </div>
          <div *ngIf="contract.releases[0].tender.additionalProcurementCategories == 'goods'">
            <p>Furnizim</p>
          </div>
          <div *ngIf="contract.releases[0].tender.additionalProcurementCategories == 'services'">
            <p>Shërbime</p>
          </div>
          <div *ngIf="contract.releases[0].tender.additionalProcurementCategories == 'consultingServices'">
            <p>Shërbime këshillimi</p>
          </div>
          <div *ngIf="contract.releases[0].tender.additionalProcurementCategories == 'designContest'">
            <p>Konkurs projektimi</p>
          </div>
          <div *ngIf="contract.releases[0].tender.additionalProcurementCategories == 'works'">
            <p>Punë</p>
          </div>
          <div *ngIf="contract.releases[0].tender.additionalProcurementCategories == 'concessionWorks'">
            <p>Punë me koncesion</p>
          </div>
          <div *ngIf="contract.releases[0].tender.additionalProcurementCategories == 'immovableProperty'">
            <p>Pronë e palujtshme</p>
          </div>
        </div>
        <div class="col-md-3">
          <label>Vlera e prokurimit</label>
          <div *ngIf="contract.releases[0].tender.estimatedSizeOfProcurementValue.estimatedValue == ''">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].tender.estimatedSizeOfProcurementValue.estimatedValue == 'bigValue'">
            <p>Vlerë e madhe</p>
          </div>
          <div *ngIf="contract.releases[0].tender.estimatedSizeOfProcurementValue.estimatedValue == 'mediumValue'">
            <p>Vlerë e mesme</p>
          </div>
          <div *ngIf="contract.releases[0].tender.estimatedSizeOfProcurementValue.estimatedValue == 'smallValue'">
            <p>Vlerë e vogël</p>
          </div>
          <div *ngIf="contract.releases[0].tender.estimatedSizeOfProcurementValue.estimatedValue == 'minimalValues'">
            <p>Vlerë minimale</p>
          </div>
        </div>
        <div class="col-md-3">
          <label>Procedura prokurimit</label>
          <div *ngIf="contract.releases[0].tender.procurementMethodRationale == ''">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].tender.procurementMethodRationale == 'openProcedure'">
            <p>Procedura e hapur</p>
          </div>
          <div *ngIf="contract.releases[0].tender.procurementMethodRationale == 'limitedProcedure'">
            <p>Procedura e kufizuar</p>
          </div>
          <div *ngIf="contract.releases[0].tender.procurementMethodRationale == 'designContest'">
            <p>Konkurs projektimi</p>
          </div>
          <div *ngIf="contract.releases[0].tender.procurementMethodRationale == 'negociatedProcedureAfterAwardNotice'">
            <p>Procedura e negociuar pas publikimit të njoftimit të kontratës</p>
          </div>
          <div *ngIf="contract.releases[0].tender.procurementMethodRationale == 'negociatedProcedureWithoutAwardNotice'">
            <p>Procedura e negociuar pa publikim të njoftimit të kontratës</p>
          </div>
          <div *ngIf="contract.releases[0].tender.procurementMethodRationale == 'quotationValueProcedure'">
            <p>Procedura e kuotimit të Çmimeve</p>
          </div>
          <div *ngIf="contract.releases[0].tender.procurementMethodRationale == 'minimalValueProcedure'">
            <p>Procedura vlerës minimale</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-4">
          <label>Klasifikimi (2 shifrat e para të FPP)</label>
          <div *ngIf="!contract.releases[0].tender.items[0] || contract.releases[0].tender.items[0].quantity === null">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].tender.items[0]">
            <p>{{ contract.releases[0].tender.items[0].quantity }}</p>
          </div>
        </div>
        <div class="col-md-2">
          <label>Planifikuar</label>
          <div *ngIf="planned == '' || planned == null">
            <p>-</p>
          </div>
          <div *ngIf="planned != ''">
            <p>{{ planned }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Buxheti</label>
          <div *ngIf="contract.releases[0].planning.budget.description == null || contract.releases[0].planning.budget.description == ''">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].planning.budget.description != null && contract.releases[0].planning.budget.description != ''">
            <p>{{ contract.releases[0].planning.budget.description }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Data e inicimit të aktivitetit të prokurimit (data e pranimit të kërkesës)</label>
          <div *ngIf="contract.releases[0].planning.milestones[0].dateMet == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].planning.milestones[0].dateMet != null">
            <p>{{ contract.releases[0].planning.milestones[0].dateMet | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Data e aprovimit të deklaratës së nevojave dhe disponueshmërisë së mjeteve</label>
          <div *ngIf="contract.releases[0].planning.milestones[1].dateMet == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].planning.milestones[1].dateMet != null">
            <p>{{ contract.releases[0].planning.milestones[1].dateMet | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Data e pranimit të specifikimit teknik (TOR)</label>
          <div *ngIf="contract.releases[0].planning.milestones[2].dateMet == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].planning.milestones[2].dateMet != null">
            <p>{{ contract.releases[0].planning.milestones[2].dateMet | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Data e publikimit të njoftimit për kontratë</label>
          <div *ngIf="contract.releases[0].tender.date == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].tender.date != null">
            <p>{{ contract.releases[0].tender.date| date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Ankesat në autoritet</label>
          <div *ngIf="contract.releases[0].tender.hasEnquiries != false && contract.releases[0].tender.hasEnquiries != true">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].tender.hasEnquiries == false">
            <p>Negative</p>
          </div>
          <div *ngIf="contract.releases[0].tender.hasEnquiries == true">
            <p>Pozitive</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Ankesat në OSHP</label>
          <div *ngIf="contract.releases[0].tender.hasComplaints != true && contract.releases[0].tender.hasComplaints != false">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].tender.hasComplaints === false">
            <p>Negative</p>
          </div>
          <div *ngIf="contract.releases[0].tender.hasComplaints === true">
            <p>Pozitive</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-12">
          <label>Data e hapjes së ofertave</label>
          <div *ngIf="contract.releases[0].tender.tenderPeriod.startDate == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].tender.tenderPeriod.startDate != null">
            <p>{{ contract.releases[0].tender.tenderPeriod.startDate | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <br>
        <div class="col-6">
          <label>Nr. i OE që kanë shkarkuar dosjen e tenderit</label>
          <div *ngIf="!contract.releases[0].bids.statistics[0].value">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].bids.statistics[0].value">
            <p>{{ contract.releases[0].bids.statistics[0].value }}</p>
          </div>
        </div>
        <div class="col-6">
          <label>Nr. i OE që kanë dorëzuar ofertat</label>
          <div *ngIf="!contract.releases[0].tender.numberOfTenderers">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].tender.numberOfTenderers">
            <p>{{ contract.releases[0].tender.numberOfTenderers }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Data e fillimit dhe përfundimit të vlersimit</label>
          <div *ngIf="contract.releases[0].tender.awardPeriod.durationInDays == null || contract.releases[0].tender.awardPeriod.durationInDays == ''">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].tender.awardPeriod.durationInDays != null || contract.releases[0].tender.awardPeriod.durationInDays != ''">
            <p>{{ contract.releases[0].tender.awardPeriod.durationInDays }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Numri i ofertave të refuzuara</label>
          <div *ngIf="!contract.releases[0].bids.statistics[1].value">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].bids.statistics[1].value">
            <p>{{ contract.releases[0].bids.statistics[1].value }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Data e aprovimit të Deklaratës së nevojave dhe disponueshmërisë së mjeteve - rikonfirmimi</label>
          <div *ngIf="contract.releases[0].planning.milestones[3].dateMet == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].planning.milestones[3].dateMet != null">
            <p>{{ contract.releases[0].planning.milestones[3].dateMet | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Letrat Standarde për OE</label>
          <div *ngIf="contract.releases[0].tender.milestones[0].dateMet == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].tender.milestones[0].dateMet != null">
            <p>{{ contract.releases[0].tender.milestones[0].dateMet | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-6">
          <label>Data e publikimit të njoftimit për dhënie të kontratës</label>
          <div *ngIf="contract.releases[0].awards[0].date == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].awards[0].date != null">
            <p>{{ contract.releases[0].awards[0].date | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
        <div class="col-6">
          <label>Data e publikimit të anulimit të njoftimit</label>
          <div *ngIf="contract.releases[0].tender.milestones[1].dateMet == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].tender.milestones[1].dateMet != null">
            <p>{{ contract.releases[0].tender.milestones[1].dateMet | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Ankesat në autoritet</label>
          <br>
          <div *ngIf="contract.releases[0].awards[0].enquiryType == 'none' || contract.releases[0].awards[0].enquiryType == '' || contract.releases[0].awards[0].enquiryType == 'n/a' || contract.releases[0].awards[0].enquiryType == null">
            <p>Nuk ka</p>
          </div>
          <div *ngIf="contract.releases[0].awards[0].enquiryType == 'negative'">
            <p>Negative</p>
          </div>
          <div *ngIf="contract.releases[0].awards[0].enquiryType == 'positive'">
            <p>Pozitive</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Ankesat në OSHP</label>
          <div *ngIf="contract.releases[0].awards[0].complaintType == 'none' || contract.releases[0].awards[0].complaintType == '' || contract.releases[0].awards[0].complaintType == 'n/a' || contract.releases[0].awards[0].complaintType == null">
            <p>Nuk ka</p>
          </div>
          <div *ngIf="contract.releases[0].awards[0].complaintType == 'negative'">
            <p>Negative</p>
          </div>
          <div *ngIf="contract.releases[0].awards[0].complaintType == 'positive'">
            <p>Pozitive</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-6">
          <label>Vlera e parashikuar e kontratës</label>
          <div *ngIf="!contract.releases[0].planning.budget.amount.amount">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].planning.budget.amount.amount">
            <p>{{ contract.releases[0].planning.budget.amount.amount }} &euro;</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>OE</label>
          <div *ngIf="contract.releases[0].parties[0].details.local != true && contract.releases[0].parties[0].details.local != false">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].parties[0].details.local == true">
            <p>Vendore</p>
          </div>
          <div *ngIf="contract.releases[0].parties[0].details.local == false">
            <p>Jo vendore</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Afati kohor për pranimin e tenderëve</label>
          <div *ngIf="contract.releases[0].tender.procedure.isAcceleratedProcedure !== true && contract.releases[0].tender.procedure.isAcceleratedProcedure !== false">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].tender.procedure.isAcceleratedProcedure === true">
            <p>Afati kohor normal</p>
          </div>
          <div *ngIf="contract.releases[0].tender.procedure.isAcceleratedProcedure === false">
            <p>Afati kohor i shkurtuar</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Kriteret për dhënie të kontratës</label>
          <div *ngIf="contract.releases[0].tender.awardCriteria == '' || contract.releases[0].tender.awardCriteria == 'n/a'">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].tender.awardCriteria != '' && contract.releases[0].tender.awardCriteria != 'n/a'">
            <p>{{ criteria }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Re-tenderimi</label>
          <div *ngIf="retender === '' || retender === 'n/a'">
            <p>-</p>
          </div>
          <div *ngIf="retender !== '' && retender !== 'n/a'">
            <p>{{ retender }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Statusi</label>
          <div *ngIf="!tenderStatus">
            <p>-</p>
          </div>
          <div *ngIf="tenderStatus == 'published'">
            <p>Publikuar</p>
          </div>
          <div *ngIf="tenderStatus == 'evaluation'">
            <p>Vlerësim</p>
          </div>
          <div *ngIf="tenderStatus == 'cancelled'">
            <p>Anuluar</p>
          </div>
          <div *ngIf="tenderStatus == 'contracted'">
            <p>Kontraktuar</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-6">
          <label>Emri i OE të cilit i është dhënë kontrata</label>
          <div *ngIf="contract.releases[0].tender.tenderers[0].name == ''">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].tender.tenderers[0].name != ''">
            <p>{{ contract.releases[0].tender.tenderers[0].name }}</p>
          </div>
        </div>
        <div class="col-6">
          <label>Selia e OE</label>
          <div *ngIf="contract.releases[0].parties[0].address.region == '' || contract.releases[0].parties[0].address.region == ' '">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].parties[0].address.region != ''">
            <p>{{ contract.releases[0].parties[0].address.region }}</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <br>
        <div class="col-12">
          <label>Data e nënshkrimit të kontratës</label>
          <div *ngIf="contract.releases[0].contracts[0].period.startDate == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].contracts[0].period.startDate != null">
            <p>{{ contract.releases[0].contracts[0].period.startDate | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-sm-6">
          <label>Afatet për implementimin e kontratës</label>
          <div *ngIf="contract.releases[0].contracts[0].period.durationInDays == null || contract.releases[0].contracts[0].period.durationInDays == '' || contract.releases[0].contracts[0].period.durationInDays == ' undefined'">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].contracts[0].period.durationInDays!= null && contract.releases[0].contracts[0].period.durationInDays!= '' && contract.releases[0].contracts[0].period.durationInDays != ' undefined'">
            <p>{{ contract.releases[0].contracts[0].period.durationInDays }}</p>
          </div>
        </div>
        <div class="col-6">
          <label>Data e mbylljes se kontrates </label>
          <div *ngIf="contract.releases[0].contracts[0].period.endDate == null">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].contracts[0].period.endDate != null">
            <p>{{ contract.releases[0].contracts[0].period.endDate | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Numri i përgjithshëm i situacioneve për pagesë, sipas kontratës</label>
          <div *ngIf="!contract.releases[0].contracts[0].expectedNumberOfTransactions">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].contracts[0].expectedNumberOfTransactions">
            <p>{{ contract.releases[0].contracts[0].expectedNumberOfTransactions }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Vlera totale e kontratës, duke përfshirë të gjitha taksat etj.</label>
          <div *ngIf="!contract.releases[0].tender.value.amount">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].tender.value.amount">
            <p>{{ contract.releases[0].tender.value.amount }} &euro;</p>
          </div>
        </div>
      </div>
      <div class="row" id="total-amount">
        <br>
        <div class="col-12">
          <label>Vlera totale e kontratës, duke përfshirë të gjitha anekset dhe të gjitha taksat etj.</label>
          <div *ngIf="contract.releases[0].contracts[0].value.amount == 0 || contract.releases[0].contracts[0].value.amount == null">
            <p class="highlighted-values">-</p>
          </div>
          <div *ngIf="contract.releases[0].contracts[0].value.amount != 0 && contract.releases[0].contracts[0].value.amount != null">
            <p class="highlighted-values">{{ contract.releases[0].contracts[0].value.amount }} &euro;</p>
          </div>
        </div>
      </div>
      <hr>
      <h4 class="title-lots">Llotet</h4>
      <div *ngFor="let lot of contract.releases[0].tender.lots; let i = index" class="row">
        <br>
        <div class="col-md-6">
          <label>Vlera totale e llotit ({{i+1}})</label>
          <div *ngIf="lot.value.amount == 0 || lot.value.amount == null || lot.value.amount == undefined">
            <p>-</p>
          </div>
          <div *ngIf="lot.value.amount != 0 && lot.value.amount != undefined && lot.value.amount != null">
            <p>{{ lot.value.amount }} &euro;</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Afati i implementimit te llotit ({{i+1}})</label>
          <div *ngIf="lot.description == '' || lot.description == null">
            <p>-</p>
          </div>
          <div *ngIf="lot.description != null || lot.description != ''">
            <p>{{ lot.description }}</p>
          </div>
        </div>
      </div>
      <div *ngFor="let annex of contract.releases[0].contracts[0].amendments; let i = index" class="row">
        <br>
        <div class="col-md-6">
          <label>Vlera totale e Aneks kontratës duke përfshirë të gjitha taksat({{i+1}})</label>
          <div *ngIf="annex.description == '' || annex.description == undefined">
            <p>-</p>
          </div>
          <div *ngIf="annex.description != '' && annex.description != undefined">
            <p>{{ annex.description }} &euro;</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Data e nënshkrimit të Aneks kontratës({{i+1}})</label>
          <div *ngIf="annex.date == null">
            <p>-</p>
          </div>
          <div *ngIf="annex.date != null">
            <p>{{ annex.date | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <hr>
      <h4 class="title-situations">Situacionet</h4>
      <div *ngIf="contract.releases[0].contracts[0].implementation.transactions.length > 0">
        <div *ngFor="let transaction of contract.releases[0].contracts[0].implementation.transactions; let i = index"
          class="row">
          <br>
          <div class="col-md-6">
            <label>Data e pagesës së situacionit ({{i+1}})</label>
            <div *ngIf="transaction.date == null">
              <p>-</p>
            </div>
            <div *ngIf="transaction.date != null">
              <p>{{ transaction.date | date: 'dd/MM/yyyy' }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <label>Shuma e pagesës së situacionit ({{i+1}})</label>
            <div *ngIf="transaction.value.amount == null">
              <p>-</p>
            </div>
            <div *ngIf="transaction.value.amount != null">
              <p>{{ transaction.value.amount }} &euro;</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="contract.releases[0].contracts[0].implementation.transactions.length < 1">
        <div class="row">
          <br>
          <div class="col-md-6">
            <label>Data e pagesës së situacionit (1)</label>
            <p>-</p>
          </div>
          <div class="col-md-6">
            <label>Shuma e pagesës së situacionit (1)</label>
            <p>-</p>
          </div>
        </div>
      </div>
      <h4 class="title-situations">Situacioni i fundit</h4>
      <div class="row" id="last-situation">
        <br>
        <div class="col-md-6">
          <label>Data e pagesës së situacionit të fundit</label>
          <div *ngIf="lastTransactionDate == null">
            <p>-</p>
          </div>
          <div *ngIf="lastTransactionDate != null">
            <p>{{ lastTransactionDate | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Shuma e pagesës së situacionit të fundit</label>
          <div *ngIf="!lastTransactionAmount">
            <p>-</p>
          </div>
          <div *ngIf="lastTransactionAmount">
            <p>{{ lastTransactionAmount}} &euro;</p>
          </div>
        </div>
      </div>
      <div class="row" id="total-payed-price">
        <br>
        <div class="col-md-6">
          <label>Shuma e zbritjes nga kontrata për shkaqe të ndalesave</label>
          <div *ngIf="!contract.releases[0].contracts[0].deductionAmountFromContract.value.amount">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].contracts[0].deductionAmountFromContract.value.amount">
            <p>{{ contract.releases[0].contracts[0].deductionAmountFromContract.value.amount }} &euro;</p>
          </div>
        </div>
        <div class="col-md-6">
          <label>Çmimi total i paguar për kontratën</label>
          <div *ngIf="!totalPayedPriceForContract">
            <p class="highlighted-values">-</p>
          </div>
          <div *ngIf="totalPayedPriceForContract">
            <p class="highlighted-values">{{ totalPayedPriceForContract}} &euro;</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-6">
          <label>Çmimi total i papaguar për kontratën (Në këtë çmim është përfshirë edhe shuma e zbritjes për shkak të
            ndalesave)</label>
          <div>
            <div *ngIf="!total">
              <p class="highlighted-values">-</p>
            </div>
            <div *ngIf="total">
              <p class="highlighted-values">{{ total }} &euro;</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label>Viti</label>
          <div *ngIf="!contract.year">
            <p>-</p>
          </div>
          <div *ngIf="contract.year">
            <p>{{ contract.year }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-6">
          <div class="form-group">
            <label>Drejtoritë</label>
            <div *ngIf="contract.releases[0].parties[1].name == undefined || contract.releases[0].parties[1].name == ''">
              <p>-</p>
            </div>
            <div *ngIf="contract.releases[0].parties[1].name != ''">
              <p>{{ contract.releases[0].parties[1].name }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Kontrata</label>
            <div *ngIf="!contract.releases[0].contracts[0].documents[0] || !contract.releases[0].contracts[0].documents[0].title">
              <p>-</p>
            </div>
            <div *ngIf="contract.releases[0].contracts[0].documents[0] && contract.releases[0].contracts[0].documents[0].title !== ''">
              <a href="/uploads/{{contract.releases[0].contracts[0].documents[0].title}}" target="_blank">{{
                contract.releases[0].contracts[0].documents[0].title}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <br>
        <div class="col-md-12">
          <label>Dokumentet</label>
          <div *ngIf="contract.releases[0].tender.documents == null || contract.releases[0].tender.documents.length === 0; else showDocs">
            <p>-</p>
          </div>
          <ng-template #showDocs>
            <div *ngFor="let document of contract.releases[0].tender.documents">
              <a href="/documents/{{document}}" target="_blank">{{ document }}</a>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-12" id="last-row">
          <label>Emri i zyrtarit të prokurimit</label>
          <div *ngIf="contract.releases[0].parties[1].contactPoint.name == ''">
            <p>-</p>
          </div>
          <div *ngIf="contract.releases[0].parties[1].contactPoint.name != ''">
            <p>{{ contract.releases[0].parties[1].contactPoint.name }}</p>
          </div>
          <app-contract-comments></app-contract-comments>
        </div>
      </div>

    </div>
  </form>
</div>