<div class="container-fluid">
  <div>
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary title">
          Të dhënat e kontratës
        </h1>
      </div>
    </div>
    <form action="" class="form-i" novalidate #contractForm="ngForm">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 form-group">
            <label>Titulli i aktivitetit të prokurimit</label>
            <p>Test Titulli</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 form-group">
            <label>Nr. rendor i prokurimit</label>
            <p>45</p>
          </div>
          <div class="col-md-3 form-group">
            <label>Lloji i prokurimit</label>
            <p>Test Prokurimi</p>
          </div>
          <div class="col-md-3 form-group">
            <label>Vlera e prokurimit</label>
            <p>3040</p>
          </div>
          <div class="col-md-3 form-group">
            <label>Procedura prokurimit</label>
            <p>Test procedura</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-4 form-group">
            <label>Klasifikimi (2 shifrat e para të FPP)</label>
            <p>23</p>
          </div>
          <div class="col-md-2 form-group">
            <label>Planifikuar</label>
            <p>Po</p>
          </div>
          <div class="col-md-6 form-group">
            <label>Buxheti</label>
            <p>Të hyra vetanake</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-6 form-group">
            <label>Data e inicimit të aktivitetit të prokurimit (data e pranimit të kërkesës)</label>
            <p>12/31/2020</p>
          </div>
          <div class="col-md-6 form-group">
            <label>Data e aprovimit të deklaratës së nevojave dhe disponueshmërisë së mjeteve</label>
            <p>12/31/2020</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-6 form-group">
            <label>Data e pranimit të specifikimit teknik (TOR)</label>
            <p>12/31/2020</p>
          </div>
          <div class="col-md-6 form-group">
            <label>Data e publikimit të njoftimit për kontratë</label>
            <p>12/31/2020</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-6">
            <label>Ankesat në autoritet</label>
            <p>Pozitive</p>
          </div>
          <div class="col-md-6">
            <label>Ankesat në OSHP</label>
            <p>Negative</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-12">
            <label>Data dhe koha e hapjes së ofertave</label>
            <p>12/31/2020 16:55</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-6 form-group">
            <br>
            <label>Nr. i OE që kanë shkarkuar dosjen e tenderit</label>
            <p>344</p>
          </div>
          <div class="col-6 form-group">
            <br>
            <label>Nr. i OE që kanë dorëzuar ofertat</label>
            <p>3242343</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-6">
            <label style="width:270px">Data e fillimit dhe përfundimit të vlersimit</label>
            <p>38 muaj</p>
          </div>
          <div class="col-md-6">
            <label>Numri i ofertave të refuzuara</label>
            <p>3242</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-6">
            <br>
            <label>Data e aprovimit të Deklaratës së nevojave dhe disponueshmërisë së mjeteve - rikonfirmimi</label>
            <p>12/31/2020</p>
          </div>
          <div class="col-md-6">
            <br>
            <label>Letrat Standarde për OE</label>
            <p>12/31/2020</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-6 form-group">
            <label>Data e publikimit të njoftimit për dhënie të kontratës</label>
            <p>12/31/2020</p>
          </div>
          <div class="col-6 form-group">
            <label>Data e publikimit të anulimit të njoftimit </label>
            <p>12/31/2020</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-6">
            <label>Ankesat në autoritet</label>
            <br>
            <p>Nuk ka</p>
          </div>
          <div class="col-md-6">
            <label>Ankesat në OSHP</label>
            <p>Pozitive</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-6 form-group">
            <br>
            <label>Vlera e parashikuar e kontratës</label>
            <p>3244234</p>
          </div>
          <div class="col-md-6" style="padding-top: 21px;">
            <label>OE</label>
            <p>Vendore</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-6">
            <label>Afati kohor për pranimin e tenderëve</label>
            <p>Afati kohor normal</p>
          </div>
          <div class="col-md-6">
            <label>Kriteret për dhënie të kontratës</label>
            <p>Çmimi më i ulët</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-6">
            <br>
            <label>Re-tenderimi</label>
            <p>Test re-tenderimi</p>
          </div>
          <div class="col-md-6" style="padding-top:22px;">
            <label>Statusi</label>
            <p>Anuluar</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-12 form-group">
            <label>Emri i OE të cilit i është dhënë kontrata </label>
            <p>Test Emri</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-6 form-group">
            <label>Data e nënshkrimit të kontratës </label>
            <p>12/31/2020</p>
          </div>
          <div class="col-6 form-group">
            <label>Data e fillimit të implementimit të kontratës </label>
            <p>12/31/2020</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-sm-6 form-group">
            <label style="width:270px;">Afatet për implementimin e kontratës</label>
            <p>28 muaj</p>
          </div>
          <div class="col-6 form-group">
            <label>Data e mbylljes se kontrates </label>
            <p>12/31/2020</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-6 form-group">
            <label>Numri i përgjithshëm i situacioneve për pagesë, sipas kontratës</label>
            <p>423</p>
          </div>
          <div class="col-md-6">
            <label>Vlera totale e kontratës, duke përfshirë të gjitha anekset dhe të gjitha taksat etj.</label>
            <p>3432</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-6">
            <label>Vlera totale e Aneks kontratës duke përfshirë të gjitha taksat (1)</label>
            <p>324</p>
          </div>
          <div class="col-md-6">
            <label>Data e nënshkrimit të Aneks kontratës (1)</label>
            <p>12/31/2020</p>
          </div>
        </div>
        <div>
          <div class="row">
            <br>
            <div class="col-md-6">
              <label>Vlera totale e Aneks kontratës duke përfshirë të gjitha taksat</label>
              <p>23423</p>
            </div>
            <div class="col-md-6">
              <label>Data e nënshkrimit të Aneks kontratës</label>
              <p>12/31/2020</p>
            </div>
          </div>
        </div>
        <h4 class="title-situations">Situacionet</h4>
        <div class="row">
          <br>
          <div class="col-md-6">
            <label>Data e pagesës së situacionit (1)</label>
            <p>12/31/2020</p>
          </div>
          <div class="col-md-6">
            <label>Shuma e pagesës së situacionit (1)</label>
            <p>423423</p>
          </div>
        </div>
        <div>
          <div class="row">
            <br>
            <div class="col-md-6">
              <label>Data e pagesës së situacionit</label>
              <p>12/21/2300</p>
            </div>
            <div class="col-md-6">
              <label>Shuma e pagesës së situacionit</label>
              <p>32423</p>
            </div>
          </div>
        </div>
        <h4 class="title-situations">Situacioni i fundit</h4>
        <div class="row">
          <br>
          <div class="col-md-6">
            <label>Data e pagesës së situacionit të fundit</label>
            <p>12/31/2020</p>
          </div>
          <div class="col-md-6">
            <label>Shuma e pagesës së situacionit të fundit</label>
            <p>23432</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-12">
            <label>Shuma e zbritjes nga kontrata për shkaqe të ndalesave</label>
            <p>4324</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-12">
            <label>Çmimi total i paguar për kontratën</label>
            <p>231</p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-12 form-group">
            <div class="form-group">
              <label>Drejtoritë</label>
              <p>Drejtoria 1</p>
            </div>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-12">
            <div class="form-group">
              <label>Kontrata</label>
              <p>Kontrata.csv</p>
            </div>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-12" id="last-row">
            <label>Emri i zyrtarit të prokurimit</label>
            <p>Test Zyrtari</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>