.row {
    padding-left: 20px;
    padding-right: 20px;
}
label {
    font-size: 15px;
    font-weight: 500;
}
#last-row {
    margin-bottom: 6%;
}
.text-primary {
    width: 100%;
}
.title {
    font-size: 35px;
    color: #32a6bd !important;
    padding-bottom: 5%;
    text-align: left;
}
.title-situations {
    color: #32a6bd;
    padding-top: 20px;
}
#last-situation {
    padding-bottom: 20px;
}
p {
    font-size: 15px;
}
a {
    font-size: 15px;
}
#total-amount {
    margin-bottom: 5px;
}
#total-payed-price {
    margin-bottom: 5px;
}
.highlighted-values {
    font-weight: 600;
    font-size: 16px;
    color: #32a6bd;
}

.edit-icon {
    font-size: 25px;
    color: #32a6bd;
    margin-left: 5px;
}