.row {
    padding-left: 20px;
    padding-right: 20px;
}
label {
    font-size: 18px;
    font-weight: 500;
}
#last-row {
    margin-bottom: 6%;
}
.text-primary {
    width: 100%;
}
.title {
    font-size: 35px;
    color: #32a6bd !important;
    padding-bottom: 5%;
    text-align: right;
}
.title-situations {
    color: #32a6bd;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#title-row {
    margin-left: 8%;
}
#last-situation {
    padding-bottom: 20px;
}
