#add-btn {
    color: #39a6bd !important;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    background-color: transparent !important;
    border: 1px solid #39a6bd;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
}

.btn:focus {
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0) !important;
}

#add-btn:hover {
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff !important;
    background-color: #39a6bd !important;
}

#add-btn:active {
    outline: transparent;
}

.title {
    font-size: 26px;
    color: #39a6bd;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}

#addDirectoratesButton {
    background: #32a6bd !important;
    border: none;
    color: white !important;
    width: 66.15px;
    height: 38px;
}

.modal-header {
    background: #32a6bd;
}

.modal-title {
    color: white !important;
}

.table {
    width:100%;
}

#table-row {
    text-align: center;
    padding-left: 81px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.img-fluid {
    max-width: 100%;
}

.img-col {
    width: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.name {
    font-weight: 500;
    color: #39a6bd;
    margin-bottom: 0;
    font-size: 17px;
}

.deactive {
    cursor: pointer;
    font-weight: 500;
    color: #868e96;
    margin-bottom: 0;
    font-size: 17px;
}

.position {
    color: #868e96;
    font-size: 13px;
    margin-bottom: 0;
}

.edit-ico {
    cursor: pointer;
    color: #868e96;
    width: 17px;
    padding-right: 0;
    padding-top: 31px;
}

.directorate-info {
    padding-bottom: 0;
    padding-top: 28px;
}

#save {
    background: #32a6bd !important;
    color: white !important;  
}

.delete-ico {
    cursor: pointer;
    color: #868e96;
    width: 17px;
    padding-right: 20px;
    padding-top: 30px;
}

.the-person-in-charge {
    color: #868e96;
    font-size: 13px;
    margin-bottom: 0;
}

.directorate-table {
    margin-bottom: 0;
}

.tabledirectorate-table td {
    padding-bottom: 20px;
    padding-top: 20px;
} 

#directorate-header {
    background-color: #32a6bd;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}

#directorate-information tr th, #directorate-information tr td {
    padding-bottom: 20px;
    padding-top: 20px;
}

#directorate-list tr td {
    padding-bottom: 20px;
    padding-top: 20px;
}

.people-in-charge p {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}

legend {
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: auto;
}

.list-group {
    list-style: none;
}

.list-group li {
    margin-bottom: 5px;
}

.directorate-information {
    width: 100px;
}

.text-warning {
    font-size: 14px;
}
