
<div class="modal fade bd-example-modal-lg" id="editAdmin" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Ndrysho të dhënat</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="" class="form-i" novalidate #f="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                      <label for="firstName">Emri</label>
                      <input type="text" class="form-control" id="firstName" name="firstName">             
                    </div>
                    <div class="form-group">
                        <label for="lastName">Mbiemri</label>
                        <input type="text" class="form-control" id="lastName" name="lastName">
                    </div>
                    <div class="form-check form-check-inline">
                      <input type="text" class="form-check-input" type="radio" id="male" name="gender" value="male" checked> 
                      <label for="male" class="form-check-label">Mashkull</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="text" class="form-check-input" type="radio" id="female" name="gender" value="female"> 
                        <label for="female" class="form-check-label">Femër</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="text" class="form-check-input" type="radio" id="other" name="gender" value="other"> 
                        <label for="other" class="form-check-label">Tjetër</label>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Mbyll</button>
                  <button type="submit"  class="btn btn-primary" id="save" value="Submit">Ruaj</button>
                </div>
                </form>
      </div>
    </div>
  </div>
  