<div class="container-fluid">
  <div>
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary display-4">
          Shto Kontratë të re
        </h1>
      </div>
      <div class="col-md-6">
        <a style="float:right" class="btn btn-outline-primary buttons" id="contracts-buttons" [routerLink]="['/dashboard/contracts']">Kthehu tek kontratat</a>
      </div>
    </div>
    <form action="" class="form-i" novalidate #contractForm="ngForm" (submit)="addContract($event, contractForm.valid)" enctype="multipart/form-data">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 form-group">
            <label for="activityTitle">Titulli i aktivitetit të prokurimit</label>
            <input type="text" name="activityTitle" id="activityTitle" class="form-control" [(ngModel)]="contract.activityTitle" #contractActivityTitle="ngModel"
              required [style.border-color]="!contractActivityTitle.valid && (contractActivityTitle.touched || contractForm.submitted) ? 'red' : '#ced4da'">
            <div [hidden]="contractActivityTitle.valid || (!contractActivityTitle.touched && !contractForm.submitted)">
              <small class="text-danger">Duhet plotësuar!</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 form-group">
            <label>Nr. rendor i prokurimit</label>
            <input type="number" name="procurementNo" id="procurementNo" [(ngModel)]="contract.procurementNo" #contractProcurementNo="ngModel"
              class="form-control" required [style.border-color]="(contractProcurementNo?.value == '0' && contractProcurementNo.touched || contractForm.submitted) || !contractProcurementNo.valid && (contractProcurementNo.touched || contractForm.submitted)
              ? 'red' : '#ced4da'">
            <div [hidden]="(!contractProcurementNo?.value == '0' || !contractProcurementNo.touched && !contractForm.submitted) && contractProcurementNo.valid || (!contractProcurementNo.touched && !contractForm.submitted)">
              <small class="text-danger">Duhet plotësuar dhe nuk duhet të jetë zero!</small>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label>Lloji i prokurimit</label>
            <select name="procurementType" id="procurementType" placeholder="Zgjedh" class="form-control" [(ngModel)]="contract.procurementType"
              #contractProcurementType="ngModel" required [style.border-color]="!contractProcurementType.valid && (contractProcurementType.touched || contractProcurementType.submitted) ? 'red'
              : '#ced4da'">
              <option value="" selected>Zgjedh llojin</option>
              <option value="Procedura vlerës minimale">Furnizim</option>
              <option value="Shërbime">Shërbime</option>
              <option value="Shërbime këshillimi">Shërbime këshillimi</option>
              <option value="Konkurs projektimi">Konkurs projektimi</option>
              <option value="Punë">Punë</option>
              <option value="Punë me koncesion">Punë me koncesion</option>
              <option value="Pronë e palujtshme">Pronë e palujtshme</option>
            </select>
            <div [hidden]="contractProcurementType.valid || (!contractProcurementType.touched && !contractForm.submitted)">
              <small class="text-danger">Duhet zgjedhur!</small>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label>Vlera e prokurimit</label>
            <select name="procurementValue" id="procurementValue" placeholder="Zgjedh" class="form-control" [(ngModel)]="contract.procurementValue"
              #contractProcurementValue="ngModel" required [style.border-color]="!contractProcurementValue.valid && (contractProcurementValue.touched || contractForm.submitted) ? 'red' : '#ced4da'">
              <option value="" selected>Zgjedh vlerën</option>
              <option value="Vlerë e madhe">Vlerë e madhe</option>
              <option value="Vlerë e mesme">Vlerë e mesme</option>
              <option value="Vlerë e vogël">Vlerë e vogël</option>
              <option value="Vlerë minimale">Vlerë minimale</option>
            </select>
            <div [hidden]="contractProcurementValue.valid || (!contractProcurementValue.touched && !contractForm.submitted)">
              <small class="text-danger">Duhet zgjedhur!</small>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label>Procedura prokurimit</label>
            <select name="procurementProcedure" id="procurementProcedure" placeholder="Zgjedh" class="form-control" [(ngModel)]="contract.procurementProcedure"
              #contractProcurementProcedure="ngModel" required [style.border-color]="!contractProcurementProcedure.valid && (contractProcurementProcedure.touched || contractForm.submitted) ? 'red' : '#ced4da'">
              <option value="" selected>Zgjedh procedurën</option>
              <option value="Procedura e hapur">Procedura e hapur</option>
              <option value="Procedura e kufizuar">Procedura e kufizuar</option>
              <option value="Konkurs projektimi">Konkurs projektimi</option>
              <option value="Procedura e negociuar pas publikimit të njoftimit të kontratës">Procedura e negociuar pas publikimit të njoftimit të kontratës</option>
              <option value="Procedura e negociuar pa publikim të njoftimit të kontratës">Procedura e negociuar pa publikim të njoftimit të kontratës</option>
              <option value="Procedura e kuotimit të Çmimeve">Procedura e kuotimit të Çmimeve</option>
              <option value="Procedura vlerës minimale">Procedura vlerës minimale</option>
            </select>
            <div [hidden]="contractProcurementProcedure.valid || (!contractProcurementProcedure.touched && !contractForm.submitted)">
              <small class="text-danger">Duhet zgjedhur!</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group">
            <label for="fppClassification">Klasifikimi (2 shifrat e para të FPP)</label>
            <!-- Dorron duhesh me konvertu tekstin ne numer ne databaz -->
            <input type="text" name="fppClassification" id="fppClassification" class="form-control" [(ngModel)]="contract.fppClassification"
              #contractFppClassification="ngModel" minlength="2" maxlength="2" [style.border-color]="!contractFppClassification.valid || contractForm.submitted
              ? 'red' : '#ced4da'">
            <div [hidden]="contractFppClassification.valid || (!contractFppClassification.touched && !contractForm.submitted)">
              <small class="text-danger">Klasifikimi duhet të permbajë 2 shifra!</small>
            </div>
          </div>
          <div class="col-md-2 form-group">
            <div class="radioButtons">
              <label class="radioButtonLabel">Planifikuar:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="contract.planned" name="planned" id="yes" value="1" checked>
                <label class="form-check-label" for="yes">
                  Po
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="planned" [(ngModel)]="contract.planned" id="no" value="2">
                <label class="form-check-label" for="no">
                  Jo
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <div class="checkbox-buttons">
              <label class="checkbox-label">Buxheti</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="budget" id="ownSources" value="1">
                <label class="form-check-label" for="ownSources">
                  Të hyra vetanake
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="budget" id="kosovoBudget" value="2">
                <label class="form-check-label" for="no">
                  Buxh. i Kons. i Kosovës
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="budget" id="donation" value="3">
                <label class="form-check-label" for="donation">
                  Donacion
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="initiationDate">Data e inicimit të aktivitetit të prokurimit (data e pranimit të kërkesës)</label>
            <input type="date" name="initiationDate" id="initiationDate" [(ngModel)]="contract.initiationDate" class="form-control">
          </div>
          <div class="col-md-6 form-group">
            <label>Data e aprovimit të deklaratës së nevojave dhe disponueshmërisë së mjeteve</label>
            <input type="date" name="approvalDateOfFunds" id="approvalDateOfFunds" [(ngModel)]="contract.approvalDateOfFunds" [(ngModel)]="contract.approvalDateOfFunds"
              class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label>Data e pranimit të specifikimit teknik (TOR)</label>
            <input type="date" name="torDate" id="torDate" [(ngModel)]="contract.torDate" class="form-control">
          </div>
          <div class="col-md-6 form-group">
            <label for="contractPublicationDate">Data e publikimit të njoftimit për kontratë</label>
            <input type="date" name="publicationDate" id="publicationDate" value="" class="form-control" [(ngModel)]="contract.contract.publicationDate">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Ankesat në autoritet:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToAuthority1" [(ngModel)]="contract.complaintsToAuthority1"
                  id="negative" value="1">
                <label class="form-check-label" for="negative">
                  Negative
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToAuthority1" [(ngModel)]="contract.complaintsToAuthority1"
                  id="positive" value="2">
                <label class="form-check-label" for="positive">
                  Pozitive
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Ankesat në OSHP:</label>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToOshp1" [(ngModel)]="contract.complaintsToOshp1" id="negativeOshp"
                  value="1">
                <label class="form-check-label" for="negativeOshp">
                  Negative
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="complaintsToOshp1" [(ngModel)]="contract.complaintsToOshp1" id="positiveOshp"
                  value="2">
                <label class="form-check-label" for="positiveOshp">
                  Pozitive
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <br>
            <label>Data e hapjes së ofertave</label>
            <input type="date" name="bidOpeningDateTime" id="bidOpeningDateTime" [(ngModel)]="contract.bidOpeningDateTime" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <br>
            <label for="noOfCompaniesWhoDownloadedTenderDoc">Nr. i OE që kanë shkarkuar dosjen e tenderit</label>
            <input type="number" name="noOfCompaniesWhoDownloadedTenderDoc" id="noOfCompaniesWhoDownloadedTenderDoc" class="form-control"
              [(ngModel)]="contract.noOfCompaniesWhoDownloadedTenderDoc" #contractNoOfDownloads="ngModel" [style.border-color]="contractNoOfDownloads?.value == '0'
              && contractNoOfDownloads.touched ? 'red' : '#ced4da'">
            <div *ngIf="contractNoOfDownloads?.value == '0' && contractNoOfDownloads.touched" class="error-msg">Nuk duhet të jetë zero!</div>
          </div>
          <div class="col-6 form-group">
            <br>
            <label for="noOfOffersForContract">Nr. i OE që kanë dorëzuar ofertat</label>
            <!-- <input type="number" name="noOfOffersForContract" id="noOfOffersForContract" class="form-control" [(ngModel)]="contract.noOfOffersForContract"
              #noOfOffersForContract="ngModel" [style.border-color]="noOfOffersForContract?.value == '0' && noOfOffersForContract.touched ? 'red' : '#ced4da'">
            <div *ngIf="noOfOffersForContract?.value == '0' && noOfOffersForContract.touched;else zero_error" class="error-msg">Nuk duhet të jetë zero!</div>
            <ng-template #zero_error>
              <div *ngIf="noOfOffersForContract?.value == '0'" class="error-msg"></div>
            </ng-template> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="startOfEvaluationDate" style="width:270px">Data e fillimit dhe përfundimit të vlersimit</label>
            <!-- <input type="date" name="startingOfEvaluationDate" id="startingOfEvaluationDate" [(ngModel)]="contract.startingOfEvaluationDate"
              class="form-control" placeholder="Data e fillimit"> -->
          </div>
          <div class="col-md-3" style="padding-top: 29px;">
            <!-- <input type="date" name="endingOfEvaluationDate" id="endingOfEvaluationDate" [(ngModel)]="contract.endingOfEvaluationDate"
              class="form-control" placeholder="Data e përfundimit"> -->
          </div>
          <div class="col-md-6">
            <label for="noOfRefusedBids">Numri i ofertave të refuzuara</label>
            <!-- <input type="number" name="noOfRefusedBids" id="noOfRefusedBids" [(ngModel)]="contract.noOfRefusedBids" class="form-control"
              #contractNoOfRefusedBids="ngModel" [style.border-color]="contractNoOfRefusedBids?.value == '0' && contractNoOfRefusedBids.touched
            ? 'red' : '#ced4da'">
            <div *ngIf="contractNoOfRefusedBids?.value == '0' && contractNoOfRefusedBids.touched" class="error-msg">Nuk duhet të jetë zero!</div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <br>
            <label>Data e aprovimit të Deklaratës së nevojave dhe disponueshmërisë së mjeteve - rikonfirmimi</label>
            <!-- <input type="date" name="reapprovalDate" id="reapprovalDate" [(ngModel)]="contract.reapprovalDate" class="form-control"> -->
          </div>
          <div class="col-md-6">
            <br>
            <label for="standardeDocumentsForOe">Letrat Standarde për OE</label>
            <!-- <input type="date" name="standardeDocumentsForOe" id="standardeDocumentsForOe" [(ngModel)]="contract.standardeDocumentsForOe" -->
            class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <label for="publicationDateOfGivenContract">Data e publikimit të njoftimit për dhënie të kontratës</label>
            <!-- <input type="date" name="publicationDateOfGivenContract" id="publicationDateOfGivenContract" [(ngModel)]="contract.publicationDateOfGivenContract" -->
            class="form-control">
          </div>
          <div class="col-6 form-group">
            <label for="cancellationNoticeDate">Data e publikimit të anulimit të njoftimit</label>
            <!-- <input type="date" name="cancellationNoticeDate" id="cancellationNoticeDate" class="form-control" [(ngModel)]="contract.cancellationNoticeDate"> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Ankesat në autoritet:</label>
              <br>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="complaintsToAuthority2" [(ngModel)]="contract.complaintsToAuthority2"
                  id="none" value="0" checked> -->
                <label class="form-check-label" for="none">
                  Nuk ka
                </label>
              </div>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="complaintsToAuthority2" [(ngModel)]="contract.complaintsToAuthority2"
                  id="negative1" value="1"> -->
                <label class="form-check-label" for="negative1">
                  Negative
                </label>
              </div>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="complaintsToAuthority2" [(ngModel)]="contract.complaintsToAuthority2"
                  id="positive1" value="2"> -->
                <label class="form-check-label" for="positive1">
                  Pozitive
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Ankesat në OSHP:</label>
              <br>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="complaintsToOshp2" [(ngModel)]="contract.complaintsToOshp2" id="noneOshp"
                  value="0" checked> -->
                <label class="form-check-label" for="noneOshp">
                  Nuk ka
                </label>
              </div>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="complaintsToOshp2" [(ngModel)]="contract.complaintsToOshp2" id="negativeOshp1"
                  value="1"> -->
                <label class="form-check-label" for="negativeOshp1">
                  Negative
                </label>
              </div>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="complaintsToOshp2" [(ngModel)]="contract.complaintsToOshp2" id="positiveOshp1"
                  value="2"> -->
                <label class="form-check-label" for="positiveOshp1">
                  Pozitive
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <br>
            <label for="predictedContractValue">Vlera e parashikuar e kontratës</label>
            <!-- <input type="number" name="predictedContractValue" id="predictedContractValue" [(ngModel)]="contract.predictedContractValue"
              class="form-control" #contractPredictedContractValue="ngModel" [style.border-color]="contractPredictedContractValue?.value == '0' && contractPredictedContractValue.touched
              ? 'red' : '#ced4da'">
            <div *ngIf="contractPredictedContractValue?.value == '0' && contractPredictedContractValue.touched" class="error-msg">Nuk duhet të jetë zero!</div> -->
          </div>
          <div class="col-md-6" style="padding-top: 21px;">
            <div class="radioButtons">
              <label class="radioButtonLabel">OE:</label>
              <br>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="oeType" [(ngModel)]="contract.oeType" id="local" value="1" checked> -->
                <label class="form-check-label" for="local">
                  Vendore
                </label>
              </div>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="oeType" [(ngModel)]="contract.oeType" id="2" value="notLocal"> -->
                <label class="form-check-label" for="notLocal">
                  Jo vendore
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Afati kohor për pranimin e tenderëve:</label>
              <br>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="applicationDeadlineType" [(ngModel)]="contract.applicationDeadlineType" -->
                <!-- id="normal" value="1" checked> -->
                <label class="form-check-label" for="normal">
                  Afati kohor normal
                </label>
              </div>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="applicationDeadlineType" [(ngModel)]="contract.applicationDeadlineType" -->
                <!-- id="shortened" value="2"> -->
                <label class="form-check-label" for="shortened">
                  Afati kohor i shkurtuar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="radioButtons">
              <label class="radioButtonLabel">Kriteret për dhënie të kontratës:</label>
              <br>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="contractCriteria" [(ngModel)]="contract.contractCriteria" id="lowPrice" -->
                <!-- value="1" checked> -->
                <label class="form-check-label" for="lowPrice">
                  Çmimi më i ulët
                </label>
              </div>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="contractCriteria" [(ngModel)]="contract.contractCriteria" id="economicallyFavorable" -->
                <!-- value="2"> -->
                <label class="form-check-label" for="economicallyFavorable">
                  Tenderi ekonomikisht më i favorshëm
                </label>
              </div>
              <div class="form-check">
                <br>
                <!-- <input class="form-check-input" type="radio" name="contractCriteria" [(ngModel)]="contract.contractCriteria" id="pointPriceLower" -->
                <!-- value="3"> -->
                <label class="form-check-label" for="pointPriceLower">
                  Çmimi më i ulët me poentim
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <br>
            <label for="retender">Re-tenderimi</label>
            <!-- <input type="text" name="retender" id="retender" [(ngModel)]="contract.retender" class="form-control"> -->
          </div>
          <div class="col-md-6" style="padding-top:22px;">
            <div class="radioButtons">
              <label class="radioButtonLabel">Statusi:</label>
              <br>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="status" [(ngModel)]="contract.status" id="published" value="1" checked> -->
                <label class="form-check-label" for="published">
                  Publikuar
                </label>
              </div>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="status" [(ngModel)]="contract.status" id="evaluation" value="2"> -->
                <label class="form-check-label" for="evaluation">
                  Vlerësim
                </label>
              </div>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="status" [(ngModel)]="contract.status" id="cancelled" value="3"> -->
                <label class="form-check-label" for="cancelled">
                  Anuluar
                </label>
              </div>
              <div class="form-check">
                <!-- <input class="form-check-input" type="radio" name="status" [(ngModel)]="contract.status" id="contracted" value="4"> -->
                <label class="form-check-label" for="contracted">
                  Kontraktuar
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 form-group">
            <label for="nameOfContractedOe">Emri i OE të cilit i është dhënë kontrata</label>
            <!-- <input type="text" name="nameOfContractedOe" id="nameOfContractedOe" [(ngModel)]="contract.nameOfContractedOe" class="form-control"> -->
          </div>
        </div>
        <div class="row">
          <div class="col-12 form-group">
            <label for="signingDate">Data e nënshkrimit të kontratës</label>
            <!-- <input type="date" name="signingDate" id="signingDate" class="form-control" [(ngModel)]="contract.signingDate"> -->
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 form-group">
            <label for="firstImplementationDeadline" style="width:270px;">Afatet për implementimin e kontratës</label>
            <!-- <input type="date" name="firstImplementationDeadline" id="startImplementationDeadline" [(ngModel)]="contract.contractImplementationDeadlineStartingDate"
              class="form-control"> -->
          </div>
          <div class="col-sm-3 form-group" style="padding-top: 29px;">
            <!-- <input type="date" name="secondImplementationDeadline" id="endImplementationDeadline" [(ngModel)]="contract.contractImplementationDeadlineEndingDate"
              class="form-control"> -->
          </div>
          <div class="col-6 form-group">
            <label for="contractClosingDate">Data e mbylljes se kontrates</label>
            <!-- <input type="date" name="contractClosingDate" id="contractClosingDate" class="form-control" [(ngModel)]="contract.contractClosingDate"> -->
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <label for="noOfPaymentInstallments">Numri i përgjithshëm i situacioneve për pagesë, sipas kontratës</label>
            <!-- <input type="number" name="noOfPaymentInstallments" id="noOfPaymentInstallments" [(ngModel)]="contract.noOfPaymentInstallments"
              class="form-control" #contractNoOfPaymentInstallments="ngModel" [style.border-color]="contractNoOfPaymentInstallments?.value
              == '0' && contractNoOfPaymentInstallments.touched ? 'red' : '#ced4da'">
            <div *ngIf="contractNoOfPaymentInstallments?.value == '0' && contractNoOfPaymentInstallments.touched" class="error-msg">Nuk duhet të jetë zero!</div> -->
          </div>
          <div class="col-md-6">
            <label for="totalAmountOfAllAnnexContractsIncludingTaxes">Vlera totale e kontratës, duke përfshirë të gjitha anekset dhe të gjitha taksat etj.</label>
            <!-- <input type="number" name="contract.totalAmountOfAllAnnexContractsIncludingTaxes" id="totalAmountOfAllAnnexContractsIncludingTaxes"
              [(ngModel)]="contract.contract.totalAmountOfAllAnnexContractsIncludingTaxes" class="form-control" #contractTotalAmountOfAllAnnexContractsIncludingTaxes="ngModel"> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="totalValueOfAnnexContract1">Vlera totale e Aneks kontratës duke përfshirë të gjitha taksat (1)</label>
            <!-- <input type="number" name="totalValueOfAnnexContract1" id="totalValueOfAnnexContract1" class="form-control" [(ngModel)]="contract.annexes[0].totalValueOfAnnexContract1"
              #contractTotalValueOfAnnexContract1="ngModel" [style.border-color]="contractTotalValueOfAnnexContract1?.value
            == '0' && contractTotalValueOfAnnexContract1.touched ? 'red' : '#ced4da'">
            <div *ngIf="contractTotalValueOfAnnexContract1?.value == '0' && contractTotalValueOfAnnexContract1.touched" class="error-msg">Nuk duhet të jetë zero!</div> -->
          </div>
          <div class="col-md-6">
            <label for="annexContractSigningDate1">Data e nënshkrimit të Aneks kontratës (1)</label>
            <!-- <input type="date" name="annexContractSigningDate1" id="annexContractSigningDate1" class="form-control" [(ngModel)]="contract.annexes[0].annexContractSigningDate1"> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <br>
            <!-- <button type="button" data-toggle="tooltip" title="Shto Aneks Kontratë" class="btn btn-outline-primary buttons" (click)="addAnnex()">
              <span class="fa fa-plus"></span>
            </button>
            <button type="button" data-toggle="tooltip" title="Fshij Aneks Kontratë" class="btn btn-outline-primary buttons" (click)="removeAnnex()"
              *ngIf="countAnnex>1">
              <span class="fa fa-minus"></span>
            </button> -->
          </div>
          <div class="col-md-6"></div>
        </div>
        <div *ngFor="let annex of annexArray; let i = index">
          <div class="row">
            <div class="col-md-6">
              <label for="noOfPaymentInstallments{{i+2}}">Vlera totale e Aneks kontratës duke përfshirë të gjitha taksat ({{i+2}})</label>
              <!-- <input type="number" name="noOfPaymentInstallments{{i+1}}" id="noOfPaymentInstallments{{i+1}}" class="form-control" [(ngModel)]="contract.annexes[i+1].totalValueOfAnnexContract1"> -->
            </div>
            <div class="col-md-6">
              <label for="annexContractSigningDate{{i+2}}">Data e nënshkrimit të Aneks kontratës ({{i+2}})</label>
              <!-- <input type="date" name="annexContractSigningDate{{i}}" id="annexContractSigningDate{{i}}" class="form-control" [(ngModel)]="contract.annexes[i+1].annexContractSigningDate1"> -->
            </div>
          </div>
        </div>
        <h4>Situacionet</h4>
        <div class="row">
          <div class="col-md-6">
            <label for="installmentPayDate1">Data e pagesës së situacionit (1)</label>
            <!-- <input type="date" name="installmentPayDate1" id="installmentPayDate1" class="form-control" [(ngModel)]="contract.installments[0].installmentPayDate1"> -->
          </div>
          <div class="col-md-6">
            <label for="installmendAmount1">Shuma e pagesës së situacionit (1)</label>
            <!-- <input type="number" name="installmentAmount1" id="installmentAmount1" class="form-control" [(ngModel)]="contract.installments[0].installmentAmount1"
              #contractInstallmentAmount1="ngModel" [style.border-color]="contractInstallmentAmount1?.value ==
            '0' && contractInstallmentAmount1.touched ? 'red' : '#ced4da'">
            <div *ngIf="contractInstallmentAmount1?.value == '0' && contractInstallmentAmount1.touched" class="error-msg">Nuk duhet të jetë zero!</div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <br>
            <!-- <button type="button" data-toggle="tooltip" title="Shto Situacion" class="btn btn-outline-primary buttons" (click)="addInstallments()">
              <span class="fa fa-plus"></span>
            </button>
            <button type="button" data-toggle="tooltip" title="Fshij Situacion" class="btn btn-outline-primary buttons" (click)="removeInstallment()"
              *ngIf="countInstallment>1">
              <span class="fa fa-minus"></span>
            </button> -->
          </div>
          <div class="col-md-6"></div>
        </div>
        <div *ngFor="let installment of arrayInstallments; let i = index">
          <div class="row">
            <div class="col-md-6">
              <label for="installmentPayDate{{i+1}}">Data e pagesës së situacionit ({{i+2}})</label>
              <!-- <input type="date" name="installmentPayDate{{i+1}}}" id="installmentPayDate{{i+1}}" class="form-control" [(ngModel)]="contract.installments[i+1].installmentPayDate1"> -->
            </div>
            <div class="col-md-6">
              <label for="installmentAmount{{i+1}}">Shuma e pagesës së situacionit ({{i+2}})</label>
              <!-- <input type="text" name="installmentAmount{{i+1}}" id="installmentAmount{{i+1}}" class="form-control" [(ngModel)]="contract.installments[i+1].installmentAmount1"> -->
            </div>
          </div>
        </div>
        <h4>Situacioni i fundit</h4>
        <div class="row">
          <div class="col-md-6">
            <label for="lastInstallmendPayDate">Data e pagesës së situacionit të fundit</label>
            <!-- <input type="date" name="lastInstallmendPayDate" id="lastInstallmendPayDate" [(ngModel)]="contract.lastInstallmendPayDate"
              class="form-control"> -->
          </div>
          <div class="col-md-6">
            <label for="lastInstallmendAmount">Shuma e pagesës së situacionit të fundit</label>
            <!-- <input type="number" name="lastInstallmendAmount" id="lastInstallmendAmount" [(ngModel)]="contract.lastInstallmendAmount"
              class="form-control" #contractLastInstallmendAmount="ngModel" [style.border-color]="contractLastInstallmendAmount?.value == '0' && contractLastInstallmendAmount.touched
            ? 'red' : '#ced4da'">
            <div *ngIf="contractLastInstallmendAmount?.value == '0' && contractLastInstallmendAmount.touched" class="error-msg">Nuk duhet të jetë zero!</div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Shuma e zbritjes nga kontrata për shkaqe të ndalesave</label>
            <!-- <input type="text" name="discountAmount" id="discountAmount" [(ngModel)]="contract.discountAmount" class="form-control" #contractDiscountAmount="ngModel"
              [style.border-color]="contractDiscountAmount?.value == '0' && contractDiscountAmount.touched
            ? 'red' : '#ced4da'">
            <div *ngIf="contractDiscountAmount?.value == '0' && contractDiscountAmount.touched" class="error-msg">Nuk duhet të jetë zero!</div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="totalAmount">Çmimi total i paguar për kontratën</label>
            <!-- <input type="number" name="totalAmount" id="totalAmount" [(ngModel)]="contract.totalAmount" class="form-control" #contractTotalAmount="ngModel"
              [style.border-color]="contractTotalAmount?.value == '0' && contractTotalAmount.touched
            ? 'red' : '#ced4da'">
            <div *ngIf="contractTotalAmount?.value == '0' && contractTotalAmount.touched" class="error-msg">Nuk duhet të jetë zero!</div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-12 form-group">
            <div class="form-group">
              <label for="email">Drejtoritë</label>
              <!-- <select name="department" id="departments" placeholder="Zgjedh" class="form-control" [(ngModel)]="contract.department" #contractDepartments="ngModel"
                required [style.border-color]="contractDepartments.errors?.required && contractDepartments.touched ? 'red' : '#ced4da'">
                <option value="" selected>Zgjedh drejtorinë</option>
                <option value="drejtoria1">Drejtoria 1</option>
                <option value="drejtoria2">Drejtoria 2</option>
              </select>
              <div *ngIf="contractDepartments.errors?.required && contractDepartments.touched" class="error-msg">Duhet zgjedhur!</div> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" id="upload-contract">
              <input type="file" name="contractFile" id="contractFile" class="filestyle my-style" (change)="fileChangeEvent($event)">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="nameOfProdcurementOffical">Emri i zyrtarit të prokurimit</label>
            <!-- <input type="text" name="nameOfProdcurementOffical" id="nameOfProdcurementOffical" [(ngModel)]="contract.nameOfProdcurementOffical"
              #contractNameOfProdcurementOffical="ngModel" class="form-control" required [style.border-color]="contractNameOfProdcurementOffical.errors?.required && contractNameOfProdcurementOffical.touched ? 'red' : '#ced4da'">
            <div *ngIf="contractNameOfProdcurementOffical.errors?.required && contractNameOfProdcurementOffical.touched" class="error-msg">Duhet plotësuar!</div> -->
          </div>
        </div>
      </div>
      <div class="row" id="buttons">
        <div class="col-md-12">
          <button type="submit" class="btn btn-outline-primary buttons" id="add-contract-button">Shto</button>
        </div>
      </div>
    </form>
  </div>