.row {
    padding-left: 20px;
    padding-right: 20px;
}
h1 {
    padding-bottom: 20px;
}
label {
    font-size: 14px;
}
.error-msg {
    color: red;
    font-size: 14px;
}
.info-msg {
    font-size: 10px;
    font-weight: bold;
    color: #007bff;
}
#upload-contract label {
    background-color: #39a6bd !important; 
}
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: red;
}
#buttons {
    margin-bottom: 60px;
}
#buttons button {
    float: right;
    margin-right: 15px;
}
.form-check {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}
.radioButtonLabel {
    margin-bottom: 15px;
}
.radioButtons {
    border: 0.5px solid #89cced;
    border-radius: 5.5px;
    padding-left: 15px;
    padding-bottom: 6px;
}
.installmentButtons {
    border-color: #39a6bd !important;
    color: #39a6bd !important;
}
.installmentButtons:hover {
    background-color: #39a6bd !important; 
    color: white !important;
    border-color: #39a6bd !important;  
}