<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar navbar-expand-lg navbar-light" id="navbar-1"(window:resize)="onResize()">
  <a class="navbar-brand" [routerLink]="['']"><img src="../../../../assets/images/kontratat-e-hapura-logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span ><i class="fa fa-bars" aria-hidden="true"></i></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="mainNav">
    <ul class="navbar-nav navbar-left">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" id="home" [routerLink]="['']" >BALLINA</a>
        <div class="underline" id="underlineHome" routerLinkActive="active"></div>
      </li>
      <li class="nav-item"routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" id="visualisations" [routerLink]="['/visualisations']" >VIZUALIZIMET</a>
        <div class="underline" id="underlineVisualizations" routerLinkActive="active"></div>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" id="dataSet" [routerLink]="['/data-set']">SETI I TË DHËNAVE</a>
        <div class="underline" id="underlineDataSet" routerLinkActive="active"></div>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" id="about" [routerLink]="['/about-us']" >RRETH NESH</a>
        <div class="underline" id="underlineAbout" routerLinkActive="active"></div>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" href="http://biznesetehapura.com/sq" target="_blank" style="width: 192px;">BIZNESET E HAPURA</a>
    
      </li>
    </ul>
    <div *ngIf="width>991">
      <ul class="navbar-nav navbar-right text-dark">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/albanian']">SHQ</a> 
        </li>
        <span id="horizontalLine">|</span>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/serbian']" >SRB</a>
        </li>
      </ul>
    </div>
    <div *ngIf="991>=width">
      <ul class="navbar-nav navbar-right dropdown">
        <button id="lang-select" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>SHQ</button>
        <ul class="dropdown-menu">
          <li class="nav-item active" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/albanian']">SHQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/serbian']" >SRB</a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
<script>   
</script>
