.navbar {
    background-color: white;
    padding:  15px 100px 15px 100px;
    box-shadow: 0 8px 20px -15px black;
    transition: 0.5s;
    width:100%
}
.navbar-brand img{
    width: 120px;
}
.navbar-nav.navbar-left {
    padding-left: 25px;
}
.fa {
    color: #32a6bd;
}

.scroll {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    transition: 0.5s !important;
}
.nav-item.active .underline {
    border-bottom: 3px solid #32a6bd;
    margin-top: 0;
    margin-left: 25px;
}
.nav-item {
    color:black;
}

.nav-link {
    font-size: 17px;
    color: #333;
    padding-bottom: 0;
}
.nav-item.active .nav-link {
    color:#32a6bd;
    font-weight: 500;
}
#lang-select {
    display: inherit;
}
#mainNav .navbar-collapse {
    top: 0;
    left: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 56px;
    overflow: visible;
}
a {
    font-family: 'Roboto', sans-serif;
}
.navbar-brand {
    font-size: 30px;
    color:#32a6bd;
    font-weight: 600;
}
#dropdownMenu {
    list-style-type: none;
    display: inherit;
}
#underlineHome {
    width:36px;
}
#underlineVisualizations {
    width:80px;
}
#underlineDataSet {
    width:116px;
}
#underlineAbout {
    width:69px;
}
#horizontalLine {
    margin-top:7px ;
    color:#333;
}
#lang-select {
    background-color: white;
    color: rgba(0,0,0,.5);
    padding-left: 0;
    border:none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500
}
.dropdown-toggle::after {
    margin-top: 11px;
}
.dropdown-menu a.nav-link {
    padding-left: 6px;
    padding-top: 1px;
    padding-bottom: 3px;
}
.dropdown-menu a.nav-link:hover {
    background-color: #f2f2f2 !important;
    cursor:pointer;
    
} 
/*--------Responsive--------*/

@media (max-width: 1480px) {
    .nav-link, #lang-select {
        font-size: 15px;   
    }
    .nav-item.active .underline {
        margin-left: 18px;
    }
    .navbar {
        padding:  14px 100px 14px 100px;
    }
    #underlineHome {
        width:40px;
    }
    #underlineVisualizations {
        width:78px;
    }
    #underlineDataSet {
        width:110px;
    }
    #underlineAbout {
        width:65px;
    }
    nav#navbar-1 {
        width: 100%
    }
    .navbar-brand img{
        width: 140px;
    }
}
@media(max-width:1280px) {
    .nav-item.active .underline {
        margin-left: 18px;
    }
    .navbar {
        padding:  13px 100px 13px 100px;
    }
    
    
}

@media (max-width: 1111px) {
    .navbar {
        padding:  12px 100px 12px 100px;
    }
    .navbar-brand img{
        width: 110px;
    }
    
}

@media (max-width: 1080px) {
    .nav-link, #lang-select {
    font-size: 13.9px;
    }
    .nav-item.active .underline {
        margin-left: 16px;
    }
    #underlineDataSet {
        width:103px;
    }
    #underlineVisualizations {
        width:74px;
    }
    .navbar-brand img{
        width: 87px;
    }
}
@media (max-width: 1024px) {
    .navbar-brand img{
        width: 88px;
    }
    .nav-link, #lang-select {
        font-size: 13px;
    }
}
@media(max-width: 992px) {
    nav.navbar {
        padding:  12px 85px 12px 85px;
    }
    .navbar-nav.navbar-left {
        padding-left: 0px;
    }
    .nav-link, #lang-select {
        font-size: 16px;
    }
    .nav-item.active .underline {
        margin-left: 13px;
    }
    #underlineHome {
        width:39px;
    }
    #underlineVisualizations {
        width:80px;
    }   
    #underlineDataSet {
        width:112px;
    }
    #underlineAbout {
        width:67px;
    }
}
@media (max-width: 760px) {
    nav.navbar {
        padding:  12px 75px 12px 75px;
    }
}


@media (max-width: 580px) { 
    nav.navbar {
        padding:  12px 65px 12px 65px;
    }
    .nav-link, #lang-select{
        font-size: 17px;
    }
    .nav-item.active .underline {
        margin-left: 13px;
    }
    #underlineHome {
        width: 41px;
    }
    #underlineVisualizations {
        width: 86px;
    }
    #underlineDataSet {
        width: 123px;
    }
    #underlineAbout {
        width: 73px;
    }
    
}

@media (max-width: 470px) {
    nav.navbar {
        padding:  12px 40px 12px 40px;
    } 
    .navbar-brand img{
        width: 90px;
    } 
}
/* ---- /Responsiveness ---- */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #32a6bd;
}
.active {
    color: #32a6bd;
}