<div class="row col-12" id="table-row">
  <table class="table" *ngFor="let user of users">
    <tbody>
      <tr [hidden]= "user.role == 'superadmin'">
        <td class="img-col">
            <div *ngIf="user.role == 'user'"><img src="/assets/images/zyrtari.png" class="img-fluid"></div>
            <div *ngIf="user.role == 'admin'"><img src="/assets/images/administratori.png" class="img-fluid"></div> 
        </td>                             
        <td class="user-info">
          <p class="name">{{ user.firstName }} {{ user.lastName }} </p>
          <div *ngIf="user.role == 'user'"><p class="position">Përdorues - {{ user.department }}</p></div>
          <div *ngIf="user.role == 'admin'"><p class="position">Administrator</p></div>
        </td>
        <td class="view-ico">
          <span><a data-toggle="modal" data-target="#user-profile-modal"><i class="fa fa-user" aria-hidden="true"></i></a></span>
        </td>
        <td class="edit-ico">
          <span><a data-toggle="modal" data-target="#change-password-modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
        </td>
        <td class="delete-ico">
              <span><a data-toggle="modal" data-target="#exampleModal"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
