<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Cover image-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 cover-col">
      <div id="bg-img" class="cover">
        <div class="info-text">
          <h1 class="title">Kontratat e nënshkurara publike</h1>
          <h4 class="subtitle">- Komuna e Prishtinës</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- / Cover image -->
<!-- Public contracts -->
<div class="container-fluid">
  <div class="row" id="public-contracts-row  ">
    <div class="col-md-12 public-contracts">
      <h1 class="text-center title">KONTRATAT PUBLIKE</h1>
    </div>
  </div>

  <div class="row h-100 justify-content-center align-items-center">
    <div class="search">
      <div class="contracts-filter-form">
        <form action="" class="form-inline">
          <input type="text" class="form-control form-input" placeholder="Kërko kontratën">
          <select name="" id="" class="form-control form-select">
            <option value="">Drejtoria</option>
          </select>
          <select name="" id="" class="form-control form-select">
            <option value="">Kompania</option>
          </select>
          <select name="" id="" class="form-control form-select">
            <option value="">Vlera</option>
          </select>
          <button class="btn btn-primary form-button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <h1 class="text-center table">Table Placeholder</h1>
      </div>
  </div>
</div>

<!-- /Public contracts -->
<div class="container-fluid data-set" id="cover-image">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title text-center">SETI I TË DHËNAVE</h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
      <div class="data-set-form">
        <form action="" class="form-inline">
          <select name="" id="" class="form-control form-select">
            <option value="">Formati</option>
          </select>
          <select name="" id="" class="form-control form-select">
            <option value="">Viti</option>
          </select>
          <button class="btn btn-primary form-button">
            Shkarko <i class="fa fa-download" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
</div>

<!-- Contracts Announcement page -->
<div class="container-fluid contracts-announcement">
  <div id="bg-img-contracts">
      <div class="col-md-12">
          <h1 class="text-center title">PRISHTINA ONLINE</h1>
        </div>
        <div class="row col-md-12 announcements-buttons">
            <div class="col-md-4">
              <a href="http://prishtinaonline.com/prokurimi/njoftim-per-kontrate" target="_blank"><img src="/assets/images/njoftimet-per-kontrata.png" class="img-fluid"></a>
              <h1 id="announcements-title-1">Njoftim për kontratë</h1>     
            </div>
            <div class="col-md-4">
              <a href="http://prishtinaonline.com/prokurimi/njoftim-per-dhenjen-e-kontrates" target="_blank"><img src="/assets/images/njoftimet-per-dhenje-te-kontratave.png" class="img-fluid"></a>
              <h1 id="announcements-title-2">Njoftim për dhënien e kontratës</h1>
            </div>
            <div class="col-md-4">
              <a href="http://prishtinaonline.com/prokurimi/njoftim-per-anulim" target="_blank"><img src="/assets/images/njoftimet-per-anulim.png" class="img-fluid"></a>
              <h1 id="announcements-title-3">Njoftim për anulim</h1>
            </div>
        </div>
        <div class="row col-md-12 announcements-buttons">
            <div class="col-md-4">
              <a href="http://prishtinaonline.com/prokurimi/njoftim-per-informata-shtese" target="_blank"><img src="/assets/images/njoftimet-per-informata-shtese.png" class="img-fluid"></a> 
              <h1 id="announcements-title-4">Njoftim për informata shtesë</h1>    
            </div>
            <div class="col-md-4">
              <a href="http://prishtinaonline.com/prokurimi/anulim-i-dhenies-se-kontrates" target="_blank"><img src="/assets/images/anulimet-e-dhenjes-se-kontratave.png" class="img-fluid"></a>
              <h1 id="announcements-title-5">Anulim i dhënies së kontratës</h1>
            </div>
            <div class="col-md-4">
              <a href="http://prishtinaonline.com/prokurimi/njoftim-per-nenshkrimin-e-kontrates" target="_blank"><img src="/assets/images/njoftimet-per-nenshkrim-te-kontratave.png" class="img-fluid"></a>
              <h1 id="announcements-title-6">Njoftim për nënshkrimin e kontratës</h1>
            </div>
        </div>  
  </div>
</div>

