.container-fluid {
    min-height: 200px;
}
.homePage {
    position: relative;
}

#bg-img {
    background-image: url('/assets/images/header2.png');
     /* Full height */
     width: 100%;
     height: 851px; 
     max-height: 851px;
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover; 
}

.cover-image {
    padding: 0;
}

.cover .info-text {
    width: 549px;
    padding-top: 266px;
    padding-left: 100px;

}
.cover .info-text .title {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    font-weight: bold;
}
.cover .info-text .subtitle {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin-top: 20px;   

}

.cover-col {
    padding-left: 0;
    padding-right: 0;
}

/* ---- Responsiveness ---- */
@media(max-width:1125px) {
    .cover .info-text .title {
        font-size: 68px;
    }
}
@media(max-width: 985px) {
    .cover .info-text {
        padding-left: 85px;
    }
}
@media(max-width:950px) {
    .cover .info-text .title {
        font-size: 62px;

    }
    .cover .info-text .subtitle {
        font-size: 24px;
    }
}
@media (max-width: 760px) {
    .cover .info-text {
        padding-left: 75px;
    }
}
@media(max-width: 580px) {
    .cover .info-text .title {
        font-size: 55px;
    }
    .cover .info-text {
        padding-left: 65px;
    }
}
@media (max-width: 470px) {
    .cover .info-text .title {
        font-size: 44px;
        width: 330px;
    }
    .cover .info-text {
        padding-left: 40px;
    }
    
}
@media(max-width:350px) {
    .cover .info-text .title {
        font-size: 38px;

    }
}
/* ---- /Responsiveness ---- */

/* -------  /Cover image --------- */

/* ------- Public contrats ------- */
.public-contracts .title {
    margin-top: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #32a6bd;
}

    /* -------- Public contracts form -------*/
        .contracts-filter-form {
            margin-top: 40px;
            margin-left: 0;
            margin-top: 30px;
            padding-left: 100px;
        }
        .contracts-filter-form .form-input {
            margin-right: 20px;
            border: 1px #32a6bd solid;
            border-radius: 25px;
            width: 352px;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 100;
            height: 50px;

        }

        .contracts-filter-form .form-input:focus {
            font-weight: 400;
            color: #32a6bd;
            outline: none;
        }
        .contracts-filter-form .form-input:focus::placeholder {
            font-weight: 400;
            color: #32a6bd;
            outline: none;
        }

        .contracts-filter-form .form-select {
            margin-right: 20px;
            border: 1px #32a6bd solid;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 25px ;
            width: 250px;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 100;
            background: url('/assets/images/down-arrow-black.png') white no-repeat calc(100% - 10px) !important; 
            padding-top: 6px;
            padding-bottom: 6px;
            height: 50px;

        }

        .contracts-filter-form .form-select:focus {
            font-weight: 400;
            color: #32a6bd;
            outline: none;
            background: url('/assets/images/down-arrow-blue.png') white no-repeat calc(100% - 10px) !important; 
        }
        .contracts-filter-form .form-button {
            background-color:#32a6bd;
            color: white;
            border: none;
            border-radius: 25px;
            padding: 10px 15px;
            font-size: 20px;
        }

        .contracts-filter-form .form-button:hover {
            background-color:#2c96ac;
            box-shadow: 0px 0 7px 5px rgba(0, 0, 0, 0.144);
        }

        .table {
            margin-top: 150px;
            margin-bottom: 350px;
        }
        .search {
            width:100%;
        }
            /*--------------Responsiveness--------------*/
            @media(max-width:1250px) {
                .contracts-filter-form .form-input {
                    width: 265px !important;
                }
                .contracts-filter-form .form-select {
                    width: 265px !important;
                }
            }
            @media(max-width:1210px) {
                .contracts-filter-form .form-input {
                    width: 245px !important;
                }
                .contracts-filter-form .form-select {
                    width: 245px !important;
                }
            }
            @media(max-width:1124px) {
                .contracts-filter-form .form-input {
                    width: 225px !important;
                    height: 45px !important;
                }
                .contracts-filter-form .form-select {
                    width: 225px !important;
                    height: 45px !important;
                }
            }
            @media(max-width:1050px) {
                .contracts-filter-form .form-input {
                    width: 200px !important;
                    height: 45px !important;
                }
                .contracts-filter-form .form-select {
                    width: 200px !important;
                    height: 45px !important;
                }
            }
            @media(max-width:945px) {
                .contracts-filter-form {
                    padding-left: 125px 
                }
                .contracts-filter-form .form-input {
                    width: 300px !important;
                    height: 45px !important;
                    margin-bottom: 10px;
                    
                }
                .contracts-filter-form .form-select {
                    width: 300px !important;
                    height: 45px !important;
                    margin-bottom: 10px;
                }
            }
            @media(max-width: 860px) {
                .contracts-filter-form {
                    padding-left: 15px;
                }
            }
            @media(max-width: 820px) {
                .contracts-filter-form {
                    padding-left: 250px;
                    width: 825px;
                }
                .contracts-filter-form .form-input {
                    width: 315px !important;
                    height: 48px !important;
                    margin-bottom: 10px;
                }
                .contracts-filter-form .form-select {
                    width: 315px !important;
                    height: 48px !important;
                    margin-bottom: 10px;
                }
                .contracts-filter-form .form-button {
                    width: 355px ;
                } 

            }
            @media(max-width:776px) {
                .contracts-filter-form .form-input {
                    width: 360px !important;
                    height: 42px !important;
                    margin-bottom: 10px;
                }
                .contracts-filter-form .form-select {
                    width: 360px !important;
                    height: 42px !important;
                    margin-bottom: 10px;
                }                
            }
            @media (max-width: 581px) {
                .contracts-filter-form .form-input {
                    width: 320px !important;
                    height: 38px !important;
                    margin-bottom: 10px;
                }
                .contracts-filter-form .form-select {
                    width: 320px !important;
                    height: 38px !important;
                    margin-bottom: 10px;
                }
                .contracts-filter-form .form-button {
                    width: 320px ;
                }
            }
            @media (max-width: 422px) {
                .contracts-filter-form .form-input {
                    width: 270px !important;
                    height: 36px !important;
                    margin-bottom: 10px;
                }
                .contracts-filter-form .form-select {
                    width: 270px !important;
                    height: 36px !important;
                    margin-bottom: 10px;
                }
                .contracts-filter-form .form-button {
                    width: 270px ;
                    height: 36px ;
                }
            }
            @media (max-width: 395px) {
                .contracts-filter-form  {
                    padding-left: 10px;
                    display: initial;
                }
               
            } 
    /* -------- /Public contracts form ------*/
/* ------- /Public contrats ------- */


/*---- Data set -----*/
        #cover-image {
            background-image: url('/assets/images/background-2.png');
            /* Full height */
            height: 346px; 
            max-height: 346px;
           
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
        }
        .data-set .title {
            font-family: 'Roboto', sans-serif;
            font-size: 30px;
            font-weight: 500;
            color: #fff;
            margin-top: 40px;
            margin-bottom: 90px;
        } 
        .data-set .form-select {
            margin-right: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 25px ;
            width: 320px;
            font-family: 'Roboto', sans-serif;
            font-size: 21px;
            font-weight: 100;
            background: url('/assets/images/down-arrow-black.png') white no-repeat calc(100% - 10px) !important; 
            padding-top: 6px;
            padding-bottom: 6px;
            height: 40px;
            border-color: transparent;
            padding-left: 25px;
           
        }

        .data-set .data-set-form {
            margin-left: 283px;
        }

        .data-set .form-button {
            background-color:#32a6bd;
            color: white;
            border: none;
            border-radius: 25px;
            padding: 6px 15px;
            font-size: 16px;
            border: 1px solid #fff;
            width: 320px;
            height: 40px;
            font-size: 21px;
        }

        .data-set .form-button:hover {
            box-shadow: 0px 0 7px 5px rgba(0, 0, 0, 0.144);
        }
        /*--------Responsiveness--------*/
            @media(max-width: 1283px) {
                .data-set .form-button {
                    margin-top: 10px;
                }
                .data-set .data-set-form {
                    margin-left: 245px;
                }
            }
            @media(max-width: 1260px) {
                .data-set .data-set-form {
                    margin-left: 230px;
                }
            }
            @media(max-width: 1230px) {
                .data-set .data-set-form {
                    margin-left: 200px;
                }
            }
            @media(max-width: 1210px) {
                .data-set .data-set-form {
                    margin-left: 275px;
                }
                .data-set .form-button {
                    margin-left: 170px;
                }
            }
            @media(max-width: 1030px) {
                .data-set .data-set-form {
                    margin-left: 200px;
                }
            }
            @media(max-width: 975px) {
                .data-set .data-set-form {
                    margin-left: 160px;
                }
            }
            @media(max-width: 880px) {
                .data-set .data-set-form {
                    margin-left: 24px;
                }
                .form-inline {
                    display: inline-grid;
                }
                .data-set .form-select {
                    margin-bottom: 10px;
                }
                .data-set .form-button {
                    margin-left: 0px;
                }
                
            }
            @media(max-width: 410px) {
                .data-set .form-select {
                    width: 320px;
                }
            }
            @media(max-width: 350px) {
                .data-set .form-select {
                    width: 280px;
                }
                .data-set .title {
                    font-size: 25px;
                }
            }
                
/*---- /Data set ----*/


/*---- Contracts Announcements ----*/
.contracts-announcement .title {
    padding-top: 120px;
    padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #32a6bd;
}
.announcements-buttons h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #32a6bd;
    width: 141px; 
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 78px;
}
#announcements-title-1 {
    width: 214px;
}
#announcements-title-2 {
    width: 231px;
}
#announcements-title-4 {
    width: 188px;
}
#announcements-title-5 {
    width: 210px;
}
#announcements-title-6 {
    width: 274px;
}
.announcements-buttons {
    text-align: center;
}
#bg-img-contracts {
    background-image: url('/assets/images/background-prishtina-online.jpg');
     /* Full height */
     height: 851px; 
     max-height: 851px;
     /* Center and scale the image nicely */
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     padding: 0;
}
.contracts-announcement {
    padding: 0;
}
@media(max-width: 767px) {
    #bg-img-contracts{
        background-image: url('/assets/images/background-prishtina-online - mobile.jpg');
         /* Full height */
         height:2000px;
         max-height: 2000px;
    }
}
