.container-fluid {
    min-height: 200px;
}
#bg-img {
    background-image: url('/assets/images/header2.png');
     /* Full height */
     height: 678px; 
     max-height: 678px;
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover; 
}
.cover-image {
    padding: 0;
}
.cover .info-text {
    width: 549px;
    padding-top: 180px;
    padding-left: 100px;

}
.cover .info-text .title {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    font-weight: bold;
}
.cover .info-text .subtitle {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin-top: 20px;   

}
.cover-col {
    padding-left: 0;
    padding-right: 0;
}
/* ---- Responsiveness ---- */
@media(max-width:1125px) {
    .cover .info-text .title {
        font-size: 68px;
    }
}
@media(max-width: 985px) {
    .cover .info-text {
        padding-left: 85px;
    }
}
@media(max-width:950px) {
    .cover .info-text .title {
        font-size: 62px;

    }
    .cover .info-text .subtitle {
        font-size: 24px;
    }
}
@media (max-width: 760px) {
    .cover .info-text {
        padding-left: 75px;
    }
}
@media(max-width: 580px) {
    .cover .info-text .title {
        font-size: 55px;
    }
    .cover .info-text {
        padding-left: 65px;
        width: 470px;
    }
    #bg-img {
        height: 550px;
    }
    .cover .info-text {
        padding-top: 100px;    
    }
}
@media(max-width: 535px) {
    .cover .info-text .title {
        font-size: 50px;
    }
}
@media (max-width: 470px) {
    .cover .info-text .title {
        font-size: 44px;
    }
    .cover .info-text .subtitle {
        font-size:20px;
        width:270px;
    }
    .cover .info-text {
        padding-left: 40px;
        width: 370px;
    }
    
}
@media(max-width:375px) {
    .cover .info-text {
        width: 250px;
    }
    .cover .info-text .title {
        font-size: 38px;
    }
    .cover .info-text .subtitle {
        font-size:17px;
        width:200px;
    }
}
/* ---- /Responsiveness ---- */

/* -------  /Cover image --------- */

/* ------- Public contrats ------- */
.public-contracts .title {
    margin-top: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #32a6bd;
}

    /* -------- Public contracts form -------*/
        .search {
            width: 100%;
        }
        .contracts-filter-form {
            margin-top: 40px;
            margin-left: 0;
            margin-top: 30px;
            padding-left: 100px;
            padding-right: 100px;
            width: 100%;
        }
        .contracts-filter-form .form-input {
            margin-right: 20px;
            border: 1px #32a6bd solid;
            border-radius: 25px;
            width: 25%;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 100;
            height: 50px;

        }

        .contracts-filter-form .form-input:focus {
            font-weight: 400;
            color: #32a6bd;
            outline: none;
        }
        .contracts-filter-form .form-input:focus::placeholder {
            font-weight: 400;
            color: #32a6bd;
            outline: none;
        }

        .contracts-filter-form .form-select {
            margin-right: 20px;
            border: 1px #32a6bd solid;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 25px ;
            width: 20%;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 100;
            background: url('/assets/images/down-arrow-black.png') white no-repeat calc(100% - 10px) !important; 
            padding-top: 6px;
            padding-bottom: 6px;
            height: 50px;
        }

        .contracts-filter-form .form-select:focus {
            font-weight: 400;
            color: #32a6bd;
            outline: none;
            background: url('/assets/images/down-arrow-blue.png') white no-repeat calc(100% - 10px) !important; 
        }
        .contracts-filter-form .form-button {
            background-color:#32a6bd;
            color: white;
            border: none;
            border-radius: 25px;
            padding: 10px 15px;
            font-size: 20px;
        }

        .contracts-filter-form .form-button:hover {
            background-color:#2c96ac;
            box-shadow: 0px 0 7px 5px rgba(0, 0, 0, 0.144);
        }

        .table {
            margin-top: 150px;
            margin-bottom: 350px;
        }
            /*--------------Responsiveness--------------*/
          @media(max-width: 1060px) {
            .contracts-filter-form .form-button {
                width: 190px;
                margin-top: 10px;
                margin-left: 300px;
            }
          }
          @media(max-width: 950px) {
            .contracts-filter-form .form-button {
              margin-left: 250px;
            }
        }
          @media(max-width: 860px) {
            .contracts-filter-form .form-button {
                width: 80%;
                margin-left: 0px;
                height: 45px;
            }
            .contracts-filter-form .form-input {
                width: 80%;
                height: 45px;
            }
            .contracts-filter-form .form-select {
                width: 80%; 
                margin-top: 10px;
                height: 45px;
            }
            .contracts-filter-form {
                padding-left: 200px;
                padding-right: 95px;
            }
            .public-contracts .title {
                font-size: 27px;
            }
          }
          @media(max-width: 750px) {
              .contracts-filter-form {
                  padding-left: 170px;
              }
          }
          @media(max-width: 600px) {
            .contracts-filter-form {
                padding-left: 135px;
                padding-right: 45px;
            }
            .public-contracts .title {
                font-size: 25px;    
            }
            .contracts-filter-form .form-select, .contracts-filter-form .form-input, .contracts-filter-form .form-button {
                height: 40px;
                margin-right: 0px;
            }
          }
          @media(max-width: 500px) {
            .contracts-filter-form {
                padding-left: 95px;
            }
          }
          @media(max-width: 450px) { 
            .contracts-filter-form {
                padding-left: 45px;
                padding-right: 0px;
            }
            .contracts-filter-form .form-select, .contracts-filter-form .form-input, .contracts-filter-form .form-button {
                width: 90%;
            }
            .public-contracts .title {
                font-size: 22px;
            }
          }
          @media(max-width: 360px) {
              .contracts-filter-form {
                  padding-left: 25px;
              }
          }
        
    /* -------- /Public contracts form ------*/
/* ------- /Public contrats ------- */


/*---- Data set -----*/
        .data-set-title {
            height: 135px;
        }
        #cover-image {
            background-image: url('/assets/images/background-2.png');
            /* Full height */
            height: 280px; 
            max-height: 280px;
           
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
        }
        .data-set .data-set-form {
            width: 100%;
        }
        .data-set .title {
            font-family: 'Roboto', sans-serif;
            font-size: 30px;
            font-weight: 500;
            color: #fff;
            margin-top: 40px;
            margin-bottom: 90px;
        } 
        .data-set .form-select {
            margin-right: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 25px ;
            width: 40%;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 100;
            background: url('/assets/images/down-arrow-black.png') white no-repeat calc(100% - 10px) !important; 
            padding-top: 6px;
            padding-bottom: 6px;
            height: 40px;
            border-color: transparent;
            padding-left: 25px;  
        }
        .data-set .form-button {
            background-color:#32a6bd;
            color: white;
            border: none;
            border-radius: 25px;
            padding: 0px 15px;
            font-size: 18px;
            border: 1px solid #fff;
            height: 40px;
        }
        .data-set .form-button:hover {
            box-shadow: 0px 0 7px 5px rgba(0, 0, 0, 0.144);
        }
        /*----------Responsiveness------------*/
        @media(max-width: 1106px) {
            .data-set .form-button {
                margin-left: 250px;
                margin-top: 10px;
            }
        }
        @media(max-width: 1024px) {
            .data-set .form-button {
                margin-left: 200px;
            }
            #cover-image {
                background-image: url('/assets/images/background-2-2.png');
            }
        }
        @media (max-width: 888px) {
            #cover-image {
                background-image: url('/assets/images/background-2-3.png');
            }
        }
        @media (max-width: 820px){
            .data-set .form-button {
                margin-left: 170px;
            }
        }
        @media (max-width: 767px) {
            .data-set-form {
                padding-left: 50px;
            }
            .data-set .title {
                font-size: 27px;
            }
        }
        @media(max-width: 640px) {
            .data-set-title {
                height: 90px;
            }
            .data-set .data-set-form {
                padding-left: 90px;
                padding-right: 50px;
            }
            .data-set .form-button {
                margin: 0;
            }
            .data-set .data-set-form form {
                display: grid;
            }
            .data-set .form-select {
                width: 90%;
                margin-bottom: 5px;
                font-size: 20px
            }
            .data-set .form-button {
                width: 90%;
                font-size: 20px;
            }
            .data-set .title {
                font-size: 25px;
            }
        }
        @media(max-width: 500px) {
            .data-set .data-set-form {
                padding-left: 25px;
                padding-right: 0px;
            }
            .data-set .title {
                font-size: 22px;
            }
        }
        
        
/*---- /Data set ----*/


/*---- Contracts Announcements ----*/
.contracts-announcement .title {
    padding-top: 120px;
    padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #32a6bd;
}

.announcements-buttons h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #32a6bd;
    width: 255px; 
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 78px;
}

.announcements-buttons  a{
    text-decoration: none;
    color: #32a6bd;
}
.announcements-buttons  a:hover {
    text-decoration: none;
    color: #32a6bd;
}

#announcements-title-1 {
    width: 214px;
}

#announcements-title-5 {
    width: 210px;
}

#announcements-title-6 {
    width: 274px;
}

#announcements-title-7 {
    width: 225px;
}

#announcements-title-8 {
    width: 225px;
}

.announcements-buttons {
    text-align: center;
}

#bg-img-contracts {
    background-image: url('/assets/images/background-prishtina-online.jpg');
     /* Full height */
     height: 1200px; 
     max-height: 1200px;
     /* Center and scale the image nicely */
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     padding: 0;
}

.contracts-announcement {
    padding: 0;
}

#signing-contract-annonuncments {
    padding-left: 20%;
}

#design-award-notification {
    padding-right: 20%;
}

/*---------Responsiveness----------*/
    @media(max-width: 887px) {
        #announcements-title-6 {
            width: 256px;
        }
    }

    @media(max-width: 767px) {
        #bg-img-contracts{
            background-image: url('/assets/images/background-prishtina-online - mobile.jpg');
            /* Full height */
            height:2440px;
            max-height: 2440px;
        }
        #announcements-title-6 {
            width: 266px;
        }
        .contracts-announcement .title {
            font-size: 27px;
        }
        .announcements-buttons h1 {
            padding-bottom: 60px;
        }
        #signing-contract-annonuncments {
            padding-left: 5%;
        }
        
        #design-award-notification {
            padding-right: 0%;
            padding-left: 5%;
        }
    }

    @media(max-width: 640px) {
        .contracts-announcement .title {
            font-size: 25px;
        }
        #announcements-title-1, #announcements-title-2, #announcements-title-3, #announcements-title-4,
        #announcements-title-5, #announcements-title-6, #announcements-title-7, #announcements-title-8 {
            font-size: 22px;
        }
    }

    @media(max-width: 500px) {
        #bg-img-contracts {
            height:1810px;
            max-height: 1810px;
        }

        .contracts-announcement .title {
            font-size: 22px;
        }

        #announcements-title-1, #announcements-title-2, #announcements-title-3, #announcements-title-4,
        #announcements-title-5, #announcements-title-6, #announcements-title-7, #announcements-title-8 {
            font-size: 19px;
        }

        .announcements-buttons img {
            width: 95px;
        }

        .announcements-buttons h1 {
            padding-bottom: 40px;
        }
    }
   