<div class="container-fluid">
  <!-- Breadcrumbs-->
  <div class="row">
    <div class="col-6">
      <h1 class="title">Përdoruesit</h1>
    </div>
    <div class="col-6" id="add-user-btn">
      <button data-toggle="modal" (click)="openModal(modalAddUser)" class="float-right btn btn-outline-primary add-btn">
        <i class="fa fa-plus"></i> Shto përdorues</button>
    </div>
  </div>

  <!-- Displaying users or admins -->
  <div class="row col-12" id="table-row">
    <table class="table">
      <tbody>
        <tr *ngFor="let user of users" class="user-information" [id]="user._id" [hidden]="user.role == 'superadmin' || currentUser.email == user.email">
          <td class="img-col" id="image-col">
            <div *ngIf="user.role == 'user' && user.isActive == true">
              <img src="/assets/images/zyrtari.png" class="img-fluid">
              <p class="active-text">Aktiv</p>
            </div>
            <div *ngIf="user.role == 'admin' && user.isActive == true">
              <img src="/assets/images/administratori.png" class="img-fluid">
              <p class="active-text">Aktiv</p>
            </div>
            <div *ngIf="user.role == 'user' && user.isActive == false">
              <img src="/assets/images/zyrtariInactive.png" class="img-fluid">
              <p class="inactive-text">Jo-aktiv</p>
            </div>
            <div *ngIf="user.role == 'admin' && user.isActive == false">
              <img src="/assets/images/administratorInactive.png" class="img-fluid">
              <p class="inactive-text">Jo-aktiv</p>
            </div>
          </td>
          <td class="user-info">
            <div *ngIf="user.isActive == false">
              <p class="name-is-false">{{ user.firstName }} {{ user.lastName }}</p>
            </div>
            <div *ngIf="user.isActive == true">
              <p class="name">
                <a data-toggle="modal" (click)="showUser(modalViewUser, $event)" [attr.data-id]="user._id">{{ user.firstName }} {{ user.lastName }}</a>
              </p>
            </div>
            <div *ngIf="user.role == 'user'">
              <div>
                <p class="position"> Përdorues </p>
              </div>
              <div>
                <p class="position"> {{user.directorateName }}</p>
              </div>
              <div *ngIf="user.directorateName === '' && user.isActive === true">
                <p class="position"> Nuk është përgjegjës i asnjë drejtorie!</p>
              </div>
            </div>
            <div *ngIf="user.role == 'admin'">
              <p class="position">Administrator</p>
            </div>
          </td>
          <div *ngIf="user.isActive == true" id="icons">
            <td class="view-icon">
              <span>
                <a data-toggle="modal" class="view-icon" (click)="showUser(modalViewUser, $event)" [attr.data-id]="user._id">
                  <i class="fa fa-user" aria-hidden="true" [attr.data-id]="user._id"></i>
                </a>
              </span>
            </td>
            <td class="edit-icon">
              <span>
                <a data-toggle="modal" (click)="editModal(modalEditUser, $event)" [attr.data-id]="user._id">
                  <i class="fa fa-pencil-square-o" aria-hidden="true" [attr.data-id]="user._id"></i>
                </a>
              </span>
            </td>
            <td class="delete-icon">
              <span>
                <a data-toggle="modal" (click)="deactivateModal(modalDeactivateUser, $event)" [attr.data-id]="user._id">
                  <i class="fa fa-times" aria-hidden="true" [attr.data-id]="user._id"></i>
                </a>
              </span>
            </td>
          </div>
          <div *ngIf="user.isActive == false">
            <td class="blank-div">
              <span>
                <a>
                  <i aria-hidden="true"></i>
                </a>
              </span>
            </td>
            <td class="blank-div">
              <span>
                <a>
                  <i aria-hidden="true"></i>
                </a>
              </span>
            </td>
            <td class="activate-icon">
              <span>
                <a data-toggle="modal" (click)="activateModal(modalActivateUser, $event)" [attr.data-id]="user._id">
                  <i class="fa fa-check" aria-hidden="true" [attr.data-id]="user._id"></i>
                </a>
              </span>
            </td>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- / Displaying users or admins -->

  <!-- Modal for viewing a user or admin profile -->
  <ng-template #modalViewUser>
    <div id="user-profile-modal">
      <div class="modal-content">
        <table class="table profile table-hover">
          <thead>
            <th id="profile-header" colspan="2">
              <span id="tableHeadText">Të dhënat e profilit</span>
              <button type="button" name="close" class="close" (click)="modalRef.hide()">&times;</button>
            </th>
          </thead>
          <tbody id="profile-information">
            <tr>
              <th class="data-information">Emri: </th>
              <td class="data-information">{{ userModal.firstName }}</td>
            </tr>
            <tr>
              <th class="data-information">Mbiemri:</th>
              <td class="data-information">{{ userModal.lastName }}</td>
            </tr>
            <tr>
              <th class="data-information">Gjinia:</th>
              <td class="data-information" *ngIf="userModal.gender == 'male'">Mashkull</td>
              <td class="data-information" *ngIf="userModal.gender == 'female'">Femër</td>
              <td class="data-information" *ngIf="userModal.gender == 'other'">Tjetër</td>
            </tr>
            <tr>
              <th class="data-information">Email Adresa:</th>
              <td class="data-information">{{ userModal.email }}</td>
            </tr>
            <tr>
              <th class="data-information">Roli:</th>
              <td class="data-information">{{ userModal.role == "admin" ? 'Administrator' : "Përdorues" }}</td>
            </tr>
          </tbody>
        </table>
        <div class="change-btns">
          <button class='btn btn-primary' id="generate-password-btn" data-toggle="modal" style='margin-top: 10px;' [attr.data-id]="userModal._id"
            (click)="generatePassword($event)">
            Rigjenero fjalëkalimin
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- /Modal for viewing a user or admin profile -->

  <!-- Modal for editing a user or admin -->
  <ng-template #modalEditUser>
    <div id="edit-user-modal">
      <div class="modal-header my-modal-header">
        <h5 class="modal-title">Ndrysho {{ userModal.role == "admin" ? 'administratorin' : "përdoruesin" }}</h5>
        <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" id="edit-user-form" novalidate #edit="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="first-name">Emri</label>
            <input type="text" class="form-control" [(ngModel)]="userModal.firstName" id="firstName" name="first-name" #userName="ngModel"
              required [style.border-color]="userName.errors?.required && userName.touched ? 'red' : '#ced4da'">
            <div *ngIf="userName.errors?.required && userName.touched" class="error-msg">Emri duhet plotësuar!</div>
          </div>
          <div class="form-group">
            <label for="last-name">Mbiemri</label>
            <input type="text" class="form-control" id="editLastName" name="last-name" [(ngModel)]="userModal.lastName" #userLastName="ngModel"
              required [style.border-color]="userLastName.errors?.required && userLastName.touched ? 'red' : '#ced4da'">
            <div *ngIf="userLastName.errors?.required && userLastName.touched" class="error-msg">Mbiemri duhet plotësuar!</div>
          </div>
          <label for="gender">Gjinia</label>
          <br>
          <div class="form-check form-check-inline">
            <input type="text" class="form-check-input" [(ngModel)]='userModal.gender' type="radio" id="editMale" name="gender" value="male"
              checked>
            <label for="male" class="form-check-label">Mashkull</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="text" class="form-check-input" [(ngModel)]='userModal.gender' type="radio" id="editFemale" name="gender" value="female">
            <label for="female" class="form-check-label">Femër</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="text" class="form-check-input" [(ngModel)]='userModal.gender' type="radio" id="editOther" name="gender" value="other">
            <label for="other" class="form-check-label">Tjetër</label>
          </div>
          <div class="my-form-control" id="edit-role">
            <label for="type">Roli</label>
            <br>
            <div class="form-check form-check-inline">
              <input type="text" class="form-check-input" [(ngModel)]='userModal.role' type="radio" id="editAdmin" name="type" value="admin">
              <label for="admin" class="form-check-label">Administrator</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="text" class="form-check-input" [(ngModel)]='userModal.role' type="radio" id="editUser" name="type" value="user">
              <label for="user" class="form-check-label">Përdorues</label>
            </div>
          </div>
        </div>
        <div class="modal-footer my-modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Mbyll</button>
          <button type="submit" value="Submit" id="save-changes" class="btn btn-primary" [disabled]="!edit.valid" [attr.data-id]="userModal._id"
            (click)="editUser($event)">Ruaj ndryshimet</button>
        </div>
      </form>
    </div>
  </ng-template>
  <!-- /Modal for editing a user or admin -->

  <!-- Modal for adding a user or admin -->
  <ng-template #modalAddUser>
    <div id="add-user-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Shto përdoruesin</h5>
        <button type="button" (click)="modalRef.hide()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" class="form-i" novalidate #f="ngForm" (submit)="addUser($event)">
        <div class="modal-body">
          <div class="form-group">
            <label for="first-name">Emri</label>
            <input type="text" class="form-control" [(ngModel)]="user.firstName" id="first-name" name="first-name" #userName="ngModel"
              required [style.border-color]="userName.errors?.required && userName.touched ? 'red' : '#ced4da'">
            <div *ngIf="userName.errors?.required && userName.touched" class="error-msg">Emri duhet plotësuar!</div>
          </div>
          <div class="form-group">
            <label for="last-name">Mbiemri</label>
            <input type="text" class="form-control" id="last-name" name="last-name" [(ngModel)]="user.lastName" #userLastName="ngModel"
              required [style.border-color]="userLastName.errors?.required && userLastName.touched ? 'red' : '#ced4da'">
            <div *ngIf="userLastName.errors?.required && userLastName.touched" class="error-msg">Mbiemri duhet plotësuar!</div>
          </div>
          <label for="gender">Gjinia</label>
          <br>
          <div class="form-check form-check-inline">
            <input type="text" class="form-check-input" [(ngModel)]='user.gender' type="radio" id="male" name="gender" value="male" checked>
            <label for="male" class="form-check-label">Mashkull</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="text" class="form-check-input" [(ngModel)]='user.gender' type="radio" id="female" name="gender" value="female">
            <label for="female" class="form-check-label">Femër</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="text" class="form-check-input" [(ngModel)]='user.gender' type="radio" id="other" name="gender" value="other">
            <label for="other" class="form-check-label">Tjetër</label>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" #userEmail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              required [style.border-color]="userEmail.errors?.required && userEmail.touched ? 'red' : '#ced4da'" [style.border-color]="userEmail.errors?.pattern && userEmail.touched ? 'red' : '#ced4da'">
            <div *ngIf="userEmail.errors?.required && userEmail.touched;else error_email" class="error-msg">Email duhet plotësuar!</div>
            <ng-template #error_email>
              <div *ngIf="userEmail.errors?.pattern && userEmail.touched" class="error-msg">Email duhet të jetë valid!</div>
            </ng-template>
          </div>
          <div class="form-group">
            <label for="password">Fjalëkalimi</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" #userPassword="ngModel"
              minlength="6" required [style.border-color]="userPassword.errors?.required && userPassword.touched ? 'red' : '#ced4da'"
              [style.border-color]="userPassword.errors?.minlength && userPassword.touched ? 'red' : '#ced4da'">
            <div *ngIf="userPassword.errors?.required && userPassword.touched;else error_length" class="error-msg">Fjalëkalimi duhet plotësuar!</div>
            <ng-template #error_length>
              <div *ngIf="userPassword.errors?.minlength && userPassword.touched" class="error-msg">Fjalëkalimi duhet të jetë më i gjatë se 6 karaktere!</div>
            </ng-template>
          </div>
          <div class="my-form-control">
            <label for="type">Roli</label>
            <br>
            <div class="form-check form-check-inline">
              <input type="text" class="form-check-input" [(ngModel)]='user.role' type="radio" id="admin" name="type" value="admin" checked>
              <label for="admin" class="form-check-label">Administrator</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="text" class="form-check-input" [(ngModel)]='user.role' type="radio" id="user" name="type" value="user">
              <label for="user" class="form-check-label">Përdorues</label>
            </div>
            <div *ngIf="user.role === 'user' && numberOfDirectorates === 0" class="error-msg">Duhet të ekzistoj së paku një drejtori për të regjistruar përdorues!</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modalRef.hide()" data-dismiss="modal">Mbyll</button>
          <button type="submit" class="btn btn-primary" id="save" value="Submit" [attr.data-id]="user._id" [disabled]="!f.valid">Ruaj</button>
        </div>
      </form>
    </div>
  </ng-template>
  <!-- /Modal for adding a user or admin -->

  <!-- Modal for deactivating a user or admin -->
  <ng-template #modalDeactivateUser>
    <div id="deactivate-user-modal">
      <div class="modal-header deactivate-modal-header">
        <h4 class="modal-title">Deaktivizo përdoruesin</h4>
        <button type="button" class="close" (click)="modalRef.hide()" aria-hidden="true">&times;</button>
      </div>
      <form action="" id="delete-user-form">
        <div class="modal-body">
          <div class="modal-body">
            <p>A jeni i sigurt që dëshironi të deaktivizoni përdoruesin?</p>
          </div>
        </div>
        <div class="modal-footer my-modal-footer">
          <button type="button" class="btn btn-info" (click)="modalRef.hide()">Anuloje</button>
          <button type="button" class="btn btn-danger delete-btn" id="deactivate-button" [attr.data-id]="userModal._id" (click)="deactivateUser($event)">Deaktivizo</button>
        </div>
      </form>
    </div>
  </ng-template>
  <!-- /Modal for deactivating a user or admin -->

  <!-- Modal for activating a user or admin -->
  <ng-template #modalActivateUser>
    <div id="activate-user-modal">
      <div class="modal-header activate-modal-header">
        <h4 class="modal-title">Aktivizo përdoruesin</h4>
        <button type="button" class="close" (click)="modalRef.hide()" aria-hidden="true">&times;</button>
      </div>
      <form action="" id="activate-user-form">
        <div class="modal-body">
          <div class="modal-body">
            <p>A jeni i sigurt që dëshironi të aktivizoni përdoruesin?</p>
          </div>
        </div>
        <div class="modal-footer my-modal-footer">
          <button type="button" class="btn btn-info" (click)="modalRef.hide()">Anuloje</button>
          <button type="button" class="btn btn-success activate-btn" id="activate-button" [attr.data-id]="userModal._id" (click)="activateUser($event)">Aktivizo</button>
        </div>
      </form>
    </div>
  </ng-template>
  <!-- Modal for activating a user or admin -->
</div>