/* Users list style */
.add-btn {
    color: #39a6bd !important;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    background-color: transparent !important;
    border: 1px solid #39a6bd;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
}
.btn:focus {
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0) !important;
}
.add-btn:hover {
  
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff !important;
    background-color: #39a6bd !important;
}
.add-btn:active {
    outline: transparent;
}
.title {
    font-size: 26px;
    color: #39a6bd;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}
.table {
    width:100%;
}
#table-row {
    text-align: center;
    padding-left: 81px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.img-fluid {
    max-width: 100%;
}
.img-col {
    width: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.name {
    font-weight: 500;
    color: #39a6bd;
    margin-bottom: 0;
    font-size: 17px;
}
.position {
    color: #868e96;
    font-size: 13px;
    margin-bottom: 0;
}
.edit-icon {
    color: #868e96;
    width: 17px;
    padding-right: 1%;
    padding-top: 48%;
}
.user-info {
    padding-bottom: 0;
    padding-top: 28px;
    padding-right: 58%;
}
.delete-icon {
    color: #868e96;
    width: 17px;
    padding-top: 47%;
}
.view-icon {
    color: #868e96;
    width: 17px;
    padding-right: 1%;
    padding-top: 47%;
}
.form-i {
    margin-bottom: 0;
}
.name-is-false {
    font-weight: 500;
    color: gray;
    margin-bottom: 0;
    font-size: 17px;
}
.activate-icon {
    color: #868e96;
    width: 17px;
    padding-top: 47%;
}
.active-text {
    margin-bottom: 0;
    color: green;
    font-size: 14px;
    text-align: center;
}
.inactive-text {
    width: 51px;
    margin-bottom: 0;
    color: red;
    font-size: 14px;
}
.blank-div {
    width: 17px;
    padding-right: 15px;
    padding-top: 47%;
}

/* Add user style */
#save {
    background: #32a6bd !important;
    color: white !important;
    border-color: #39a6bd;  
}
.error-msg {
    font-size: 14px;
    color: red;
}
#add-user-modal {
    border: none;
}
#add-user-modal .modal-header {
    background-color: #39a6bd;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
#add-user-modal .modal-footer {
    background-color: #e9ecef;
}
#add-user-btn {
    padding-right: 67px;
}
.my-form-control {
    margin: 10px 0;
}

/* View user style */
#profile-header {
    background-color: #32a6bd;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}
#generate-password-btn {
    background: #32a6bd;
    color: white;
    border-color: #32a6bd;
    margin-left: 20px;
    margin-bottom: 20px;
}
.data-information {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
}

/* Edit user style */
#edit-user-modal {
    padding-left: 0 !important;
}
#edit-role{
    margin-top: 10px;
    margin-bottom: 10px;
}
#edit-user-modal .my-modal-header {
    background-color: #39a6bd;
    color: white;
}
#save-changes {
    background-color: #39a6bd;
    border-color: #39a6bd;
}

/* Delete user style */
.deactivate-modal-header {
    background-color: #39a6bd;
    color: white;
}