<div class="col-md-6">
  <a style="float:left" class="btn btn-outline-primary buttons" id="contracts-buttons" [routerLink]="['']">
    <i class="fa fa-home" aria-hidden="true"></i> Kthehu në ballinë</a>
</div>
<div class="container col-md-12 login-box vertical-middle-align">
  <form class="form-control" id="login-form" novalidate #loginForm="ngForm" (submit)="changePassword($event, loginForm.valid)">
    <div class="login-header">
      <h4>Ndrysho fjalëkalimin</h4>
    </div>
    <label for="password">Fjalëkalimi</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Fjalëkalimi" [(ngModel)]="password"
      #loginPassword="ngModel" required [style.border-color]="loginPassword.errors?.required && (loginPassword.touched || loginForm.submitted) ? 'red' : '#ced4da'">
    <div [hidden]="!loginPassword.errors?.required || (!loginPassword.touched && !loginForm.submitted)">
      <small class="text-danger">Fjalëkalimi duhet plotësuar!</small>
    </div>
    <br/>
    <label for="password">Konfirmo Fjalëkalimin</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Fjalëkalimi" [(ngModel)]="confirmPassword"
      #confirmpassword="ngModel" required [style.border-color]="confirmpassword.errors?.required && (confirmpassword.touched || confirmpassword.submitted) ? 'red' : '#ced4da'">
    <div [hidden]="!confirmpassword.errors?.required || (!confirmpassword.touched && !confirmpassword.submitted)">
      <small class="text-danger">Fjalëkalimi duhet plotësuar!</small>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary" id="login-button">Ndrysho</button>
  </form>
</div>