<div class="row">
    <div class="col-md-6">
      <label for="installmendPayDate{{counter}}">Data e pagesës së situacionit {{counter}}</label>
      <input type="date" name="installmendPayDate{{counter}}" id="installmendPayDate{{counter}}" class="form-control">
    </div>
    <div class="col-md-6">
      <label for="installmentAmoun{{counter}}">Shuma e pagesës së situacionit {{counter}}</label>
      <input type="text" name="'installmentAmoun{{counter}}'" id="installmentAmoun{{counter}}" class="form-control">
  </div>  
</div>